BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #c0c0c0
}
#page {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/main_back.gif) repeat-x; MARGIN-LEFT: auto; WIDTH: 803px; MARGIN-RIGHT: auto
}
.red {
	COLOR: #e00000
}
.redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; COLOR: #ed1c24; LINE-HEIGHT: 115%
}
#toppart {
	CLEAR: both; PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-TOP: 20px; HEIGHT: 30px
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#scanAlert_logo_affiliates {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FLOAT: right; PADDING-BOTTOM: 0px! important; MARGIN: -15px 0px 0px; PADDING-TOP: 0px! important
}
#menutop {
	FLOAT: right; FONT: 0.7em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}
#menutop UL {
	FLOAT: right; LIST-STYLE-TYPE: none
}
#menutop LI {
	PADDING-RIGHT: 20px; DISPLAY: inline
}
#menutop A {
	COLOR: #8a8a8a; TEXT-DECORATION: none
}
#menutop A:hover {
	TEXT-DECORATION: underline
}
#menutop .smb {
	PADDING-RIGHT: 0px; FONT-WEIGHT: bold
}
#tablepart {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/picture_back.png) no-repeat 0px 25px; _background: url(http://images.mcafee.com/promos/17106/picture_back.jpg) no-repeat 0 25px
}
#tablepart2 {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/picture_back2.png) no-repeat 0px 25px; _background: url(http://images.mcafee.com/promos/17106/picture_back2.jpg) no-repeat 0 25px
}
#tablepart3 {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/picture_back3.png) no-repeat 0px 25px; _background: url(http://images.mcafee.com/promos/17106/picture_back3.jpg) no-repeat 0 25px
}
#tablecomp {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/table_back.png) no-repeat 0px 0px; FONT: 0.7em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; MARGIN-LEFT: 30px; WIDTH: 750px; _background: url(http://images.mcafee.com/promos/17106/table_back.gif) no-repeat 0 0
}
#tablecomp A {
	COLOR: #ed1c24; TEXT-DECORATION: none
}
#tablecomp A:hover {
	COLOR: #ab131a; TEXT-DECORATION: none
}
#tablecomp .headertext {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.trusted {
	PADDING-TOP: 110px
}
#tablecomp .headertable {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/table_back_header.png) repeat-x; VERTICAL-ALIGN: middle; HEIGHT: 34px; _background: url(http://images.mcafee.com/promos/17106/table_back_header.gif) repeat-x
}
#tablecomp .borderbottom {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/whitepoint.gif) repeat-x 0px bottom
}
#tablecomp TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 10px; WIDTH: 335px; PADDING-TOP: 10px; FONT-STYLE: normal; TEXT-ALIGN: left
}
#tablecomp TD.vsp {
	WIDTH: 209px; TEXT-ALIGN: center
}
#tablecomp TD.iss {
	WIDTH: 208px; TEXT-ALIGN: center
}
#tablecomp .check {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/tick_green.png) no-repeat 50% 50%; BORDER-BOTTOM: white 1px solid; _background: url(http://images.mcafee.com/promos/17106/tick_green.gif) no-repeat 50% 50%
}
#tablecomp .uncheck {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/tick_gray.png) no-repeat 50% 50%; BORDER-BOTTOM: white 1px solid; _background: url(http://images.mcafee.com/promos/17106/tick_gray.gif) no-repeat 50% 50%
}
#tablecomp .check_s {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/tick_green_s.png) no-repeat 50% 50%; BORDER-BOTTOM: white 1px solid; _background: url(http://images.mcafee.com/promos/17106/tick_green_s.gif) no-repeat 50% 50%
}
#tablecomp .uncheck_s {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/tick_gray_s.png) no-repeat 50% 50%; BORDER-BOTTOM: white 1px solid; _background: url(http://images.mcafee.com/promos/17106/tick_gray_s.gif) no-repeat 50% 50%
}
.whymcafee {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://images.mcafee.com/promos/17106/why_back.gif) white repeat-x 0px bottom; PADDING-BOTTOM: 10px; MARGIN-RIGHT: 10px; PADDING-TOP: 10px
}
.whymcafee UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 30px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.whymcafee LI {
	PADDING-BOTTOM: 7px
}
.offbannervsp {
	MARGIN-TOP: 155px; BACKGROUND: url(http://images.mcafee.com/promos/17106/50off.png) no-repeat right bottom; MARGIN-BOTTOM: 7px; WIDTH: 187px; HEIGHT: 65px; TEXT-ALIGN: left; _background: url(http://images.mcafee.com/promos/17106/50off.gif) no-repeat bottom right
}
.offbanneriss {
	MARGIN-TOP: 155px; BACKGROUND: url(http://images.mcafee.com/promos/17106/50off.png) no-repeat right bottom; MARGIN-BOTTOM: 7px; WIDTH: 203px; HEIGHT: 65px; TEXT-ALIGN: left; _background: url(http://images.mcafee.com/promos/17106/50off.gif) no-repeat bottom right
}
.table_heading {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; LINE-HEIGHT: 1.2em; FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}
.product_title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; LINE-HEIGHT: 1.2em; FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}
P.product_title {
	MARGIN-BOTTOM: 5px
}
.price1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.8em; LINE-HEIGHT: 1em
}
.oldprice1 {
	FONT-SIZE: 95%; COLOR: #000000; LINE-HEIGHT: 1.9em; TEXT-DECORATION: line-through
}
.subscription {
	FONT-SIZE: 1em; MARGIN-LEFT: -5px; COLOR: #000000; LINE-HEIGHT: 2.5em
}
A.button {
	DISPLAY: block; BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn.png); MARGIN-LEFT: 20px; WIDTH: 173px; TEXT-INDENT: -9999px; HEIGHT: 48px; _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn.gif); outline: none
}
A.button .blue {
	DISPLAY: block; BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn.png); MARGIN-LEFT: 20px; WIDTH: 173px; TEXT-INDENT: -9999px; HEIGHT: 48px; _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn.gif); outline: none
}
A.button .green {
	DISPLAY: block; BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn.png); MARGIN-LEFT: 20px; WIDTH: 173px; TEXT-INDENT: -9999px; HEIGHT: 48px; _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn.gif); outline: none
}
A.button:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.gif)
}
.button:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.gif)
}
A.button:active {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_on.gif)
}
A.blue {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_blue.gif)
}
A.blue:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over_blue.gif)
}
.blue:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over_blue.gif)
}
A.blue:active {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_on_blue.gif)
}
A.green {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_green.gif)
}
A.green:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over_green.gif)
}
.green:hover {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over.png); _background: url(http://images.mcafee.com/promos/17106/downloadnow_btn_over_green.gif)
}
A.green:active {
	BACKGROUND: url(http://images.mcafee.com/promos/17106/downloadnow_btn_on_green.gif)
}
.buynowbottomimage {
	MARGIN: 5px 0px 10px 6px; POSITION: static
}
.logobottom {
	PADDING-BOTTOM: 15px
}
.paddleft {
	PADDING-LEFT: 5px
}
.paddcenter {
	TEXT-ALIGN: center
}
#moneyback {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN-LEFT: 10px
}
#moneyback B {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #c60; LINE-HEIGHT: 1.8em
}
#moneyback IMG {
	PADDING-RIGHT: 15px; FLOAT: left
}
#awardspart {
	PADDING-LEFT: 30px; BACKGROUND: url(http://images.mcafee.com/promos/17106/gray_back_bottom.gif) repeat-x 0px top; PADDING-BOTTOM: 15px
}
#awardspart .awardstext {
	PADDING-RIGHT: 35px; PADDING-BOTTOM: 20px
}
#footer {
	MARGIN-TOP: 15px; PADDING-BOTTOM: 15px; FONT: 0.7em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; MARGIN-LEFT: auto; WIDTH: 803px; COLOR: #383838; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
