.BG000000 {
    background-color: #000000;
}

.BG000033 {
    background-color: #000033;
}

.BG000066 {
    background-color: #000066;
}

.BG000099 {
    background-color: #000099;
}

.BG0000CC {
    background-color: #0000CC;
}

.BG0000FF {
    background-color: #0000FF;
}

.BG003300 {
    background-color: #003300;
}

.BG003333 {
    background-color: #003333;
}

.BG003366 {
    background-color: #003366;
}

.BG003399 {
    background-color: #003399;
}

.BG0033CC {
    background-color: #0033CC;
}

.BG0033FF {
    background-color: #0033FF;
}

.BG006600 {
    background-color: #006600;
}

.BG006633 {
    background-color: #006633;
}

.BG006666 {
    background-color: #006666;
}

.BG006699 {
    background-color: #006699;
}

.BG0066CC {
    background-color: #0066CC;
}

.BG0066FF {
    background-color: #0066FF;
}

.BG009900 {
    background-color: #009900;
}

.BG009933 {
    background-color: #009933;
}

.BG009966 {
    background-color: #009966;
}

.BG009999 {
    background-color: #009999;
}

.BG0099CC {
    background-color: #0099CC;
}

.BG0099FF {
    background-color: #0099FF;
}

.BG00CC00 {
    background-color: #00CC00;
}

.BG00CC33 {
    background-color: #00CC33;
}

.BG00CC66 {
    background-color: #00CC66;
}

.BG00CC99 {
    background-color: #00CC99;
}

.BG00CCCC {
    background-color: #00CCCC;
}

.BG00CCFF {
    background-color: #00CCFF;
}

.BG00FF00 {
    background-color: #00FF00;
}

.BG00FF33 {
    background-color: #00FF33;
}

.BG00FF66 {
    background-color: #00FF66;
}

.BG00FF99 {
    background-color: #00FF99;
}

.BG00FFCC {
    background-color: #00FFCC;
}

.BG00FFFF {
    background-color: #00FFFF;
}

.BG330000 {
    background-color: #330000;
}

.BG330033 {
    background-color: #330033;
}

.BG330066 {
    background-color: #330066;
}

.BG330099 {
    background-color: #330099;
}

.BG3300CC {
    background-color: #3300CC;
}

.BG3300FF {
    background-color: #3300FF;
}

.BG333300 {
    background-color: #333300;
}

.BG333333 {
    background-color: #333333;
}

.BG333366 {
    background-color: #333366;
}

.BG333399 {
    background-color: #333399;
}

.BG3333CC {
    background-color: #3333CC;
}

.BG3333FF {
    background-color: #3333FF;
}

.BG336600 {
    background-color: #336600;
}

.BG336633 {
    background-color: #336633;
}

.BG336666 {
    background-color: #336666;
}

.BG336699 {
    background-color: #336699;
}

.BG3366CC {
    background-color: #3366CC;
}

.BG3366FF {
    background-color: #3366FF;
}

.BG339900 {
    background-color: #339900;
}

.BG339933 {
    background-color: #339933;
}

.BG339966 {
    background-color: #339966;
}

.BG339999 {
    background-color: #339999;
}

.BG3399CC {
    background-color: #3399CC;
}

.BG3399FF {
    background-color: #3399FF;
}

.BG33CC00 {
    background-color: #33CC00;
}

.BG33CC33 {
    background-color: #33CC33;
}

.BG33CC66 {
    background-color: #33CC66;
}

.BG33CC99 {
    background-color: #33CC99;
}

.BG33CCCC {
    background-color: #33CCCC;
}

.BG33CCFF {
    background-color: #33CCFF;
}

.BG33FF00 {
    background-color: #33FF00;
}

.BG33FF33 {
    background-color: #33FF33;
}

.BG33FF66 {
    background-color: #33FF66;
}

.BG33FF99 {
    background-color: #33FF99;
}

.BG33FFCC {
    background-color: #33FFCC;
}

.BG33FFFF {
    background-color: #33FFFF;
}

.BG660000 {
    background-color: #660000;
}

.BG660033 {
    background-color: #660033;
}

.BG660066 {
    background-color: #660066;
}

.BG660099 {
    background-color: #660099;
}

.BG6600CC {
    background-color: #6600CC;
}

.BG6600FF {
    background-color: #6600FF;
}

.BG663300 {
    background-color: #663300;
}

.BG663333 {
    background-color: #663333;
}

.BG663366 {
    background-color: #663366;
}

.BG663399 {
    background-color: #663399;
}

.BG6633CC {
    background-color: #6633CC;
}

.BG6633FF {
    background-color: #6633FF;
}

.BG666600 {
    background-color: #666600;
}

.BG666633 {
    background-color: #666633;
}

.BG666666 {
    background-color: #666666;
}

.BG666699 {
    background-color: #666699;
}

.BG6666CC {
    background-color: #6666CC;
}

.BG6666FF {
    background-color: #6666FF;
}

.BG669900 {
    background-color: #669900;
}

.BG669933 {
    background-color: #669933;
}

.BG669966 {
    background-color: #669966;
}

.BG669999 {
    background-color: #669999;
}

.BG6699CC {
    background-color: #6699CC;
}

.BG6699FF {
    background-color: #6699FF;
}

.BG66CC00 {
    background-color: #66CC00;
}

.BG66CC33 {
    background-color: #66CC33;
}

.BG66CC66 {
    background-color: #66CC66;
}

.BG66CC99 {
    background-color: #66CC99;
}

.BG66CCCC {
    background-color: #66CCCC;
}

.BG66CCFF {
    background-color: #66CCFF;
}

.BG66FF00 {
    background-color: #66FF00;
}

.BG66FF33 {
    background-color: #66FF33;
}

.BG66FF66 {
    background-color: #66FF66;
}

.BG66FF99 {
    background-color: #66FF99;
}

.BG66FFCC {
    background-color: #66FFCC;
}

.BG66FFFF {
    background-color: #66FFFF;
}

.BG990000 {
    background-color: #990000;
}

.BG990033 {
    background-color: #990033;
}

.BG990066 {
    background-color: #990066;
}

.BG990099 {
    background-color: #990099;
}

.BG9900CC {
    background-color: #9900CC;
}

.BG9900FF {
    background-color: #9900FF;
}

.BG993300 {
    background-color: #993300;
}

.BG993333 {
    background-color: #993333;
}

.BG993366 {
    background-color: #993366;
}

.BG993399 {
    background-color: #993399;
}

.BG9933CC {
    background-color: #9933CC;
}

.BG9933FF {
    background-color: #9933FF;
}

.BG996600 {
    background-color: #996600;
}

.BG996633 {
    background-color: #996633;
}

.BG996666 {
    background-color: #996666;
}

.BG996699 {
    background-color: #996699;
}

.BG9966CC {
    background-color: #9966CC;
}

.BG9966FF {
    background-color: #9966FF;
}

.BG999900 {
    background-color: #999900;
}

.BG999933 {
    background-color: #999933;
}

.BG999966 {
    background-color: #999966;
}

.BG999999 {
    background-color: #999999;
}

.BG9999CC {
    background-color: #9999CC;
}

.BG9999FF {
    background-color: #9999FF;
}

.BG99CC00 {
    background-color: #99CC00;
}

.BG99CC33 {
    background-color: #99CC33;
}

.BG99CC66 {
    background-color: #99CC66;
}

.BG99CC99 {
    background-color: #99CC99;
}

.BG99CCCC {
    background-color: #99CCCC;
}

.BG99CCFF {
    background-color: #99CCFF;
}

.BG99FF00 {
    background-color: #99FF00;
}

.BG99FF33 {
    background-color: #99FF33;
}

.BG99FF66 {
    background-color: #99FF66;
}

.BG99FF99 {
    background-color: #99FF99;
}

.BG99FFCC {
    background-color: #99FFCC;
}

.BG99FFFF {
    background-color: #99FFFF;
}

.BGCC0000 {
    background-color: #CC0000;
}

.BGCC0033 {
    background-color: #CC0033;
}

.BGCC0066 {
    background-color: #CC0066;
}

.BGCC0099 {
    background-color: #CC0099;
}

.BGCC00CC {
    background-color: #CC00CC;
}

.BGCC00FF {
    background-color: #CC00FF;
}

.BGCC3300 {
    background-color: #CC3300;
}

.BGCC3333 {
    background-color: #CC3333;
    border-radius: 50% !important;
    height: 22px !important;
    width: 22px !important;
}

.BGCC3366 {
    background-color: #CC3366;
}

.BGCC3399 {
    background-color: #CC3399;
}

.BGCC33CC {
    background-color: #CC33CC;
}

.BGCC33FF {
    background-color: #CC33FF;
}

.BGCC6600 {
    background-color: #CC6600;
}

.BGCC6633 {
    background-color: #CC6633;
}

.BGCC6666 {
    background-color: #CC6666;
}

.BGCC6699 {
    background-color: #CC6699;
}

.BGCC66CC {
    background-color: #CC66CC;
}

.BGCC66FF {
    background-color: #CC66FF;
}

.BGCC9900 {
    background-color: #CC9900;
}

.BGCC9933 {
    background-color: #CC9933;
}

.BGCC9966 {
    background-color: #CC9966;
}

.BGCC9999 {
    background-color: #CC9999;
}

.BGCC99CC {
    background-color: #CC99CC;
}

.BGCC99FF {
    background-color: #CC99FF;
}

.BGCCCC00 {
    background-color: #CCCC00;
}

.BGCCCC33 {
    background-color: #CCCC33;
}

.BGCCCC66 {
    background-color: #CCCC66;
}

.BGCCCC99 {
    background-color: #CCCC99;
}

.BGCCCCCC {
    background-color: #CCCCCC;
}

.BGCCCCFF {
    background-color: #CCCCFF;
}

.BGCCFF00 {
    background-color: #CCFF00;
}

.BGCCFF33 {
    background-color: #CCFF33;
}

.BGCCFF66 {
    background-color: #CCFF66;
}

.BGCCFF99 {
    background-color: #CCFF99;
}

.BGCCFFCC {
    background-color: #CCFFCC;
}

.BGCCFFFF {
    background-color: #CCFFFF;
}

.BGFF0000 {
    background-color: #FF0000;
}

.BGFF0033 {
    background-color: #FF0033;
}

.BGFF0066 {
    background-color: #FF0066;
}

.BGFF0099 {
    background-color: #FF0099;
}

.BGFF00CC {
    background-color: #FF00CC;
}

.BGFF00FF {
    background-color: #FF00FF;
}

.BGFF3300 {
    background-color: #FF3300;
}

.BGFF3333 {
    background-color: #FF3333;
}

.BGFF3366 {
    background-color: #FF3366;
}

.BGFF3399 {
    background-color: #FF3399;
}

.BGFF33CC {
    background-color: #FF33CC;
}

.BGFF33FF {
    background-color: #FF33FF;
}

.BGFF6600 {
    background-color: #FF6600;
}

.BGFF6633 {
    background-color: #FF6633;
}

.BGFF6666 {
    background-color: #FF6666;
}

.BGFF6699 {
    background-color: #FF6699;
}

.BGFF66CC {
    background-color: #FF66CC;
}

.BGFF66FF {
    background-color: #FF66FF;
}

.BGFF9900 {
    background-color: #FF9900;
}

.BGFF9933 {
    background-color: #FF9933;
}

.BGFF9966 {
    background-color: #FF9966;
}

.BGFF9999 {
    background-color: #FF9999;
}

.BGFF99CC {
    background-color: #FF99CC;
}

.BGFF99FF {
    background-color: #FF99FF;
}

.BGFFCC00 {
    background-color: #FFCC00;
}

.BGFFCC33 {
    background-color: #FFCC33;
}

.BGFFCC66 {
    background-color: #FFCC66;
}

.BGFFCC99 {
    background-color: #FFCC99;
}

.BGFFCCCC {
    background-color: #FFCCCC;
}

.BGFFCCFF {
    background-color: #FFCCFF;
}

.BGFFFF00 {
    background-color: #FFFF00;
}

.BGFFFF33 {
    background-color: #FFFF33;
}

.BGFFFF66 {
    background-color: #FFFF66;
}

.BGFFFF99 {
    background-color: #FFFF99;
}

.BGFFFFCC {
    background-color: #FFFFCC;
}

.BGFFFFFF {
    background-color: #FFFFFF;
}

.BG0055AA {
    background-color: #0055AA;
    border-radius: 50% !important;
    height: 22px !important;
    width: 22px !important;
}

.BGF0F8FF {
    background-color: #F0F8FF;
}

.BG2A0A0A {
    background-color: #2A0A0A;
}

.BG3B0B0B {
    background-color: #3B0B0B;
}

.BG610B0B {
    background-color: #610B0B;
}

.BG8A0808 {
    background-color: #8A0808;
}

.BGB40404 {
    background-color: #B40404;
}

.BGDF0101 {
    background-color: #DF0101;
}

.BGFF8080 {
    background-color: #FF8080;
}

.BGFFFF80 {
    background-color: #FFFF80;
}

.BG80FF80 {
    background-color: #80FF80;
}

.BG00FF80 {
    background-color: #00FF80;
}

.BG80FFFF {
    background-color: #80FFFF;
}

.BG0080FF {
    background-color: #0080FF;
}

.BGFF80C0 {
    background-color: #FF80C0;
}

.BGFF80FF {
    background-color: #FF80FF;
}

.BG80FF00 {
    background-color: #80FF00;
}

.BG00FF40 {
    background-color: #00FF40;
}

.BG {
    background-color:;
}

.BG0080C0 {
    background-color: #0080C0;
}

.BG804040 {
    background-color: #804040;
}

.BG804040 {
    background-color: #804040;
}

.BGFF8040 {
    background-color: #FF8040;
}

.BG800000 {
    background-color: #800000;
}

.BGFF8000 {
    background-color: #FF8000;
}

.BG008080 {
    background-color: #008080;
}

.BG008040 {
    background-color: #008040;
}

.BG008000 {
    background-color: #008000;
}

.BG004080 {
    background-color: #004080;
}

.BG8080FF {
    background-color: #8080FF;
}

.BG800040 {
    background-color: #800040;
}

.BGFF0080 {
    background-color: #FF0080;
}

.BG8000FF {
    background-color: #8000FF;
}

.BG800080 {
    background-color: #800080;
}

.BG0000A0 {
    background-color: #0000A0;
}

.BG0000FF {
    background-color: #0000FF;
}

.BG400000 {
    background-color: #400000;
}

.BG804000 {
    background-color: #804000;
}

.BG004000 {
    background-color: #004000;
}

.BG004040 {
    background-color: #004040;
}

.BG000080 {
    background-color: #000080;
}

.BG000040 {
    background-color: #000040;
}

.BG400040 {
    background-color: #400040;
}

.BG400080 {
    background-color: #400080;
}

.BG808000 {
    background-color: #808000;
}

.BG808040 {
    background-color: #808040;
}

.BG808080 {
    background-color: #808080;
}

.BG408080 {
    background-color: #408080;
}

.BGC0C0C0 {
    background-color: #C0C0C0;
}

.BG400040 {
    background-color: #400040;
}
