
.calendar
{
  border:none;
}

.day
{
  width:25px;
  height:15px;
  text-align:center;
  vertical-align:top;
  font-family:Arial;
  font-size:10px;
  color:Black;
  background-color:#FFFFFF;
  
}
.dayhover
{
  width:25px;
  cursor:pointer;
  text-align:center;
  border-width:1px;
  font-family:Arial;
  font-size:10px;
  color:Black;
  text-decoration:underline;
}

.DayText
{  
  width:25px;
  cursor:hand;
  text-align:center;
  border-width:1px;
  font-family:Arial;
  font-size:10px;    
}
.month
{
  background-color:#F6F6F6;  
  margin-right:0px;
  margin-bottom:0px;
  margin-top:0px;
}
.monthtitle
{
  text-align:center;
  background-color:#6186B3;
  font-family:Arial;
  font-size:10px;
  color:White;
}


.selectedday
{
  width:25px;
  background-color:#FBE694;
  color:#000000;
  border-width:1px;
   font-family:Arial;
  font-size:10px;
  color:Black;
  border-color:#BB5503;
  border-style:solid;
  font-weight:bold;
}
.weekend
{
  width:25px;
  background-color:#CCCCCC;
  border-width:1px;
  font-family:Arial;
  font-size:10px;
  color:Black;
  font-weight:bold;
}

.othermonthday
{
    visibility:hidden;
}
.month
{
  border-collapse:collapse;
  border:solid 1px black;
}

.dayheader
{
  background-color:#EEEEEE; 
  color:#000000;
  font-family:Verdana;
  font-size:7px;
  text-align:center;
  border-top:solid 1px #FFFFFF;
  border-left:solid 1px Black;
  border-bottom:solid 1px #ACA899;
  border-right:solid 1px Black;
  padding: 3px;
}

.title
{
  background-color:#EEEEEE;  
  border: 1px solid black;
  border-bottom-width: 0px;
}

.title TD
{
  font-family:verdana;
  font-size:11px;
  font-weight:bold;
  color:#567497;
  padding-top:1px;
  padding-bottom:1px;
}

.nextprev
{
  cursor:pointer;
}

