
.comboBox 
{ 

  font-family:Arial;
	font-size:8px;
	width:160px;
	  border: 1px solid #A6A7AA; 
  background-color: white; 

}


.comboBoxHover
{ 
  border: 1px solid #555555; 
  background-color: white; 
}

.comboDropDown 
{ 
  border: 1px solid #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  width: 500px;
  cursor: default;
}

.comboTextBox
{
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Arial; 
  font-size: 10px; 
  
}

.comboTextBoxHover
{
  background-color: #B2B4BF; 
}

.comboItem
{
  font-family: Arial; 
  font-size: 10px; 
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.comboItemHover
{
  background-color: #B2B4BF; 
  background-image: url(../Images/ComponentArt/comboItemBg.gif);
  font-family: Arial; 
  font-size: 10px; 
  border: 1px solid #DBCE99;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}


