/* For day pilot control */
.divLHeader 
{
  width:350px; 
  border-width:1px; 
  float:left; 
  background-color:#6186b3;
  text-align:left;
  height:20px;
  
}
.divRHeader 
{
  width:334px; 
  border-width:1px; 
  float:left; 
  background-color:#6186b3;
  vertical-align:top;
  text-align:right;
  height:20px;
}
.divLHeader1
{
  width:50%;
  border-width:1px; 
  float:left; 
  background-color:#6186b3;
  text-align:left;
  height:20px;
  
}
.divRHeader1
{
 width:50%;
  border-width:1px; 
  float:right; 
  background-color:#6186b3;
  vertical-align:top;
  text-align:right;
  height:20px;
}
.divCalendar 
{
	
   float:left;
 /* vertical-align:top;*/
}

.textWhite
{
	 font-family:Arial;
	 font-size:8pt;
	 color:White;
	 font-weight:bold;
	 text-align:left;
	 padding-left:5px;
	 
	 vertical-align:middle;
	 padding-top:5px;
}

.dayPilotPage
{
	
	padding-top:20px;	
	/*
	padding-left:20px;
	padding-right:0px;
	padding-bottom:0px;
*/
	text-align:center;
	
}

.stdButton1
{
	FONT-SIZE: 8pt; 
	border-style:none;
	font-family:Arial;
	background-color:#EEEEEE;
	CURSOR: pointer; COLOR: #000000; 
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}

.TDLeftRightBorder
{
  border-left: #6375d6 1px solid;
  border-right: #6375d6 1px solid;
}
.TDLeftBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-left: #6375d6 1px solid;
}
.TDRightBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-right: #6375d6 1px solid;
}

.textStyleComPar1
{
	 font-family:Arial;
	 font-size:8pt;
	 color:Black;
	 font-weight:normal;
	 height:8pt;
}

.TRTopBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-top: #6375d6 1px solid;
}

.TableBottomBorderOnly
{
	border-bottom:#6375d6 1px solid;
	border-left: #6375d6 1px solid;
	border-right: #6375d6 1px solid;
	height:20px;
	background-color:#CFDDEE;
}