


*
{
    font-family: "Open Sans", Roboto, Arial !important;
    font-size:8pt;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizitng: border-box;
    -o-box-sizing: border-box;
    margin: 0 auto;
}



img
{
    border: 0px;
}
.maintable
{
    position: relative;
    background-color: #fff;
    margin-top: 15px;
}
.header
{
    line-height: 22px;
    height: 24px;
    color: #000;
    position: relative;
    float: left;
    background: #6186b3;
    width: 100%;
}
.title
{
    font-size: 13px;
    color: #FFF;
    position: relative;
    float: left;
    padding-left: 5px;
    line-height: 2;
}
.subtitle
{
    position: relative;
    float: left;
    background-color: #eeeeee;
    border-left: #77a2d5 solid 1px;
    border-right: #77a2d5 solid 1px;
    
    width: 100%;
    
}
.maincontent
{
    position: relative;
    float: left;
    width: 100%;
    background-color: #eeeeee;
    border: #77a2d5 solid 1px;
    padding: 8px;
}
.maincontentbgwhite
{
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    border: #77a2d5 solid 1px;
    padding: 8px;
}
.table-left
{
    position: relative;
    float: left;
    width: 8px;
    background-image: url(../Images/Table1L.GIF);
    background-repeat: no-repeat;
}
.table-right
{
    position: relative;
    float: right;
    width: 8px;
    background-image: url(../Images/Table1R.GIF);
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y:top;
    vertical-align:top;
    height:23px;
}
.clear
{
    clear: both;
}
.d_left
{
    position: relative;
    float: left;
}
.d_right
{
    position: relative;
    float: right;
}
.space_top
{
    padding-top: 4px;
}
.space_right
{
    margin-right: 10px;
}
.space_top_15px
{
    padding-top: 15px;
}
.space_top_10px
{
    margin-top: 5px;
}
.space_bottom_5px
{
    margin-bottom: 5px;
}
.space_bottom_10px
{
    margin-bottom: 10px;
}
.space_top_15px
{
    padding-top: 15px;
}
.space_right_10
{
    margin-right: 10px;
}
.space_right_20
{
    margin-right: 20px;
}
.space_left_10
{
    margin-left: 10px;
}
.space_left_20
{
    margin-left: 20px;
}
.submit
{
    border: 0;
    background-color: #eeeeee;
    cursor: pointer;
    background-image: url(../Images/save.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-weight: bold;
    color: #000;
}
.submit:hover
{
    background-color: #eeeeee;
    color: #369;
}
.d_width_10
{
    width: 10%;
}

.d_width_15
{
    width: 15%;
}
.d_width_20
{
    width: 20%;
}
.d_width_25
{
    width: 25%;
}
.d_width_30
{
    width: 30%;
}

.d_width_40
{
    width: 40%;
}
.d_width_45
{
    width: 45%;
}
.d_width_50
{
    width: 50%;
}

.d_width_60
{
    width: 60%;
}

.d_width_70
{
    width: 70%;
}

.d_width_80
{
    width: 80%;
}
.d_width_85
{
    
    }
.d_width_90
{
    width: 90%;
}

.d_width_100%
{
    width: 100%;
}

.d_width_5px
{
    width: 50px;
}

.d_width_10px
{
    width: 100px;
}
.d_width_20px
{
    width: 200px;
}
.d_width_30px
{
    width: 300px;
}

.d_width_40px
{
    width: 400px;
}

.d_width_50px
{
    width: 500px;
}

.d_width_60px
{
    width: 600px;
}

.d_width_70px
{
    width: 700px;
}

.d_width_80px
{
    width: 800px;
}

.d_width_90px
{
    width: 900px;
}

.d_width_100
{
    width: 100%;
}

.btnUpdate
{
    display: inline;
    color: #ffffff;
    font-size: 8pt;
    float: right;
    background: #2fa1db;
    border: 1px solid #2fa1db;
    cursor: pointer;
    position: relative;
    padding: 5px 7px 5px 7px;
    margin-top: 10px;
}
.btnUpdate:hover
{
    color: #ffffff;
    background: #2293cd;
}
.btnCancel
{
    display: inline;
    color: #ffffff;
    font-size: 8pt;
    float: right;
    background: #414f56;
    border: 1px solid #414f56;
    cursor: pointer;
    position: relative;
    padding: 5px 7px 5px 7px;
    margin-top: 10px;
}
.btnCancel:hover
{
    color: #ffffff;
    background: #000000;
}

.btnnewstyle
{
    display: inline;
    color: #000;
    font-size: 8pt;
    background: #eaeaea;
    background: -ms-linear-gradient(top, #fff 0, #f6f6f6 47%, #eaeaea 100%);
    background: linear-gradient(to bottom, #fff 0, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
    border: 1px solid #a6a7a9;
    cursor: pointer;
    background-image: url(../Images/button-bg.jpg) !important;
    background-repeat: repeat-x !important;
    padding: 5px 7px 5px 7px;
    margin-top: 10px;
}
.btnnewstyle:hover
{
    color: #0b1757;
    background: #fff !important;
}
.reportheading
{
    font-size: 13px !important;
    color: #000;
    font-weight:bold !important;
    line-height: 2;
    border-bottom: 1px solid #98AAC0;
}

.reportdetail
{
    font-size: 11px !important;
    color: #466CAD !important;
    line-height: 2 !important;
    padding: 7px 4px 4px 4px !important;
}

.reportdetail a 
{
    font-size: 11px !important;
    color: #466CAD !important;
    line-height: 2 !important;
    padding: 10px 4px 4px 4px !important;
}

.reportdetail a:hover
{
    color: #000000 !important;
}

.reportdetail a:active 
{
    color: #000000 !important;
}

.reportdetaildiv
{
    border-bottom: 1px dotted #CACACA !important;
}

.divgrayborder
{
    border:1px solid #CCC;
    padding:5px;
    background-color:#ffffff;
}

h1 {
	color:#606060;
	font-size:14px;
	line-height:2;
    font-weight:bold;
	padding-bottom:5px;
}
.disabledtxtbox
{
    background-color:Gray !important;
}