body
{
	background-color:white;
    FONT-SIZE: 8.5pt;
    font-family :Arial;
    margin-right:0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

.elblMain
{
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:11px;
	 color:Black;
	 font-weight:bold;
	 height:20px;
	 text-align:right;
	 width:100px;
	 
}

.eTextBox
{
	color:Black;
	font-family:Arial;
	font-size:8.5pt;
	font-weight:normal;
	height:18px;
	width:130px;
	BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-BOTTOM: 1px outset;
}

.eButton
{
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:#EEEEEE;
	CURSOR: hand;  
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}
.ePayrollButton
{
	FONT-SIZE: 8pt;
	font-family:Arial, Helvetica, sans-serif; 
	BORDER-LEFT-COLOR: #c4cace; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF); 
	BACKGROUND-IMAGE: none; 
	BORDER-BOTTOM-COLOR: #c4cace; 
	CURSOR: pointer; COLOR: #000000; 
	BORDER-TOP-COLOR: #c4cace; 
	BACKGROUND-COLOR: #c4cace; 
	BORDER-RIGHT-COLOR: #c4cace;
	BORDER-RIGHT: #555555 1px solid; 
	BORDER-TOP: #555555 1px solid; 
	BORDER-LEFT: #555555 1px solid; 
	BORDER-BOTTOM: #555555 1px solid;
	padding-left:0px;
	padding-right:0px;
	height:23px;
	width:70px;
}
.fullw
{
	width:100%;
}
.full
{
    MIN-HEIGHT: 300px;
    WIDTH: 100%;
    HEIGHT: 100%;
    BACKGROUND-COLOR: #ffffff;
    border:solid 1px black;
}
.textWhiteHeading
{
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#E6EDF6;
	 font-weight:bold;
	 text-align:left;
}
.textWhiteFooter
{
	 font-family:Arial;
	 font-size:10pt;
	 color:White;
	 font-weight:normal;
	 text-align:right;
}
TABLE.stdTableBorder
{
    BORDER-RIGHT: #6375d6 1px solid;
    BORDER-TOP: #6375d6 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    MARGIN: 0px;
    BORDER-LEFT: #6375d6 1px solid;
    BORDER-BOTTOM: #6375d6 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 22px
}
.stdTableBorderForLog
{
    BORDER-RIGHT: #6375d6 1px solid;
    BORDER-TOP: #6375d6 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    MARGIN: 0px;
    BORDER-LEFT: #6375d6 1px solid;
    BORDER-BOTTOM: #6375d6 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 50px
}
TD.stdTableBorder
{
    BORDER-RIGHT: #6375d6 1px solid;
    BORDER-TOP: #6375d6 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    MARGIN: 0px;
    BORDER-LEFT: #6375d6 1px solid;
    BORDER-BOTTOM: #6375d6 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 22px
}
.poweredby
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Tahoma, Arial;
    TEXT-DECORATION: none
}
A.poweredby:hover
{
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #00ff02;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Arial;
    TEXT-DECORATION:none;
}
.stdDrpDown
{
	font-family:Arial;
	font-size:8pt;
	height:20px;
	width:120px;
}