body
{
	background-color:White;
}

.stdtable
{
	width:100%;
	height:100%;
}

.stdSubTable
{
	width:50%;
}

.stdtablelogin
{
	background-color:white;
	background-repeat:no-repeat;
	border-style:solid;
	border-width:1px;
	width:300px;
}

.stdFrame
{
	border-style:solid;
	border-color:#6375D6;
	border-width:1px;
	height:100%;
	width:100%;
}
.stdFrame1
{
	border-style:solid;
	border-width:1px;
	height:100%;
	width:100%;
}
.stdLable
{
	font-family:Arial,Verdana;
	font-size:8pt;
	font-weight:bold;
	text-align:right;	
	vertical-align:middle;
	width:100px;
}

.textWhite
{
	 font-family:Arial,Verdana;
	 font-size:8pt;
	 color:White;
	 font-weight:bold;
	 text-align:left;
}
.tdDept
{
	 height:25px;
}
.tdDeptAdmin
{
	height:24px;
	
}

.text
{
	 font-family:Arial,Verdana;
	 font-size:8pt;
	 color:Black;
	 font-weight:normal;
	 height:10px;
	 text-align:left;
}

.textDept
{
	 font-family:Arial,Verdana;
	 font-size:8pt;
	 color:Black;
	 font-weight:normal;
	 height:10px;
	 text-align:left;
	 vertical-align:middle;
}

.HeaderGrid
{
	text-align:left;
	color:Black;
	font-family:Arial,Verdana;
	font-size:8pt;
	font-weight:normal;
	line-height:20px;
	
}
.FooterGrid
{
	line-height:20px;
	
}
.tableBorder
{
	border:solid,1px,#6375D6;
	border-bottom-color:#6375D6;
	border-left-color:#6375D6;
	border-right-color:#6375D6;	
}

.stdRowDefault
{
	background-color:White;
	font-family:Arial;
	font-size:8pt;
	font-style:normal;
	height:20px;
	vertical-align:top;
}

.tableBorderMain
{
	BORDER-RIGHT: #6375d6 1px solid; BORDER-LEFT: #6375d6 1px solid;
}

.tableBorderMainSub
{
	BORDER-LEFT: #6375d6 1px solid;
}
.tableBorderMainSubSub
{
	BORDER-RIGHT: #6375d6 1px solid;
}

.tableBorderMainBottom
{
	 BORDER-LEFT: #6375d6 1px solid;border-bottom:#6375d6 1px solid;
}

.tableBorderMainBottom1
{
	 BORDER-Right: #6375d6 1px solid;border-bottom:#6375d6 1px solid;
	  background-color:#EEEEEE;
}

.tableBorderMainBottom2
{
	 border-bottom:#6375d6 1px solid;
	 background-color:#EEEEEE;
}

.td
{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#6375d6;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#6375d6;
}
.td1
{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#6375d6;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#6375d6;
	
}
.td2
{
	
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#6375d6;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#6375d6;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#6375d6;
}
.innerpageheaderl {
	TABLE-LAYOUT: fixed; BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(Images/Table1L.gif); WIDTH: 2px;  height:24px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #6186b3
}

.innerpageheaderR {
	TABLE-LAYOUT: fixed; BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/Table1R.gif); WIDTH: 2px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #6186b3

}




.innerpagefixed 
{
	MARGIN-LEFT: auto; WIDTH: 450px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #6375d6 1px solid; BACKGROUND-COLOR: #f3f3f3
}



.TDRightImg
{
	background:#6186b3;
	vertical-align:top;
}

.stdImgTable
{
	background-image:url("Images/login4.gif");
	background-repeat:no-repeat;

}

.stdSubmitBtn
{
	FONT-SIZE: 8pt; 
	BORDER-LEFT-COLOR: #c4cace; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF); 
	BACKGROUND-IMAGE: none; 
	BORDER-BOTTOM-COLOR: #c4cace; 
	CURSOR: hand; COLOR: #000000; 
	BORDER-TOP-COLOR: #c4cace; 
	BACKGROUND-COLOR: #c4cace; 
	BORDER-RIGHT-COLOR: #c4cace;
	BORDER-RIGHT: #555555 1px solid; 
	BORDER-TOP: #555555 1px solid; 
	BORDER-LEFT: #555555 1px solid; 
	BORDER-BOTTOM: #555555 1px solid;
	padding-left:5px;
	padding-right:5px;
}

.stdSearchBtn
{
	FONT-SIZE: 8pt; 	
	cursor:hand;
	height:20px;
	background-color:#F7F7F5;
	BACKGROUND-IMAGE: none; 
	vertical-align:middle;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#6375d6;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#6375d6;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#6375d6;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#6375d6;
		
}
.stdButton
{
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:#EEEEEE;
	padding-left:5px;
	CURSOR: hand; COLOR: #000000; 
	BACKGROUND-IMAGE: none; 
	text-align:right;
	vertical-align:middle;
}

.stdCellButton
{
	FONT-SIZE: 8pt; 
    color:#0000FF;
    cursor:hand;
    text-decoration:underline;
	border-width:0px;
	background-color:Transparent;
	background-image:none;
	text-align:center;
	vertical-align:middle;
}
.stdCellButtonDelete
{
	FONT-SIZE: 8pt; 
    color:#0000FF;
    cursor:hand;
    text-decoration:underline;
	border-width:0px;
	background-color:Transparent;
	background-image:none;
	text-align:center;
	vertical-align:text-top;
}

.stdCellButtonLockPayroll
{
	FONT-SIZE: 8pt; 
    color:#0000FF;
    cursor:hand;
    text-decoration:underline;
	border-width:0px;
	background-color:Transparent;
	background-image:none;
	text-align:left;
	vertical-align:middle;
}


.stdCellButtonWithoutlink
{
	FONT-SIZE: 8pt; 
    color:#0000FF;
    border-width:0px;
	background-color:Transparent;
	background-image:none;
	text-align:center;
	vertical-align:middle;
}
.stdCellClass
{
	font-size:8pt;
	cursor:auto;
	background-color:Transparent;
	text-align:left;
	vertical-align:middle;
	visibility:visible;
	height:7px;
}
.stdTddiscussion
{
	background-color:"#ffffff";
	border-bottom-color:#6375D6;
	border-bottom-width:1px;
	border-right-color:#6375D6;
	border-right-width:1px;
}

.stdDropDown
{
 background-color:#EEEEEE;
 height:3px;
 width:200px;
 font-family:Arial,Verdana;
 font-size:8pt;
 color:Black;
 font-weight:normal;
 vertical-align:middle;
 border-width:0px;
}

.textNoData
{
	 font-family:Arial;
	 font-size:8pt;
	 color:Black;
	 font-weight:normal;
	 text-align:left;
}
.stdlink
{
	cursor:hand;
		
}

.datagridbuttonbarlink {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none; text-align:left; vertical-align:middle;
}

.stdDropDownGridCol
{
	 font-family:Arial,Verdana;
	 font-size:8pt;
	 cursor:auto;
	 color:Black;
	 font-weight:normal;
	 text-align:left;
	 width:40px;
}

.stdColumn
{
	cursor:hand;
}

.stdCancel
{
	font-family:Arial;
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:Transparent;
	CURSOR: hand; COLOR: #000000; 
	BACKGROUND-IMAGE: none; 
	text-align:left;
	vertical-align:middle;
	text-decoration:none;
	text-align:right;
}

.stdFrameNoTopBorder
{
	border-bottom:solid 1px #6375D6;
	border-left:solid 1px #6375D6;
	border-right:solid 1px #6375D6;
	height:100%;
	width:100%;
}

.stdEpayUltTab
{
	
	background-color:#eeeeee;
}

.stdEPAyTabStyle
{
	height:21px;
	font-size:8pt;
	font-family:Arial;
	font-weight:normal;
}
.stdEPaySelectedTabStyle
{
	height:21px;
	font-size:8pt;
	font-family:Arial;
	font-weight:bold;
}
.stdImageColumn
{
	 BACKGROUND-POSITION:right top; BACKGROUND-IMAGE: url(images/Help.gif); WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; 	
}
.stdEditCell
{
	 background-color:White;
	 background-repeat:no-repeat;
	 border-style:none;
	 display:inline;
	 font-size:8pt;
	 font-family:Arial;
	 overflow:hidden;
	 text-align:right;
}

.HeaderGrid1
{
	text-align:right;
	color:Black;
	font-family:Arial,Verdana;
	font-size:8pt;
	font-weight:normal;
	line-height:20px;
	
}

