
.BodyBackColor
{
    background-color: #567497;
}

TD.leftpan
{
    height: 100%;
    background-color: #567497;
}
TABLE.leftpan
{
    height: 100%;
    background-color: #567497;
}
.fullh
{
    height: 100%;
}

td.lbgroupl
{
    background-position: left top;
    background-image: url(../Images/Table2L.gif);
    width: 2px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
td.lbgroupr
{
    background-position: right top;
    background-image: url(../Images/Table2R.gif);
    width: 2px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

td.lbgroupc
{
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: #cfddee;
}
td.lbgroupcMB
{
    border-right: #ffffff 1px solid;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-left: #ffffff 1px solid;
    padding-top: 4px;
    background-color: #FFFFCC;
}
td.lbgroupcBorderTop
{
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: #cfddee;
    border-top: #ACA899 1px solid;
}
TD.lbitem
{
    padding-right: 2px;
    padding-left: 2px;
    font-size: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: Arial;
    vertical-align: middle;
}


TABLE.lbitem
{
    font-size: 8pt;
    width: 100%;
    color: #000000;
    font-family: Arial;
    background-color: #cfddee;
}
TABLE.fullWidth
{
    width: 100%;
}

A.lbitem
{
    color: #000066;
}



.StdLblServer
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    font-style: normal;
}
TABLE.lbgroup
{
    border-right: #ffffff 0px solid;
    border-top: #ffffff 0px solid;
    font-size: 10px;
    margin-bottom: 14px;
    border-left: #ffffff 0px solid;
    width: 100%;
    color: #000000;
    border-bottom: #ffffff 1px solid;
    font-family: arial, Sans-serif;
}
td.lbgroup
{
    padding-right: 2px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 2px;
    color: #215dc6;
    padding-top: 2px;
    background-color: #ffffff;
    text-align: left;
}
.ToolTip
{
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    color: #3355cc;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: #3355cc 1px dashed;
    cursor: help;
}
.stdButton
{
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: hand;
    color: #000000;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdImageHelp
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input.btnhov
{
    cursor: hand;
    color: Red;
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}
.btnhovLink
{
    cursor: hand;
    color: Red;
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: underline;
}
.btnhovLink1
{
    cursor: hand;
    color: black;
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: underline;
}

.sitethinLink, td.sitethinLink
{
    font-size: 9pt;
    color: #000099;
    text-decoration: none;
    font-family: Arial;
    vertical-align: middle;
}
A.sitethinLink:hover
{
    font-size: 9pt;
    color: #FF0000;
    text-decoration: none;
    font-family: Arial;
}

.poweredby
{
    font-size: 9pt;
    font-weight: bold;
    color: #000099;
    text-decoration: none;
    font-family: Arial;
}
A.poweredby:hover
{
    font-size: 9pt;
    color: #800000;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}

tr.rowLostFocus
{
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    background-color: #EFEFEF;
}

tr.rowGetFocus
{
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    background-color: #FFFFF9;
}
/*#EAFFDF*/
tr.rowSelected
{
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    background-color: #FFE0C1;
}
input.btnLogOut
{
    font-size: 8pt;
    border-style: none;
    background-color: #CFDDEE;
    cursor: hand;
    color: #000000;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
input.btnhovLogout
{
    cursor: hand;
    color: Red;
    font-family: Arial;
    font-size: 8pt;
    border-style: none;
    background-color: #CFDDEE;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.TRDisplayBlock
{
    display: inline;
}

.ImgArrowClass
{
    vertical-align: middle;
    height: 11;
    width: 7;
}

.ascentlink
{
    font-family: helvetica,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: midnightblue;
    text-decoration: none;
    font-weight: bold;
}

.ascentlink:hover
{
    color: red;
}

