a#Button1:link {
    color: Black;
}

a#Button1:hover {
    color: red;
}

.textWhite {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: White;
    font-weight: bold;
    text-align: left;
}

.TDRightImg {
    background: #6186b3;
    vertical-align: top;
}

.trleftright {
    border-left: #6375d6 2px solid;
    border-right: #6375d6 2px solid;
}

.tdBorderleft {
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tdBorderRight {
    border-right: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tdBorderMiddle {
    border-bottom: #6375d6 1px solid;
}

.tdBorderLeftOnly {
    border-left: #6375d6 1px solid;
}

.tdBorderRightOnly {
    border-right: #6375d6 1px solid;
}

.tdBorderBottomOnly {
    border-bottom: #6375d6 1px solid;
}

.tdBorderTopOnly {
    border-top: #6375d6 1px solid;
}

.tdBorderAll {
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tdBorderLeftNoBlue {
    border-left: #7F9DB9 1px solid;
    border-bottom: #7F9DB9 1px solid;
}

.tdBorderRightNoBlue {
    border-right: #7F9DB9 1px solid;
    border-bottom: #7F9DB9 1px solid;
}

.tblBorderAll {
    border-top: #d6d6d6 1px solid;
    border-right: #d6d6d6 1px solid;
    border-left: #d6d6d6 1px solid;
    border-bottom: #d6d6d6 1px solid;
}

.tblBorderAllBlue {
    border-top: #6375d6 1px solid;
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tblBorderAllGray {
    border-top: #ACA899 1px solid;
    border-right: #ACA899 1px solid;
    border-left: #ACA899 1px solid;
    border-bottom: #ACA899 1px solid;
}

.tblBorderAllGreen {
    border-top: #316563 1px solid;
    border-right: #316563 1px solid;
    border-left: #316563 1px solid;
    border-bottom: #316563 1px solid;
}

.tdBorderRB {
    border-right: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.textStyle {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt !important;
    color: Black;
    font-weight: normal;
}

.stdtextstyleleft {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    text-align: left;
}

.textStyle1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 14px;
    text-align: left;
}

.textStyleLeave {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8px;
    text-align: right;
}

.textStyle1Bold {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
    color: Black;
    height: 8px;
    text-align: left;
}

.textStyleRedNormal {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Red;
    font-weight: normal;
    height: 8px;
    text-align: left;
}

.textStyle3 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #006666;
    font-weight: normal;
    height: 8px;
    text-align: left;
}

.textStyle4 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: black;
    font-weight: normal;
    height: 8px;
    text-align: right;
}

.textStyleRightBlue {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #5D5DFF;
    font-weight: normal;
    height: 8px;
    text-align: right;
}


.lblEDCodes {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: black;
    font-weight: normal;
    height: 8px;
    text-align: right;
    padding-left: 2px;
}

.textStyle5 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #006666;
    font-weight: normal;
    height: 8px;
    text-align: left;
    font-weight: bold;
}

.textStyleRightBold {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
    height: 8px;
    text-align: right;
    color: #006666;
}

.textStyle1BoldCenter {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
    color: Black;
    text-align: center;
}

.textStyleBlue {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #6186B3;
    font-weight: bold;
    height: 8px;
    text-align: right;
    color: #006666;
}

.textStyleCode {
    font-family: "Courier New";
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 14px;
    text-align: left;
}

.showInsertRow {
    display: block;
}

.NoDisplayDiv {
    display: none;
}

.StdLblServer {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
    font-style: normal;
}

.tcBorderAll {
    width: 650px;
    border-right: #d6d6d6 1px solid;
    border-left: #d6d6d6 1px solid;
    border-bottom: #d6d6d6 1px solid;
    border-top: #d6d6d6 1px solid;
    background-color: White;
    font-weight: normal;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
}

.ReimStdButton {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 35px;
}

.ReimPostAttendanceButton {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 35px;
    text-decoration: underline;
    color: #1F45FC;
    border-bottom: 1px dashed #1F45FC;
}

.ReimStdSaveDraft {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 70px;
}

.ReimStdBtnApprove {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 45px;
}

.stdButtonWithLeftImage {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    background-image: Images/save.gif;
    background-repeat: no-repeat;
}

.stdButton {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonWithBlueText {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    color: Blue;
    background-color: #ffffff;
    cursor: pointer;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonPassive {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    font-weight: bold;
    cursor: hand;
    color: #6186B3;
    text-align: right;
    vertical-align: middle;
    text-decoration: underline;
}

.stdButtonActive {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    font-weight: bold;
    cursor: hand;
    color: Black;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdButton1 {
    font-size: 8pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #EEEEEE;
    cursor: pointer;
    color: #000000;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}


input.btnhov {
    cursor: pointer;
    color: Red;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonDivSH {
    font-size: 8pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #FFFFFF;
    cursor: pointer;
    color: Red;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonDiv {
    font-size: 15pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #EEEEEE;
    cursor: pointer;
    color: Red;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonDivReim {
    font-size: 12pt;
    font-weight: bold;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #EEEEEE;
    cursor: pointer;
    color: Red;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    height: 20px;
    width: 15px;
}

.stdButtonDivRed {
    font-size: 8pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #EEEEEE;
    color: Red;
    cursor: pointer;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
}

.btnhovDiv {
    cursor: pointer;
    color: Red;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 15pt;
    border-style: none;
    background-color: #EEEEEE;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.stdButtonRptViewer {
    cursor: hand;
    color: Red;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #f5f5f5;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

input.btnhovRptViewer {
    cursor: pointer;
    color: Red;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #f5f5f5;
    background-image: none;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.essExceptionButton {
    font-size: 8pt;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none;
    border-bottom-color: #c4cace;
    cursor: hand;
    color: #000000;
    border-top-color: #c4cace;
    background-color: #c4cace;
    border-right-color: #c4cace;
    border-right: #555555 1px solid;
    border-top: #555555 1px solid;
    border-left: #555555 1px solid;
    border-bottom: #555555 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    width: 80px;
}

.lblMsgStyle {
    font-family: "Open Sans", Roboto, Arial !important;
    font-weight: normal;
    font-size: 8pt;
}

.ePayrollButton {
    font-size: 8pt !important;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none !important;
    border-bottom-color: #c4cace !important;
    cursor: pointer !important;
    color: #000000 !important;
    border-top-color: #c4cace !important;
    background-color: #c4cace !important;
    border-right-color: #c4cace !important;
    border-right: #555555 1px solid !important;
    border-top: #555555 1px solid !important;
    border-left: #555555 1px solid !important;
    border-bottom: #555555 1px solid !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    display: block !important;
}

.ePayrollButtonResetNew {
    font-size: 8pt;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none;
    border-bottom-color: #c4cace;
    cursor: pointer;
    color: #000000;
    border-top-color: #c4cace;
    background-color: #c4cace;
    border-right-color: #c4cace;
    border-right: #555555 1px solid;
    border-top: #555555 1px solid;
    border-left: #555555 1px solid;
    border-bottom: #555555 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    width: 200px;
}

.ePayrollButtonNextNew {
    font-size: 8pt;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none;
    border-bottom-color: #c4cace;
    cursor: pointer;
    color: #000000;
    border-top-color: #c4cace;
    background-color: #c4cace;
    border-right-color: #c4cace;
    border-right: #555555 1px solid;
    border-top: #555555 1px solid;
    border-left: #555555 1px solid;
    border-bottom: #555555 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    width: 70px;
}

.ePayrollLinkButton {
    font-size: 8pt;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none;
    border-bottom-color: #c4cace;
    cursor: pointer;
    color: #000000;
    border-top-color: #c4cace;
    background-color: #c4cace;
    border-right-color: #c4cace;
    border-right: #555555 1px solid;
    border-top: #555555 1px solid;
    border-left: #555555 1px solid;
    border-bottom: #555555 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    color: #304E78;
    font-weight: bold;
    text-decoration: none;
}

.stdDropDownNew {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 160px;
}

.textStyleComPar {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8pt;
    text-align: left;
    width: 60px;
}

.stdDrpDownImport {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 120px;
}

.stdDrpDownImport1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 70px;
}

.stdExpenseDrpDown {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 140px;
}

.stdDrpDownMonth {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 80px;
}

.stdDrpDownYear {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 60px;
}

.stdDrpDownUserLog {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 100px;
}

.stdDropDownGeneric {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
}

.tdBorderAll {
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tdBorderBottomLeft {
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tdBorderAllIncTop {
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
    border-top: #6375d6 1px solid;
}

.stdTextBoxSmall11 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdCTCDark {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    background-color: #CCCCFF;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdCTCPink {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    background-color: #dff0d8;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdCTCTextBoxReadOnlyPink {
    background-color: #FFDFF8;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdCTCYellow {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    background-color: #FFFFE8;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxEmpNo {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
    padding-left: 3px;
}

.stdTextBoxEmpNoBusStop {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 250px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextCTCDarkYellow {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: left;
    background-color: #FFFFE8;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxSubject {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 300px;
    text-align: left;
    border: #7F9DB9 1px solid;
    padding-left: 2px;
}

.stdExpenseTextBox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 80px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTxtExpenseHead {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 250px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxReimDate {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTxtMonths {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 40px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTxtMonthsReadonly {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 40px;
    text-align: right;
    background-color: #FFFFF0;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxEmpNoRight {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvbl {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 90px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdGRTextBoxAvblLitGreen {
    background-color: #B1DDE2;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdGRTextBoxAvblYellow {
    background-color: #FFFFC6;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdCTCTextBoxReadOnlyBlue {
    background-color: #CCCCFF;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblYellow {
    background-color: #FFFFE8;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblLitGreen {
    background-color: #ECF8F9;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxCTCLimits {
    background-color: #EBEFFC;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxCTCOld {
    background-color: #FFFFE8;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblDarkGreen {
    background-color: #D1EFF1;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblLitPink {
    background-color: #F5EEFD;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblLitWhite {
    background-color: #FFFFFF;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 65px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAvblPink {
    background-color: #FBEBFF;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 90px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxTot {
    background-color: #E8E8D0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 90px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxDetailAmtTot {
    background-color: #E8E8D0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.HelpImage {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor: hand;
    vertical-align: middle;
}

.LabelSysParam {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #ffffff;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

.LabelSysParam1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #EEEEEE;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
}

.LabelLeave {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.LabelShowHide {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: #FFFFFF;
    color: Red;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

.LabelGrid {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.LabelGridTooltip {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: Transparent;
    color: #3355cc;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: #3355cc 1px dashed;
    cursor: help;
}

.LabelConform {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    color: #000000;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

.stdTextBoxReadOnlyNo {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    text-align: right;
    font-size: 8pt;
    height: 20px;
    width: 210px;
    border-style: groove;
}

.stdTextBoxReadOnlyIT {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    text-align: right;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-style: groove;
}

.stdTextBoxReadOnlyIT1 {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    text-align: right;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-style: groove;
}

.stdTextBoxReadOnlyLeave {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    text-align: right;
    font-size: 8pt;
    height: 20px;
    border-style: groove;
}

.tdBorderleftSingle {
    border-left: #6375d6 1px solid;
}

.tdBorderSingle {
    border-right: #6375d6 1px solid;
}

.stdTextBox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxComAdd {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 150px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxOthers {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 180px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxSmallRO {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-style: groove;
}

.stdTextBoxMiDReadOnly {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 150px;
    border-style: groove;
}

.stdTextBoxReadOnly {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 210px;
    border-style: groove;
}

.stdTextBoxReadOnlyPD {
    background-color: #EDECE9;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    color: Black;
    padding-left: 4px;
}

.stdTextBoxBig {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 210px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
    padding-left: 4px;
}

.tdBorderLeftRight {
    border-left: #6375d6 1px solid;
    border-right: #6375d6 1px solid;
}

.tdBorderLeftRightBottom {
    border-left: #6375d6 1px solid;
    border-right: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.tableBorderMainType {
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
    border-top: #6375d6 1px solid;
}

.stdCellButton {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #0000FF;
    cursor: hand;
    text-decoration: underline;
    border-width: 0px;
    background-color: Transparent;
    background-image: none;
    text-align: center;
    vertical-align: middle;
}

.tableBorderMainTopLessType {
    border-right: #6375d6 1px solid;
    border-left: #6375d6 1px solid;
    border-bottom: #6375d6 1px solid;
}

.textStyleMessage {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8px;
    text-align: left;
    color: #CC0000;
}

.textStyleBlackSmal {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8px;
    text-align: center;
    color: Black;
}

.textStyleBlackSmalNew {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Red;
    font-weight: normal;
    height: 8px;
    text-align: center;
}

.textStyleBlack {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9.5pt;
    color: Black;
    font-weight: normal;
    height: 8px;
    text-align: center;
    color: Black;
}

.textBlue {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Blue;
    font-weight: bold;
    text-align: left;
}

.STTxtTDStyle {
    font-family: "Open Sans", Roboto, Arial !important;
    height: 19px;
    text-align: left;
    font-size: 8pt;
}

.stdTextBoxReadOnlyCom {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 675px;
    border-style: groove;
}

.stdTextBoxCom {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 35px;
    width: 675px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTBPassword {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 35px;
    width: 490px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxPI {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxReadOnlyPI {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    text-align: right;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-style: groove;
}

.textCls {
    font-size: 8pt;
    color: black;
    font-family: "Open Sans", Roboto, Arial !important;
}

.RedBoldText {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt;
    font-weight: bold;
    color: Red;
}

.stdMailMsg {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 485px;
    height: 120px;
}

.stdLeaveDesc {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 350px;
    height: 80px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdLeaveReason {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 290px;
    height: 75px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdLeaveDescRO {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 350px;
    height: 80px;
    border-style: groove;
}

.stdLeaveReasonRO {
    background-color: #FFFFF0;
    border-style: groove;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 300px;
    height: 75px;
}

.stdODReason {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 300px;
    height: 75px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.NonVisible {
    display: none;
}

.ePayrollButtonNextStep {
    font-size: 8pt;
    font-family: "Open Sans", Roboto, Arial !important;
    border-left-color: #c4cace;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF);
    background-image: none;
    border-bottom-color: #c4cace;
    cursor: pointer;
    color: #000000;
    border-top-color: #c4cace;
    background-color: #c4cace;
    border-right-color: #c4cace;
    border-right: #555555 1px solid;
    border-top: #555555 1px solid;
    border-left: #555555 1px solid;
    border-bottom: #555555 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    height: 23px;
    width: 80px;
}

.RestictMsgStyle1 {
    font-size: 9pt;
    color: #3333ff;
    font-family: "Open Sans", Roboto, Arial !important;
    display: inline;
    width: 468px;
    height: 31px;
}

.stdTextBoxQuestion {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 250px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxAnswer {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 180px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdListBox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 150px;
    width: 185px;
}

.stdClassUploadFile {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    cursor: hand;
    text-align: left;
}


.stdDrpHead {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdDrpgridHead {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdDrpgridHeadBusStop {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
    width: 275px;
}

.stdClaimNameTextbox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 180px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.StdLblServer1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
    font-style: normal;
    color: #6186B3;
    text-align: left;
}

.TextBoxMessage {
    width: 655px !important;
    height: 150px;
    font-family: "Open Sans", Roboto, Arial !important;
    font-weight: normal;
    font-size: 8pt;
}

.imgLeave {
    vertical-align: middle;
    cursor: hand;
}

.ImgFaceStyle {
    vertical-align: middle;
}

.textStyle1Group {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8px;
    text-align: left;
}

.FeedBackTextbox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 400px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.FontFeedBack {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    font-weight: bold;
}

.MsgTxtBox {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: left;
    width: 400px;
    height: 150px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.TextBox5 {
    width: 5px;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 2pt;
    text-align: left;
}

.FullWidthTable {
    width: 655px;
}

.ReimCafeRowBackColor {
    background-color: White;
}

.checkboxAll {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    width: 100%;
    text-align: left;
    vertical-align: top;
}

.textWithBottomBorder {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    text-align: left;
    border-bottom: #000000 1px solid;
}

.ToolTip {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    color: #3355cc;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: #3355cc 1px dashed;
    cursor: help;
}

.InputAlignRightBlue {
    border-right: 1pt outset;
    border-top: 1pt outset;
    font-size: 8.5pt;
    border-left: 1pt outset;
    border-bottom: 1pt outset;
    background-color: #F1F9FA;
    text-align: right;
    font-family: "Open Sans", Roboto, Arial !important;
    width: 80px;
}

.InputAlignRightPink {
    border-right: 1pt outset;
    border-top: 1pt outset;
    font-size: 8.5pt;
    border-left: 1pt outset;
    border-bottom: 1pt outset;
    background-color: #FBEBFF;
    text-align: right;
    font-family: "Open Sans", Roboto, Arial !important;
    width: 80px;
}

.InputAlignRightYellow {
    border-right: 1pt outset;
    border-top: 1pt outset;
    font-size: 8.5pt;
    border-left: 1pt outset;
    border-bottom: 1pt outset;
    background-color: #FFFFC6;
    text-align: right;
    font-family: "Open Sans", Roboto, Arial !important;
    width: 80px;
}

.InputAlignRightWhite {
    border-right: 1pt outset;
    border-top: 1pt outset;
    font-size: 8.5pt;
    border-left: 1pt outset;
    border-bottom: 1pt outset;
    background-color: #FFFFFF;
    text-align: right;
    font-family: "Open Sans", Roboto, Arial !important;
    width: 80px;
}

.DarkRed {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    color: DarkRed;
}

.h16_text {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: bold;
}

/* New Css  */
.textStyleComPar1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8pt;
}

.stdTxtShare {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 25px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdDrpDown1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 200px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}
/*     With New Function */
.lblText {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 10px;
}

.txtNomName {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 150px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.hAlign {
    text-align: center;
}

.tblHead {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    height: 8px;
}

.tblRelation {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 130px;
    text-align: left;
    border: 1px solid #c9cacc;
    height: 23px;
}

.tblName {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 170px;
    border: 1px solid #c9cacc;
    height: 23px;
}

.tblAddress {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 150px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.tblBirthDate {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 60px;
    text-align: left;
    border: 1px solid #c9cacc;
    height: 23px;
}

.tblShare {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 25px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.tblORelation {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: left;
    border: 1px solid #c9cacc;
    height: 23px;
}

.txtPara {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
}

.lblSecretary {
    font-size: 8pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    background-color: #EEEEEE;
    cursor: pointer;
    background-image: none;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
}

.txtSecEmpNo {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 60px;
    height: 18px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.txtRejoinReadOnly {
    background-color: #FFFFF0;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    width: 100px;
    border-style: groove;
}

.progress {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
}

.txtPendingRequests {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Red;
    font-style: normal;
}

.ButtonDivAlerts {
    font-size: 15pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    cursor: pointer;
    color: Red;
    background-color: #ffffff;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.ButtonDivRedAlerts {
    font-size: 9pt;
    border-style: none;
    font-family: "Open Sans", Roboto, Arial !important;
    color: #005689;
    font-weight: bold;
    background-color: transparent !important;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    width: 80px;
}

.btnhovDivAlerts {
    cursor: pointer;
    color: Red;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 15pt;
    border-style: none;
    text-align: left;
    background-color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
}

.stdChk {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: right;
    border-width: 6px;
}

.stdgridChk {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: right;
    border-width: 6px;
}

.ButtonTableGrid {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: Transparent;
    background-image: none;
    text-align: left;
    cursor: hand;
    color: Blue;
    vertical-align: middle;
    text-decoration: none;
}

.stdNextPrevButton {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    border-style: none;
    background-color: Transparent;
    background-image: none;
    text-align: left;
    cursor: hand;
    color: Blue;
    vertical-align: middle;
    text-decoration: underline;
}

.stdTextBoxDocument {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 275px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxPayrollCode {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 40px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.stdTextBoxRight {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    height: 20px;
    text-align: right;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.CaptionMonth {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 12pt;
    font-weight: bold;
    border-style: none;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

fieldset {
    border: 1px solid #808080;
}


.ReimshowInsertRow {
    display: table;
}

.ReimStdDrpgridHead1 {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    width: 100px;
    text-align: left;
    border-right: 1px outset;
    border-top: 1px outset;
    border-left: 1px outset;
    border-bottom: 1px outset;
}

.ReimTextBoxMessage {
    width: 710px !important;
    height: 150px;
    font-family: "Open Sans", Roboto, Arial !important;
    font-weight: normal;
    font-size: 8pt;
}

.ReimstdTextBoxAvblLitWhite {
    border-style: outset;
    border-color: inherit;
    border-width: 1px;
    background-color: #FFFFFF;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    text-align: right;
    width: 65px;
}

.versionstyle {
    padding-left: 10px;
    color: White;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: normal;
}

    .versionstyle:hover {
        color: #191970;
        text-decoration: none;
    }

.StdBtnNew {
    display: inline !important;
    color: #000 !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    background: #eaeaea !important;
    background: -ms-linear-gradient(top,#fff 0,#f6f6f6 47%,#eaeaea 100%) !important;
    background: linear-gradient(to bottom,#fff 0,#eaeaea 100%) !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#eaeaea)) !important;
    border: 1px solid #a6a7a9 !important;
    cursor: pointer !important;
}


    .StdBtnNew:hover {
        display: inline !important;
        color: #0b1757 !important;
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
        text-decoration: none !important;
        background: #fff !important;
        border: 1px solid #a6a7a9 !important;
        cursor: pointer !important;
    }

.StdBtnNew1 {
    display: inline !important;
    color: #000 !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    background: #eaeaea !important;
    background: -ms-linear-gradient(top,#fff 0,#f6f6f6 47%,#eaeaea 100%) !important;
    background: linear-gradient(to bottom,#fff 0,#eaeaea 100%) !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#eaeaea)) !important;
    border: 1px solid #a6a7a9 !important;
    cursor: pointer !important;
}

    .StdBtnNew1:disabled {
        display: inline !important;
        color: GrayText !important;
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        height: 23px !important;
        float: left !important;
        text-decoration: none !important;
        background: #eaeaea !important;
        border: 1px solid #a6a7a9 !important;
        cursor: pointer !important;
    }

    .StdBtnNew1:hover:enabled {
        display: inline !important;
        color: #0b1757 !important;
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
        text-decoration: none !important;
        background: #FFFFFF !important;
        border: 1px solid #a6a7a9 !important;
        cursor: pointer !important;
    }

.headerstyle {
    background-color: #6186b3;
    height: 23px;
    text-align: left;
    vertical-align: top;
}

.subheaderstyle {
    height: 25px;
    text-align: left;
    padding-left: 3px;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 3px;
}

.canceltdstyle {
    height: 25px;
    text-align: right;
    padding-right: 3px;
    vertical-align: top;
    padding-top: 2px;
}

.btnstyle {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 22px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #000;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 11px;
    background-color: #ffffff !important;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 4px;
}

    .btnstyle:hover {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #213b8d !important;
    }

.btnsharefile {
    background-image: url(../Images/emailnew.png) !important;
    background-repeat: no-repeat !important;
    background-position: 3px center !important;
}

    .btnsharefile:hover {
        background-image: url(../Images/emailnew.png) !important;
        background-repeat: no-repeat !important;
        background-position: 3px center !important;
        color: #213b8d;
    }

.btnsavestyle {
    background-image: url(../Images/save.png);
}

.btnrefresh {
    background-image: url(../Images/refresh.png);
}

.btnsavedraft {
    background-image: url(../Images/savedraft.png);
}

.btncancelchanges {
    background-image: url(../Images/Cancelchanges.png);
}

.btnprintstyle {
    background-image: url(../Images/BtnPrintImage.gif);
}

.btnnewrequest {
    background-image: url(../Images/add.png);
}

.btnfamilymember {
    background-image: url(../Images/family.png);
}

.btnapprove {
    background-image: url(../Images/Approve.png);
}

.btnedit {
    background-image: url(../Images/edit.png);
}

.btnreject {
    background-image: url(../Images/reject.gif);
}

.btndecline {
    background-image: url(../Images/Cross.png);
}

.btnshowhideprojects {
    background-image: url(../Images/project.png);
}




.btnexcel {
    background-image: url(../Images/excel.png);
}

.btndraft {
    background-image: url(../Images/draft.gif);
}

.btncopy {
    background-image: url(../Images/copy.gif);
}

.btnview {
    background-image: url(../Images/View.gif);
}

.btnteam {
    background-image: url(../Images/team.png);
}

.btnreset {
    background-image: url(../Images/Reset.png);
}

.btndownload {
    background-image: url(../Images/download.png);
}

.btncancelstyle {
    cursor: pointer;
    background-image: url(../Images/Cancel-01.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 6px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 25px !important;
}

    .btncancelstyle:hover {
        background-image: url(../Images/Cancel.gif);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #213b8d;
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 6px;
        padding-right: 20px;
        padding-bottom: 3px;
        padding-top: 25px !important;
    }


.alertstyle {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: #000000;
    font-weight: normal;
    height: 14px;
    text-align: left;
    padding-right: 10px;
}

    .alertstyle:link {
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 8pt;
        color: Black;
        font-weight: normal;
        height: 14px;
        text-align: left;
    }

    .alertstyle:hover {
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 8pt;
        color: blue;
        font-weight: normal;
        height: 14px;
        text-align: left;
        text-decoration: underline;
    }

.alternoblue {
    color: #439aff !important;
}

.alternored {
    color: #d54c4a !important;
}

}

.alternoorange {
    color: #ffb423 !important;
}

}

.alterno {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    font-weight: normal;
    height: 14px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    vertical-align: middle;
}

    .alterno:link {
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 8pt;
        color: #ffffff;
        text-decoration: none;
        font-weight: normal;
        height: 14px;
        text-align: center;
        vertical-align: middle;
    }

    .alterno:hover {
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 8pt;
        font-weight: normal;
        height: 14px;
        text-align: center;
        vertical-align: middle;
    }

    .alterno:visited {
        color: White;
    }


.btnstylehomenew {
    border: 0;
    background-color: #eeeeee;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 23px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 3px;
    color: #000;
    border: #eeeeee solid 1px;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    height: 26px;
    display: block;
}

    .btnstylehomenew:hover {
        background-color: #E4E4E4;
    }

.btnnotification {
    line-height: 1.7 !important;
    background-image: url(../Images/msg.png);
}

.btnTour {
    background-image: url(../Images/tour.png);
}

.btntopreport {
    background-image: url(../Images/reports.png);
}

.btntopelearning {
    background-image: url(../Images/elearning.png);
}

.btntophelp {
    background-image: url(../Images/help.png);
}

.txtstyle {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    color: Black;
    font-weight: normal;
    text-align: left;
}

.groupheader {
    background-color: #eeeeee !important;
    border: 1px solid #E5E5E5 !important;
    padding: 5px !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 12px !important;
    color: #0D638F !important;
    width: 100%;
    font-weight: bold;
}

.groupheaderlable {
    cursor: pointer !important;
    text-decoration: underline !important;
}

    .groupheaderlable:hover {
        cursor: pointer !important;
        text-decoration: underline !important;
    }

.groupdetail {
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    background-color: #ffffff;
    width: 100%;
    padding: 5px 0px 5px 10px;
}

.tblPanalTopBorder {
    border-top: #E5E5E5 1px dotted;
    margin-top: 10px;
}

.groupinnerborder {
    border: 1px solid #E5E5E5 !important;
}

.clear {
    clear: both;
}

.divleft {
    position: relative;
    float: left;
}

.chkall {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8px !important;
    background-color: transparent !important;
}

    .chkall input[type=checkbox] {
        border: 1px solid #E5E5E5 !important;
        opacity: 1;
        background-color: transparent !important;
    }

.groupdetailheader {
    font-family: Arial !important;
    font-size: 9pt !important;
    color: #0D638F !important;
}

.ExpCollStyle {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 12px !important;
    color: #0D638F !important;
    cursor: pointer !important;
    font-weight: bold !important;
    padding: 5px !important;
}

    .ExpCollStyle:hover {
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 12px !important;
        color: #0D638F !important;
        cursor: pointer !important;
        font-weight: bold !important;
        padding: 5px !important;
    }

.imgExpand {
    cursor: pointer !important;
}

.groupdetailinks {
    background-color: transparent !important;
}

    .groupdetailinks:hover {
        color: Red !important;
        text-decoration: underline !important;
    }

.txtinnerspacing {
    padding: 5px !important;
}

.font-opensans {
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
}


.RadGrid_Default .rgGroupHeader {
    background: rgb(188, 210, 230) !important;
    height: 23px !important;
}

    .RadGrid_Default .rgGroupHeader td {
        padding: 0px 8px 0px 0px !important;
        background: #eeeeee !important;
        height: 23px !important;
        text-align: left !important;
    }

    .RadGrid_Default .rgGroupHeader .rgGroupCol {
        background: #eeeeee !important;
    }

.RadGrid_Default .rgExpand {
    background-position: -2px -4px !important;
}

.RadGrid_Default .rgCollapse {
    background-position: -2px -4px !important;
}

.RadGrid_Default .rgGroupHeader td p {
    background: #eeeeee !important;
    margin: 0px !important;
    padding: 0px 10px !important;
    display: inline !important;
    font-family: Arial !important;
    font-size: 8pt !important;
}

.RadGrid_Default .rgGroupHeader td div div {
    background: rgb(188, 210, 230) !important;
    padding: 0px 10px !important;
    top: -0.8em !important;
}

    .RadGrid_Default .rgGroupHeader td div div div {
        padding: 0px !important;
        border: 0px currentColor !important;
        top: 0px !important;
    }

.RadGrid_Default .rgExpand {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    width: 16px !important;
    height: 16px !important;
    font-size: 1px !important;
    vertical-align: top !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-color: Transparent !important;
}

.RadGrid_Default .rgCollapse {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    width: 16px !important;
    height: 16px !important;
    font-size: 1px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-color: Transparent !important;
}

.RadTabStrip .rtsLevel {
    border-bottom: 1px !important;
    border-bottom-color: #8D9094 !important;
    border-bottom-style: None !important;
}

.RadGrid_Default, .RadGrid_Default .rgMasterTable, .RadGrid_Default .rgDetailTable, .RadGrid_Default .rgGroupPanel table, .RadGrid_Default .rgCommandRow table, .RadGrid_Default .rgEditForm table, .RadGrid_Default .rgPager table, .GridToolTip_Default {
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt !important;
}

    .RadGrid_Default .rgEditForm > .rgHeader + div {
        height: auto !important;
    }

    .RadGrid_Default .rgAltRow td {
        border-width: 0px 0px 0px 0px !important;
        border-style: none !important;
        border-color: currentColor !important;
        padding-top: 4px !important;
        padding-bottom: 3px !important;
    }

    .RadGrid_Default .rgRow A {
        color: #0000FF !important;
    }

    .RadGrid_Default .rgAltRow A {
        color: #0000FF !important;
    }

    .RadGrid_Default .rgSelectedRow {
        background-color: rgb(130, 130, 130) !important;
    }

.btncrossstyle {
    background-image: url(../Images/cross.png);
}


.btn-process {
    display: inline-block;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    position: relative;
    float: right !important;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.8;
    min-width: 60px;
}





.btn-primary-pro {
    background-color: #213b8d !important;
    border-color: #213b8d !important;
    color: #fff !important;
    background-image: url(../Images/g-payroll.png) !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 16px;
}

    .btn-primary-pro:focus, .btn-primary-pro:active, .btn-primary-pro:hover, .btn-primary-pro:active:hover {
        background-color: #17338a !important;
        color: #fff !important;
        outline: none;
        border-color: #17338a !important;
    }



.btn-primary-go {
    background-image: none;
    background-color: #213b8d !important;
    border-color: #213b8d !important;
    color: #fff !important;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: left;
}

    .btn-primary-go:focus, .btn-primary-go:active, .btn-primary-go:hover, .btn-primary-go:active:hover {
        background-color: #17338a !important;
        color: #fff !important;
        outline: none;
        border-color: #17338a !important;
    }

.div-space {
    margin: 4px 2px;
}

.top-sm-space {
    padding-top: 5px;
}

.m-top-lg-space {
    margin-top: 5px;
}

.semibold {
    font-family: "Open Sans semibold", Roboto, Arial, sans-serif !important;
}


.newbtnstyle {
    top: 0px;
    position: absolute;
    right: 15px;
}

.imagecss {
    border-width: 0px;
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    max-width: 12px;
    cursor: pointer;
}

.fixedtooltip-right {
    outline: none;
    position: relative;
   
}

    .fixedtooltip-right strong {
        line-height: 30px;
    }

    .fixedtooltip-right:hover {
        text-decoration: none;
    }

    .fixedtooltip-right span.Paidholidayspan {
        z-index: 10;
        display: none;
        padding: 14px 14px;
        margin-top: -30px;
        margin-left: 0px;
        width: auto;
        line-height: 16px;
        position: absolute;
        left: 15px;
        z-index:999
    }

    .fixedtooltip-right:hover span.Paidholidayspan {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }


    .fixedtooltip-right span.Paidholidayspan {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 5px 5px 8px #CCC;
        -webkit-box-shadow: 5px 5px 8px #CCC;
        box-shadow: 5px 5px 8px #CCC;
    }


.callout-right {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}


.fixedtooltip-left {
    outline: none;
    position: relative;
}

.fixedtooltip-left strong {
        line-height: 30px;
    }

.fixedtooltip-left:hover {
        text-decoration: none;
    }

.fixedtooltip-left span.Paidholidayspan {
        z-index: 10;
        display: none;
        padding: 14px 14px;
        margin-top: -30px;
        margin-left: 0px;
        width: 480px;
        line-height: 16px;
    }

.fixedtooltip-left:hover span.Paidholidayspan {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }


.fixedtooltip-left span.Paidholidayspan {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 5px 5px 8px #CCC;
        -webkit-box-shadow: 5px 5px 8px #CCC;
        box-shadow: 5px 5px 8px #CCC;
    }


.fixedtooltip-left {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    right: -12px;
}


/*Added for OT/CO on same day */

.onoffswitch {
    position: relative; width: 60px; margin-top:5px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display:inline-block; vertical-align:middle
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 5px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    color: white; font-weight: bold;font-size:12px;font-family:"Open Sans", Roboto, Arial !important;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 10px; margin:3px 6px;height:10px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
