.Grid 
{ 
  background-color: #FFFFFF; 
  border: 0px solid #C0C0C0; 
  border-top-width: 0px;
  border-left-width: 0px;
  cursor:default; 
}
.EditDataField
{ 
  font-family: verdana; 
  font-size: 10px; 
  height: 13px;
  width: 98%!important; 
} 

.GridHeader
{
 
  background-color:#EEEEEE;
  border: 0px solid #57566F; 
  height: 28px;
  cursor: default; 
}

.GridHeaderText
{
  color: #000000;  
  font-family: verdana; 
  font-size: 10px; 
}

.GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
 }

.GridFooter
{ 
  border-left: 0px solid #C0C0C0;
  background-color:#CFDDEE;
}

.GridFooterText
{
  color:#000000;  
  font-family:Arial; 
  font-size: 9pt;
}

.Row 
{ 
  cursor: default; 
  background-color: #FFFFFF; 
}

.Row td.DataCell 
{ 
  border-right: 0px solid #E6E6E6; 
  border-bottom: 0px solid #E6E6E6; 
  font-family:Arial; 
  font-size: 8pt; 
  cursor: default; 
} 

.Row td.FirstDataCell 
{ 
  cursor: default; 
} 

.AlternatingRow 
{ 
  cursor: default; 
}

.AlternatingRow td.DataCell 
{ 
  background-color: #E6E6E6;
  border-right: 0px solid #E6E6E6; 
  border-bottom: 0px solid #E6E6E6; 
  font-family: Arial; 
  font-size: 8pt;
  cursor: default; 
} 


.AlternatingRow td.FirstDataCell 
{ 
  background-color: #E6E6E6;
  cursor: default; 
} 
.HoverRow 
{ 
  cursor: default; 
}

.HoverRow td.DataCell 
{ 
  background-color: #E6E6EE; 
  border-right: 0px; 
  border-bottom: 1px solid #9495A2; 
  font-family: Arial; 
  font-size: 8pt; 
  cursor: default; 
  
} 

.HoverRow td.FirstDataCell 
{ 
  color:#0000FF;
} 

.HoverRow td.LastDataCell 
{ 
  border-right: 1px solid #9495A2; 
  border-bottom: 1px solid #9495A2; 
} 

.HeadingRow 
{ 
	height:20px;
}

.HeadingRow td.FirstHeadingCell
{ 
  background-color: #CFDDEE;
  
  border-width: 0px; 
  border-right: 0px solid #FFFFFF; 
}

.HeadingRow td.LastHeadingCell
{ 
  background-color: #CFDDEE;
    
  border-width: 0px; 
  border-right: 0px solid #9495A2; 
}

.HeadingCell 
{ 
  background-color: #CFDDEE;
  
  border-width: 0px; 
  border-right: 0px solid #FFFFFF; 
}

.GroupHeading
{ 
  border-width: 0px; 
  border-right: 1px solid #9495A2; 
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
}


.HeadingCellText
{
  font-family: verdana; 
  font-size: 10px; 
  font-weight:normal;
  text-align: left;
    
}

.HeadingCell td
{ 
  font-family: Arial; 
  font-size: 8pt; 
  font-weight:normal;
  text-align: left;
}


.HeadingSelectorCell
{ 
  cursor: default; 
  background-color: #D6D7E1; 
  background-image: url(images/headingSelectorCell_bg.gif); 
  height:21px;
}

.SelectorCell 
{ 
  cursor: default; 
  background-color: #D6D7E1; 
  background-image: url(images/selectorCell_bg.gif); 
  height:21px;
}

.SelectedRow 
{ 
  cursor: default; 
}

.SelectedRow td.DataCell 
{ 
  background-color: #FFEEC2; 
  font-family: Arial; 
  font-size: 8pt; 
  border-bottom: 0px solid #4B4B6F; 
  border-top: 0px solid #4B4B6F; 
  border-right: 0px; 
  cursor: default; 
}

.SelectedRow td.FirstDataCell 
{ 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px;
  cursor: default;
}

.SelectedRow td.LastDataCell
{ 
  border-right: 1px solid #4B4B6F;
  cursor: default;
}
.DeleteTextGrid
{
	font-size: 8pt;
	color: #0000ff;
	font-family: Arial;
	text-decoration: none;
}

.idennerpagedatagridarea /* USED - same as innerpagecontentarea except no padding */ {
	background-color: #F3F3F3;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 100%;
}