﻿@charset "UTF-8"; /*!
 * Handsontable 0.16.0
 * Handsontable is a JavaScript library for editable tables with basic copy-paste compatibility with Excel and Google Docs
 *
 * Copyright 2015 Handsoncode sp. z o.o. <hello@handsontable.com>
 * Licensed under the MIT license.
 * http://handsontable.com/
 *
 * Date: Fri Jul 10 2015 09:20:29 GMT+0200 (CEST)
 */

.handsontable {
    position: relative;
}

    .handsontable .hide {
        display: none;
    }

    .handsontable .relative {
        position: relative;
    }

    .handsontable.htAutoSize {
        visibility: hidden;
        left: -99000px;
        position: absolute;
        top: -99000px;
    }

    .handsontable .wtHider {
        width: 0;
    }

    .handsontable .wtSpreader {
        position: relative;
        width: 0;
        height: auto;
    }

    .handsontable table, .handsontable tbody, .handsontable thead, .handsontable td, .handsontable th, .handsontable input, .handsontable textarea, .handsontable div {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
    }

    .handsontable input, .handsontable textarea {
        min-height: initial;
    }

    .handsontable table.htCore {
        border-collapse: separate;
        border-spacing: 0;
        margin: 0;
        border-width: 0;
        table-layout: fixed;
        width: 0;
        outline-width: 0;
        max-width: none;
        max-height: none;
    }

    .handsontable col {
        width: 50px;
    }

        .handsontable col.rowHeader {
            width: 50px;
        }

    .handsontable th, .handsontable td {
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        height: 22px;
        empty-cells: show;
        line-height: 21px;
        padding: 0 4px 0 4px;
        background-color: #FFF;
        vertical-align: top;
        overflow: hidden;
        outline-width: 0;
        white-space: pre-line;
    }

        .handsontable td.htInvalid {
            background-color: #ff4c42!important;
        }

        .handsontable td.htNoWrap {
            white-space: nowrap;
        }

        .handsontable th:last-child {
            border-right: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
        }

        .handsontable tr:first-child th.htNoFrame, .handsontable th:first-child.htNoFrame, .handsontable th.htNoFrame {
            border-left-width: 0;
            background-color: white;
            border-color: #FFF;
        }

        .handsontable th:first-child, .handsontable td:first-of-type, .handsontable thead tr th:nth-child(2), .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
            border-left: 1px solid #CCC;
        }

    .handsontable tr:first-child th, .handsontable tr:first-child td {
        border-top: 1px solid #CCC;
    }

.ht_master:not(.innerBorderLeft) ~ .handsontable tbody tr th, .ht_master:not(.innerBorderLeft) ~ .handsontable:not(.ht_clone_top) thead tr th:first-child {
    border-right-width: 0;
}

.ht_master:not(.innerBorderTop) thead tr:last-child th, .ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th, .ht_master:not(.innerBorderTop) thead tr.lastChild th, .ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
    border-bottom-width: 0;
}

.handsontable th {
    background-color: #EEE;
    color: #222;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.handsontable thead th {
    padding: 0;
}

.handsontable th.active {
    background-color: #CCC;
}

.handsontable thead th .relative {
    padding: 2px 4px;
}

.handsontable .manualColumnMover {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 5px;
    height: 25px;
    z-index: 999;
    cursor: move;
}

.handsontable .manualRowMover {
    position: fixed;
    left: -4px;
    top: 0;
    background-color: transparent;
    height: 5px;
    width: 50px;
    z-index: 999;
    cursor: move;
}

.handsontable .manualColumnMoverGuide, .handsontable .manualRowMoverGuide {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CCC;
    width: 25px;
    height: 25px;
    opacity: .7;
    display: none;
}

    .handsontable .manualColumnMoverGuide.active, .handsontable .manualRowMoverGuide.active {
        display: block;
    }

.handsontable .manualColumnMover:hover, .handsontable .manualColumnMover.active, .handsontable .manualRowMover:hover, .handsontable .manualRowMover.active {
    background-color: #88F;
}

.handsontable .manualColumnResizer {
    position: fixed;
    top: 0;
    cursor: col-resize;
    z-index: 110;
    width: 5px;
    height: 25px;
}

.handsontable .manualRowResizer {
    position: fixed;
    left: 0;
    cursor: row-resize;
    z-index: 110;
    height: 5px;
    width: 50px;
}

    .handsontable .manualColumnResizer:hover, .handsontable .manualColumnResizer.active, .handsontable .manualRowResizer:hover, .handsontable .manualRowResizer.active {
        background-color: #AAB;
    }

.handsontable .manualColumnResizerGuide {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #AAB;
    display: none;
    width: 0;
    border-right: 1px dashed #777;
    margin-left: 5px;
}

.handsontable .manualRowResizerGuide {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #AAB;
    display: none;
    height: 0;
    border-bottom: 1px dashed #777;
    margin-top: 5px;
}

    .handsontable .manualColumnResizerGuide.active, .handsontable .manualRowResizerGuide.active {
        display: block;
    }

.handsontable .columnSorting {
    position: relative;
}

    .handsontable .columnSorting:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .handsontable .columnSorting.ascending::after {
        content: '\25B2';
        color: #5f5f5f;
        position: absolute;
        right: -15px;
    }

    .handsontable .columnSorting.descending::after {
        content: '\25BC';
        color: #5f5f5f;
        position: absolute;
        right: -15px;
    }

.handsontable .wtBorder {
    position: absolute;
    font-size: 0;
}

    .handsontable .wtBorder.hidden {
        display: none!important;
    }

.handsontable td.area {
    background: -moz-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(181,209,255,0.34)),color-stop(100%,rgba(181,209,255,0.34)));
    background: -webkit-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -o-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -ms-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: linear-gradient(to bottom,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b5d1ff',endColorstr='#57b5d1ff',GradientType=0);
    background-color: #fff;
}

.handsontable .wtBorder.corner {
    font-size: 0;
    cursor: crosshair;
}

.handsontable .htBorder.htFillBorder {
    background: red;
    width: 1px;
    height: 1px;
}

.handsontableInput {
    border: 0;
    outline-width: 0;
    margin: 0;
    padding: 1px 5px 0 5px;
    font-family: inherit;
    line-height: 21px;
    font-size: inherit;
    box-shadow: 0 0 0 2px #5292f7 inset;
    resize: none;
    display: inline-block;
    color: #000;
    border-radius: 0;
    background-color: #FFF;
}

.handsontableInputHolder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.htSelectEditor {
    -webkit-appearance: menulist-button!important;
    position: absolute;
    width: auto;
}

.handsontable .htDimmed {
    color: #777;
}

.handsontable .htSubmenu {
    position: relative;
}

    .handsontable .htSubmenu :after {
        content: '▶';
        color: #777;
        position: absolute;
        right: 5px;
    }

.handsontable .htLeft {
    text-align: left;
}

.handsontable .htCenter {
    text-align: center;
}

.handsontable .htRight {
    text-align: right;
}

.handsontable .htJustify {
    text-align: justify;
}

.handsontable .htTop {
    vertical-align: top;
}

.handsontable .htMiddle {
    vertical-align: middle;
}

.handsontable .htBottom {
    vertical-align: bottom;
}

.handsontable .htPlaceholder {
    color: #999;
}

.handsontable .htAutocompleteArrow {
    float: right;
    font-size: 10px;
    color: #EEE;
    cursor: default;
    width: 16px;
    text-align: center;
}

.handsontable td .htAutocompleteArrow:hover {
    color: #777;
}

.handsontable td.area .htAutocompleteArrow {
    color: #d3d3d3;
}

.handsontable .htCheckboxRendererInput.noValue {
    opacity: .5;
}

.handsontable .htNumeric {
    text-align: right;
}

.htCommentCell {
    position: relative;
}

    .htCommentCell:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-left: 6px solid transparent;
        border-top: 6px solid red;
    }

@-webkit-keyframes opacity-hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes opacity-hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes opacity-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.handsontable .handsontable.ht_clone_top .wtHider {
    padding: 0 0 5px 0;
}

.handsontable .autocompleteEditor.handsontable {
    padding-right: 17px;
}

    .handsontable .autocompleteEditor.handsontable.htMacScroll {
        padding-right: 15px;
    }

.handsontable.listbox {
    margin: 0;
    position: fixed;
    margin-top: -130px;
}

    .handsontable.listbox .ht_master table {
        border: 1px solid #ccc;
        border-collapse: separate;
        background: white;
    }

    .handsontable.listbox th, .handsontable.listbox tr:first-child th, .handsontable.listbox tr:last-child th, .handsontable.listbox tr:first-child td, .handsontable.listbox td {
        border-width: 0;
    }

    .handsontable.listbox th, .handsontable.listbox td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .handsontable.listbox td.htDimmed {
            cursor: default;
            color: inherit;
            font-style: inherit;
        }

    .handsontable.listbox .wtBorder {
        visibility: hidden;
    }

    .handsontable.listbox tr td.current, .handsontable.listbox tr:hover td {
        background: #eee;
    }

.htContextMenu {
    display: none;
    position: absolute;
    z-index: 1060;
    overflow: hidden;
}

    .htContextMenu .ht_clone_top, .htContextMenu .ht_clone_left, .htContextMenu .ht_clone_corner, .htContextMenu .ht_clone_debug {
        display: none;
    }

.ht_clone_top {
    z-index: 101;
}

.ht_clone_left {
    z-index: 102;
}

.ht_clone_corner {
    z-index: 103;
}

.ht_clone_debug {
    z-index: 103;
}

.htContextMenu table.htCore {
    border: 1px solid #bbb;
}

.htContextMenu .wtBorder {
    visibility: hidden;
}

.htContextMenu table tbody tr td {
    background: white;
    border-width: 0;
    padding: 4px 6px 0 6px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .htContextMenu table tbody tr td:first-child {
        border: 0;
    }

    .htContextMenu table tbody tr td.htDimmed {
        font-style: normal;
        color: #323232;
    }

    .htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
        background: #e9e9e9;
    }

    .htContextMenu table tbody tr td.htSeparator {
        border-top: 1px solid #bbb;
        height: 0;
        padding: 0;
    }

    .htContextMenu table tbody tr td.htDisabled {
        color: #999;
    }

        .htContextMenu table tbody tr td.htDisabled:hover {
            background: white;
            color: #999;
            cursor: default;
        }

    .htContextMenu table tbody tr td div {
        padding-left: 10px;
    }

        .htContextMenu table tbody tr td div span.selected {
            margin-top: -2px;
            position: absolute;
            left: 4px;
        }

.htContextMenu .ht_master .wtHolder {
    overflow: hidden;
}

.handsontable td.htSearchResult {
    background: #fcedd9;
    color: #583707;
}

.htBordered {
    border-width: 1px;
}

    .htBordered.htTopBorderSolid {
        border-top-style: solid;
        border-top-color: #000;
    }

    .htBordered.htRightBorderSolid {
        border-right-style: solid;
        border-right-color: #000;
    }

    .htBordered.htBottomBorderSolid {
        border-bottom-style: solid;
        border-bottom-color: #000;
    }

    .htBordered.htLeftBorderSolid {
        border-left-style: solid;
        border-left-color: #000;
    }

.htCommentTextArea {
    -moz-box-shadow: 1px 1px 2px #bbb;
    -webkit-box-shadow: 1px 1px 2px #bbb;
    background-color: #fffacd;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px #bbb;
    font-family: 'Arial';
}

.handsontable colgroup col.rowHeader.htGroupCol {
    width: 25px!important;
}

.handsontable colgroup col.rowHeader.htGroupColClosest {
    width: 30px!important;
}

.handsontable .htGroupIndicatorContainer {
    background: #fff;
    border: 0;
    padding-bottom: 0;
    vertical-align: bottom;
    position: relative;
}

.handsontable thead .htGroupIndicatorContainer {
    vertical-align: top;
    border-bottom: 0;
}

.handsontable tbody tr th:nth-last-child(2) {
    border-right: 1px solid #CCC;
}

.handsontable thead tr:nth-last-child(2) th {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}

.ht_clone_corner thead tr th:nth-last-child(2) {
    border-right: 1px solid #CCC;
}

.htVerticalGroup {
    height: 100%;
}

.htHorizontalGroup {
    width: 100%;
    height: 100%;
}

.htVerticalGroup:not(.htCollapseButton):after {
    content: "";
    height: 100%;
    width: 1px;
    display: block;
    background: #ccc;
    margin-left: 5px;
}

.htHorizontalGroup:not(.htCollapseButton):after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #ccc;
    margin-top: 20%;
}

.htCollapseButton {
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
}

    .htCollapseButton:after {
        content: "";
        height: 300%;
        width: 1px;
        display: block;
        background: #ccc;
        margin-left: 4px;
        position: absolute;
        bottom: 10px;
    }

thead .htCollapseButton {
    right: 5px;
    position: absolute;
    top: 5px;
    background: #fff;
}

    thead .htCollapseButton:after {
        height: 1px;
        width: 700%;
        right: 10px;
        top: 4px;
    }

.handsontable tr th .htGroupStart:after {
    background: transparent;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 5px;
    position: relative;
    top: 50%;
}

.handsontable thead tr th .htGroupStart:after {
    background: transparent;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    width: 50%;
    position: relative;
    top: 0;
    left: 50%;
}

.handsontable .htGroupLevelTrigger {
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    width: 15px;
    height: 15px;
    margin: 4px auto;
    padding: 0;
    line-height: 15px;
    cursor: pointer;
}

.handsontable tr th .htExpandButton {
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    top: 0;
    display: none;
}

.handsontable thead tr th .htExpandButton {
    top: 5px;
}

.handsontable tr th .htExpandButton.clickable {
    display: block;
}

.handsontable col.hidden {
    width: 0!important;
}

.handsontable tr.hidden, .handsontable tr.hidden td, .handsontable tr.hidden th {
    display: none;
}

.ht_master, .ht_clone_left, .ht_clone_top {
    overflow: hidden;
}

    .ht_master .wtHolder {
        overflow: auto;
    }

    .ht_clone_left .wtHolder {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ht_clone_top .wtHolder {
        overflow-x: auto;
        overflow-y: hidden;
    }

.wtDebugHidden {
    display: none;
}

.wtDebugVisible {
    display: block;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: wtFadeInFromNone;
    animation-duration: .5s;
    animation-name: wtFadeInFromNone;
}

@keyframes wtFadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes wtFadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.handsontable.mobile, .handsontable.mobile .wtHolder {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
}

.htMobileEditorContainer {
    display: none;
    position: absolute;
    top: 0;
    width: 70%;
    height: 54pt;
    background: #f8f8f8;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    z-index: 999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

.topLeftSelectionHandle:not(.ht_master .topLeftSelectionHandle), .topLeftSelectionHandle-HitArea:not(.ht_master .topLeftSelectionHandle-HitArea) {
    z-index: 9999;
}

.topLeftSelectionHandle, .topLeftSelectionHandle-HitArea, .bottomRightSelectionHandle, .bottomRightSelectionHandle-HitArea {
    left: -10000px;
    top: -10000px;
}

.htMobileEditorContainer.active {
    display: block;
}

.htMobileEditorContainer .inputs {
    position: absolute;
    right: 210pt;
    bottom: 10pt;
    top: 10pt;
    left: 14px;
    height: 34pt;
}

    .htMobileEditorContainer .inputs textarea {
        font-size: 13pt;
        border: 1px solid #a1a1a1;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: absolute;
        left: 14px;
        right: 14px;
        top: 0;
        bottom: 0;
        padding: 7pt;
    }

.htMobileEditorContainer .cellPointer {
    position: absolute;
    top: -13pt;
    height: 0;
    width: 0;
    left: 30px;
    border-left: 13pt solid transparent;
    border-right: 13pt solid transparent;
    border-bottom: 13pt solid #ebebeb;
}

    .htMobileEditorContainer .cellPointer.hidden {
        display: none;
    }

    .htMobileEditorContainer .cellPointer:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        height: 0;
        width: 0;
        left: -13pt;
        border-left: 13pt solid transparent;
        border-right: 13pt solid transparent;
        border-bottom: 13pt solid #f8f8f8;
    }

.htMobileEditorContainer .moveHandle {
    position: absolute;
    top: 10pt;
    left: 5px;
    width: 30px;
    bottom: 0;
    cursor: move;
    z-index: 9999;
}

    .htMobileEditorContainer .moveHandle:after {
        content: "..\a..\a..\a..";
        white-space: pre;
        line-height: 10px;
        font-size: 20pt;
        display: inline-block;
        margin-top: -8px;
        color: #ebebeb;
    }

.htMobileEditorContainer .positionControls {
    width: 205pt;
    position: absolute;
    right: 5pt;
    top: 0;
    bottom: 0;
}

    .htMobileEditorContainer .positionControls > div {
        width: 50pt;
        height: 100%;
        float: left;
    }

        .htMobileEditorContainer .positionControls > div:after {
            content: " ";
            display: block;
            width: 15pt;
            height: 15pt;
            text-align: center;
            line-height: 50pt;
        }

.htMobileEditorContainer .leftButton:after, .htMobileEditorContainer .rightButton:after, .htMobileEditorContainer .upButton:after, .htMobileEditorContainer .downButton:after {
    transform-origin: 5pt 5pt;
    -webkit-transform-origin: 5pt 5pt;
    margin: 21pt 0 0 21pt;
}

.htMobileEditorContainer .leftButton:after {
    border-top: 2px solid #288ffe;
    border-left: 2px solid #288ffe;
    -webkit-transform: rotate(-45deg);
}

.htMobileEditorContainer .leftButton:active:after {
    border-color: #cfcfcf;
}

.htMobileEditorContainer .rightButton:after {
    border-top: 2px solid #288ffe;
    border-left: 2px solid #288ffe;
    -webkit-transform: rotate(135deg);
}

.htMobileEditorContainer .rightButton:active:after {
    border-color: #cfcfcf;
}

.htMobileEditorContainer .upButton:after {
    border-top: 2px solid #288ffe;
    border-left: 2px solid #288ffe;
    -webkit-transform: rotate(45deg);
}

.htMobileEditorContainer .upButton:active:after {
    border-color: #cfcfcf;
}

.htMobileEditorContainer .downButton:after {
    border-top: 2px solid #288ffe;
    border-left: 2px solid #288ffe;
    -webkit-transform: rotate(225deg);
}

.htMobileEditorContainer .downButton:active:after {
    border-color: #cfcfcf;
}

.handsontable.hide-tween {
    -webkit-animation: opacity-hide .3s;
    animation: opacity-hide .3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.handsontable.show-tween {
    -webkit-animation: opacity-show .3s;
    animation: opacity-show .3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
/*!
 * Handsontable ContextMenu
 */

.htContextMenu {
    display: none;
    position: absolute;
    z-index: 1060;
}

    .htContextMenu .ht_clone_top, .htContextMenu .ht_clone_left, .htContextMenu .ht_clone_corner, .htContextMenu .ht_clone_debug {
        display: none;
    }

    .htContextMenu table.htCore {
        outline: 1px solid #bbb;
    }

    .htContextMenu .wtBorder {
        visibility: hidden;
    }

    .htContextMenu table tbody tr td {
        background: white;
        border-width: 0;
        padding: 4px 6px 0 6px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .htContextMenu table tbody tr td:first-child {
            border: 0;
        }

        .htContextMenu table tbody tr td.htDimmed {
            font-style: normal;
            color: #323232;
        }

        .htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
            background: #e9e9e9;
        }

        .htContextMenu table tbody tr td.htSeparator {
            border-top: 1px solid #bbb;
            height: 0;
            padding: 0;
        }

        .htContextMenu table tbody tr td.htDisabled {
            color: #999;
        }

            .htContextMenu table tbody tr td.htDisabled:hover {
                background: white;
                color: #999;
                cursor: default;
            }

        .htContextMenu table tbody tr td div {
            padding-left: 10px;
        }

            .htContextMenu table tbody tr td div span.selected {
                margin-top: -2px;
                position: absolute;
                left: 4px;
            }
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

    .pika-single:before, .pika-single:after {
        content: " ";
        display: table;
    }

    .pika-single:after {
        clear: both;
    }

.pika-single {
    *zoom: 1;
}

    .pika-single.is-hidden {
        display: none;
    }

    .pika-single.is-bound {
        position: absolute;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
    }

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev, .pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

    .pika-prev:hover, .pika-next:hover {
        opacity: 1;
    }

.pika-prev, .is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next, .is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

    .pika-prev.is-disabled, .pika-next.is-disabled {
        cursor: default;
        opacity: .2;
    }

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

    .pika-table th, .pika-table td {
        width: 14.285714285714286%;
        padding: 0;
    }

    .pika-table th {
        color: #999;
        font-size: 12px;
        line-height: 25px;
        font-weight: bold;
        text-align: center;
    }

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #3af;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #3af;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #d5e9f7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6cb31d;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #3af;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

.pika-table abbr {
    border-bottom: 0;
    cursor: help;
}
