﻿.Import_dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .15;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.Import_dialog {
    margin-left: -190px;
    padding: 0px;
    z-index: 103;
    display: none;
    background-color: white;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.Import_dialog_Prgress {
    margin-left: -190px;
    padding: 0px;
    z-index: 105;
   font-family: "Open Sans", Roboto, Arial !important;
    font-size: 10pt;
    display: none;
    background-color: White;
    border: 1px solid black;
}

.RadGrid_Default, .RadGrid_Default .rgMasterTable, .RadGrid_Default .rgDetailTable, .RadGrid_Default .rgGroupPanel table, .RadGrid_Default .rgCommandRow table, .RadGrid_Default .rgEditForm table, .RadGrid_Default .rgPager table, .GridToolTip_Default {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt !important;
}

    .RadGrid_Default .rgDataDiv {
        overflow-y: scroll !important;
    }

    .RadGrid_Default .rgHeaderDiv {
        background-color: #F5F5F5 !important;
    }

    .RadGrid_Default .rgSelectedRow {
        background-image: none !important;
        background-color: #C0C0C0 !important;
    }

        .RadGrid_Default .rgSelectedRow a {
        }

        .RadGrid_Default .rgSelectedRow td {
        }

    .RadGrid_Default .rgRow A, .rgAltRow A {
        color: #5D5DFF !important;
    }

    .RadGrid_Default .rgAdvPart {
        display: none !important;
    }


.RadComboBox_Default, .RadComboBox_Default .rcbInputCell .rcbInput, .RadComboBoxDropDown_Default {
   font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt !important;
    color: #000 !important;
    text-align: left !important;
    font-style: normal !important;
}

.apprdecl {
    cursor: hand;
    height: 14px;
    width: auto;
    border: 0px white;
}

.WaterMarkedTextBox {
    height: 17px !important;
    padding: 1px 1px 1px 1px;
    border: 1px solid #707070;
    color: Gray !important;
    font-size: 8pt !important;
    text-align: center !important;
    background: white url('../Images/Search.jpg') repeat-y right !important;
    background-position-y: 100% !important;
}

.NormalTextBox {
    background-position: right 100%;
    ffont-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt !important;
    color: Black !important;
    font-weight: normal !important;
    height: 17px !important;
    text-align: left !important;
    padding: 1px 1px 1px 1px;
    border: 1px solid #707070;
    background: white url('../Images/Search.jpg') repeat-y right !important;
    background-position-y: 100% !important;
}

.Panal {
    padding: 1px 1px 1px 1px;
    border: 1px solid #707070;
    font-size: 8pt !important;
}

.txtcomments {
    padding: 1px 1 1 1px;
    border: 1px solid #707070;
}


/* Rad Panal*/
.dxtcLite > .dxtc-stripContainer .dxtc-activeTab {
    border-bottom: 1px none white !important;
}

.RadTabStrip_Glow .rtsLevel1 {
    border-bottom: 1px !important;
    border-bottom-color: #888888 !important;
    border-bottom-style: solid !important;
    background-color: #B0B0B0 !important;
    background-image: none !important;
    font-size: 9pt !important;
}

.RadTabStrip_Glow .rtsLevel1 {
    border-radius: 0px !important;
    filter: - !important;
    filter: none !important;
}

.RadTabStrip_Glow .rtsLevel2 {
    background-color: #888888 !important;
    background-image: none !important;
}

.RadTabStrip_Glow .rtsSelected {
    background-color: #888888 !important;
    background-image: none !important;
}

.RadTabStrip_Glow {
    font-size: 8pt !important;
    font-family: "Open Sans", Roboto, Arial !important;
    line-height: 15px !important;
}

    .RadTabStrip_Glow .rtsLevel1 .rtsLink {
        color: #000 !important;
        text-shadow: none !important;
    }

    .RadTabStrip_Glow .rtsLevel2 .rtsLink {
        color: #fff !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

.RadTabStrip .rtsLink, .RadTabStripVertical .rtsLink {
    cursor: default !important;
}

.RadTabStrip_Glow .rtsLevel1 .rtsLink:hover {
    cursor: hand !important;
    background-image: none !important;
    background-color: #9D9D9D !important;
}

.RadTabStrip_Glow .rtsLevel1 .rtsSelected, .RadTabStrip_Glow .rtsLevel1 .rtsSelected:hover {
    color: #fff !important;
    text-shadow: none !important;
}

.linkbutton {
    background-color: transparent !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 9pt !important;
}

.ChildGroupWidth {
    width: 100% !important;
}

.ChildGroupl {
    float: left !important;
}

.ChildGroupr {
    float: right !important;
}

.InputToolLnkbtnClass {
    text-decoration: none !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt !important;
    color: Black !important;
    font-weight: normal !important;
    height: 14px !important;
    text-align: left !important;
}

    .InputToolLnkbtnClass:hover {
        font-weight: bold !important;
        font-size: 9pt !important;
        color: #6186B3 !important;
        text-decoration: underline !important;
    }

.InputToolgridLnkbtnClass {
    text-decoration: none !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8.8pt !important;
    color: Black !important;
    font-weight: normal !important;
    height: 14px !important;
    text-align: left !important;
}

    .InputToolgridLnkbtnClass:hover {
        font-weight: bold !important;
        font-size: 8.8pt !important;
        color: #6186B3 !important;
        text-decoration: underline !important;
    }

.lnkinputtool {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt;
    font-style: normal;
    text-decoration: none;
    line-height: 20px;
    color: Black;
}

.mystyle {
    -webkit-border-top-right-radius: 8px !important;
    -webkit-border-top-left-radius: 8px !important;
    -moz-border-radius-topright: 8px !important;
    -moz-border-radius-topleft: 8px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.divOpenMonth {
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #b94a48;
    background-color: #f2dede;
    border-bottom: 1px solid #eed3d7;
    border-top: 2px solid #eed3d7;
    line-height: 15px;
    padding: 8px;
}

.popupHeader {
    float: right !important;
    width: 67px !important;
}
