.NavBar
{
    background-color: #567497;
    cursor: default;
    width: 215px;
}

.TopItem
{
    background-image: url(../Images/top_level_bg.bmp?Version=1);
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 215px;
    cursor: hand;
    overflow: auto !important;
}

.TopItemHover
{
    color: Gray;
    background-image: url(../Images/top_level_bg.bmp?Version=1);
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 215px;
    cursor: hand;
}

.Level2Item
{
    font-family: Arial;
    font-size: 9pt;
    padding-left: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.Level2ItemHover
{
    font-family: Arial;
    font-size: 9pt;
    background-color: #FFFFFF;
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.Level2Group
{
    overflow: auto !important;
    background-color: #CFDDEE;
    border: 1px solid #FFFFFF;
    border-top-color: #D3E0F8;
    padding-right: 0px;
    width:215px;
    vertical-align: middle;
    min-height:100%;
 margin-bottom  :1px;
}

.Level2GroupNoWidth
{
    overflow: scroll !important;
    background-color: #CFDDEE;
    border: 1px solid #FFFFFF;
    border-top-color: #D3E0F8;
    vertical-align: middle;
    min-height:100%;
    width:215px;
    margin-bottom  :1px;
}
.Empty
{
}



