﻿/* ----- Validation and error messages class starts -----*/
.validationsummary
{
	border: 1px solid #b08b34;
	padding: 0px 0px 13px 0px;
	font-size: 12px;
	width: 99%;
}
.validationheader
{
	left: 0px;
	position: relative;
	font-size: 11px;
	background-color: #e5d9bd;
	color: #56300a;
	height: 14px;
	font-weight: bold;
	border-bottom: 1px solid #b08b34;
	padding-top: 3px;
}
.validationsummary ul
{
	padding-top: 5px;
	padding-left: 45px;
	list-style: none;
	font-size: 11px;
	color: #982b12;
	font-style: italic;
}
.validationsummary ul li
{
	padding: 2px 0px 0px 15px;
	background-position: 0px 3px;
	background-repeat: no-repeat;
}
/* -- --Validation and error messages class ends -- --*/
