body
{
	font: 12px "Segoe UI" ,Arial,sans-serif;
	color: #3B3B3B;
	line-height: 20px;
}

.blueText
{
	color: #0e8cc7;
	font: 36px "Droid Sans" , Arial, sans-serif;
	text-align: center;
}

.orangeText
{
	color: #f49020;
	font: 36px "Droid Sans" , Arial, sans-serif;
	text-align: center;
}

.darkBlue
{
	color: #00008b;
	font: 14px "Droid Sans" , "Segoe UI" , Arial, sans-serif;
	text-align: center;
}

/*=========================================*/
/*     STYLES NECESSARY FOR SCHEDULER      */
/*=========================================*/

/*Modification of the below style is not recommended. They are necessary for Scheduler directly or indirectly.*/

.RadScheduler .rsAptIn, .RadScheduler .rsTimelineView .rsAptContent
{
	height: 101px !important;
}

.zoomCursor
{
	cursor:url('Images/CursorZoom.cur'), auto;
	cursor: -webkit-zoom-in !important;
	cursor: -moz-zoom-in !important;
	cursor: zoom-in !important;
	height: 70px !important;
	width: 105px !important;
}

.Disabled
{
	background: center url('../Images/NoSlot.png') no-repeat #dadbd8 !important;
	vertical-align: middle;
}

.headerImg
{
	height: 336px;
	width: 420px;
	border: none;
}

a img
{
	border: none;
}

a hover
{
	text-decoration: none;
}

#Label1Panel
{
	display: inline !important;
}

.lblError
{
	background: #880015;
	border: 1px solid darkred;
	color: white;
	font: bold 16px "Segoe UI" , Arial, sans-serif;
	vertical-align: middle;
	display: none;
	height: 30px;
	line-height: 28px;
	position: relative;
	padding-left: 5px;
	width: 743px;
	z-index: 1001;
	cursor: pointer;
	-moz-opacity: 0.9;
}

td.DayWithAppointments, td.DayWithAppointments a
{
	background-color: orange;
}
.TableLayout_Office2007 td.DayWithAppointments a
{
	border-color: orange;
}
.floatingmandiv
{
	float: left !important;
	overflow: hidden !important;
	vertical-align: bottom !important;
	padding-top: 1px !important;
	position: relative;
}
.floatingmandiv img
{
	display: block !important;
	vertical-align: bottom !important;
}
.floating
{
	float: left !important;
	overflow: hidden !important;
	vertical-align: bottom !important;
	padding-top: 20px !important;
	min-width: 40px !important;
	position: relative;
}
.floating img
{
	display: block !important;
	vertical-align: bottom !important;
}

#container
{
	width: 230px;
	border: #CCC 1px solid;
	padding: 5px;
}
.heading
{
	font-family: arial !important;
	font-size: 14px !important;
	color: #1b3c63 !important;
	text-align: left !important;
	height: 15px !important;
	padding-top: 8px !important;
}
.meetingroom
{
	position: relative !important;
	float: left !important;
	padding-top: 5px !important;
	height: 71px !important;
	width: 106px !important;
}
.inner-content
{
	position: relative !important;
	float: left !important;
	padding-left: 5px !important;
	padding-top: 10px !important;
	font-family: arial !important;
	color: #1b3c63 !important;
	font-weight: normal !important;
	font-size: 12px !important;
}
.clear
{
	clear: both;
}
.icons
{
	position: relative;
	float: left;
	min-width: 30px !important;
	padding-top: 6px !important;
}
.icons-first
{
	position: relative;
	float: left;
	padding-top: 8px !important;
}
