a#Button1:hover
{
	color:red;
  	FONT-SIZE: 8pt;
	border-style:none;
	font-family:Arial;
	background-color:#ffffff;
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}
.stdButton1
{
	FONT-SIZE: 8pt;
	border-style:none;
	font-family:Arial;
	background-color:#ffffff;
	CURSOR: pointer; COLOR: #000000;
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}

/*A:active {FONT-SIZE: 8pt;COLOR: black;FONT-FAMILY: Verdana }
A:hover{FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana }
A:linkr{FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana }
A:visited{FONT-SIZE: 8pt;COLOR: black;FONT-FAMILY: Verdana }
*/
.stdButtonRptViewer
{
	cursor:pointer;
	color:Black;
	font-family:Arial;
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:#ffffff;
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}
input.btnhovRptViewer
{
	cursor:pointer;
	color:Red;
	font-family:Arial;
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:#ffffff;
	BACKGROUND-IMAGE:none; 
	text-align:right;
	vertical-align:middle;
	text-decoration:none;
}
