
.stdTextBox
{
	font-family:Arial;
	font-size:8pt;
	height:20px;
	width:100px;	
}
.stdTextBoxQuestion
{
	font-family:Arial;
	font-size:8pt;
	height:20px;
	width:250px;	
}
.stdTextBoxAnswer
{
	font-family:Arial;
	font-size:8pt;
	height:20px;
	width:180px;	
}

.textStyle1
{
	 font-family:Arial;
	 font-size:8pt;
	 color:Black;
	 font-weight:normal;
	 height:8px;
	 text-align:left;
}
.stdTextBoxSmallRO
{
	background-color:#FFFFF0;
	font-family:Arial;
	font-size:8pt;
	height:20px;
	width:100px;
	BORDER-style :groove;   
}

.ePayrollButton
{
	FONT-SIZE: 8pt;
	font-family:Arial, Helvetica, sans-serif; 
	BORDER-LEFT-COLOR: #c4cace; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF); 
	BACKGROUND-IMAGE: none; 
	BORDER-BOTTOM-COLOR: #c4cace; 
	CURSOR: pointer; COLOR: #000000; 
	BORDER-TOP-COLOR: #c4cace; 
	BACKGROUND-COLOR: #c4cace; 
	BORDER-RIGHT-COLOR: #c4cace;
	BORDER-RIGHT: #555555 1px solid; 
	BORDER-TOP: #555555 1px solid; 
	BORDER-LEFT: #555555 1px solid; 
	BORDER-BOTTOM: #555555 1px solid;
	padding-left:0px;
	padding-right:0px;
}

a {
color: #304E78;
font-weight: bold;
text-decoration: none;
}

a:hover {
color: #304E78;
font-weight: bold;
text-decoration: underline;
}

.titleHead 
{
font-family:Arial; 
font-size: 12px;
font-weight: bold;
color: #304F78;
}
.titleCompany 
{
font-family:Arial Narrow; 
font-size: 32px;
color: #F8FFFF;
}
.titleSmall 
{
font-family:Arial; 
font-size: 8pt;
font-weight: bold;
color: #304F78;
}
.titleBig 
{
font-family:Arial; 
font-size: 17px;
font-weight: bold;
color: #304F78;
}

.header {
height: 110px;
background-image: url(../images/Login/headerbg.gif);
background-repeat: no-repeat;
background-color: #646464;
}

.headerleft {
padding: 15px 0 0 15px;
}

.headerright {
padding: 15px 15px 0 0;
}

.mainbody {
background-image: url(../images/Login/mainbodybg.gif);
background-repeat: repeat-y;
background-color: #646464;
}

.mainleft {
padding: 0 0 0 20px;
}

.dividervert {
background-image: url(../images/Login/divider_vert.gif);
background-repeat: repeat-y;
}

.mainright {
padding: 10px 15px 0 5px;
}

.footer {
height: 43px;
margin: 0;
background-image: url(../images/Login/footerbg.gif);
background-repeat: no-repeat;
background-color: #646464;
}

.footerleft {
padding: 8px 0 0 35px;
font-size : 9px;
font-family:Arial;	
}

.footerright {
text-align: right;
padding: 8px 35px 0 0;
font size: 9px;
}

.poweredBy {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #555555;
}
.tblBorderAll
{
	BORDER-top: #33527B 1px solid;
	BORDER-RIGHT: #33527B 1px solid;
	BORDER-LEFT: #33527B 1px solid;
	border-bottom: #33527B 1px solid;
}

.TextBoxMessage
{
	  width:655;
	  height:120px;
	  font-family:Verdana;
	  font-weight:normal;
	  font-size:8pt;
}
.lblClass
{
    font-family:Arial;
    font-size:12pt;
    color:Red;
}
.titleMsg
{
    font-family:Arial; 
    font-size: 10pt;
    font-weight:bold;
    color:Red;
}

.titleMsgCross
{
    font-family:Arial; 
    font-size: 12pt;
    font-weight:bold;
    color:#C00000;
    vertical-align:middle;
}

.titleMsgTick
{
    font-family:Arial; 
    font-size: 12pt;
    font-weight:bold;
    color:#00823B;
    vertical-align:middle;
}