﻿/* Tab Content - menucool.com */

ul.tabs
{
    padding: 3px 0 3px 8px;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size:12px;
    font-weight:normal;
    text-decoration: none;
    position: relative;
    padding: 3px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background-color: #eeeeee;
    border-radius: 0px;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background-color:#eeeeee ;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
	border-top:1px solid  #b7b7b7  ;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 5px !important;
    background-color:#FFF;
    border-radius: 0px;
	
}