.TableTopBorder
{
	border-top:#d6d6d6 1px solid;
	border-bottom:#d6d6d6 1px solid;
}
.TableTopBorderOnly
{
	border-top:#6375d6 1px solid;
}
.TableBottomBorderOnly
{
	border-bottom:#6375d6 1px solid;
	border-left: #6375d6 1px solid;
	border-right: #6375d6 1px solid;
	height:20px;
	background-color:#CFDDEE;
}
.tableBorderMainSub
{
	BORDER-LEFT: #6375d6 1px solid;
}
.tableBorderMainSubSub
{
	BORDER-RIGHT: #6375d6 1px solid;
}
/*.TRTopCss
{
	background-color:#eeeeee !important;
	height:25px !important;
}*/
.TDLeftBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-left: #6375d6 1px solid;
}
.TDRightBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-right: #6375d6 1px solid;
}
.TRTopBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-top: #6375d6 1px solid;
}
.TRBottomBorderCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
  border-bottom: #6375d6 1px solid;
}
.TDMiddleCss
{
  font-family:Arial;
  font-size:8pt;
  font-style:normal;
  color:Black;
}
/*.RowAlternateColor
{
	background-color:#f9f9f9;
	height:32px;
}
.RowColor
{
	height:32px;
	background-color:#ffffff;
}*/
.LastRowCss
{
 border-left: #6375d6 1px solid;
 border-right: #6375d6 1px solid;
 height:20px;
 background-color:#eeeeee;
}
.ButtonTableGrid
{
	font-family:Arial;
	FONT-SIZE: 8pt; 
	border-style:none;
	background-color:Transparent;
	BACKGROUND-IMAGE: none; 
	text-align:left;
	cursor:hand;
	color:Blue;
	vertical-align:middle;
	text-decoration:none;
}

.h14_text
{
	font-weight:bold;
	font-size: 12pt;
	color: #006699;
	font-family: Arial Narrow;
	letter-spacing: 1pt;
}	
	
.m_text
	{
		font-family:Tahoma;
		font-size:10px;
		line-height:14px;
		color:#4C4C4C;
	}
.form_div
	{
		height:25px; margin-top:3px;		
	}		
.tdBorderAll
{
	BORDER-RIGHT: #6375d6 1px solid;
	BORDER-LEFT: #6375d6 1px solid;
	border-bottom:#6375d6 1px solid;
}
.textWhite
{
	 font-family:Arial;
	 font-size:8pt;
	 color:White;
	 font-weight:bold;
	 text-align:left;
}
.FeedBackTextbox
{
	 font-family:Verdana;
	 font-size:8pt;
	 text-align:left;
	 width:400px;
}
.FontFeedBack
{
	font-family:Verdana;
	font-size:8pt;
	text-align:left;	
}
.MsgTxtBox
{
	font-family:Verdana;
	font-size:8pt;
	text-align:left;	
	width:400px;
	height:150px;
	
}

.FeedBackButton
{
	FONT-SIZE: 8pt;
	font-family:Arial, Helvetica, sans-serif; 
	BORDER-LEFT-COLOR: #c4cace; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C4CACE,endcolorstr=#FFFFFF); 
	BACKGROUND-IMAGE: none; 
	BORDER-BOTTOM-COLOR: #c4cace; 
	CURSOR: pointer; COLOR: #000000; 
	BORDER-TOP-COLOR: #c4cace; 
	BACKGROUND-COLOR: #c4cace; 
	BORDER-RIGHT-COLOR: #c4cace;
	BORDER-RIGHT: #555555 1px solid; 
	BORDER-TOP: #555555 1px solid; 
	BORDER-LEFT: #555555 1px solid; 
	BORDER-BOTTOM: #555555 1px solid;
	padding-left:0px;
	padding-right:0px;
	height:20px;
	width:45px;
}
.lblStyle
{
	font-family:Verdana;
	font-size:8pt;
	text-align:center;	
	color:Black;
}


.LeaveToolTip 
{
	font-family:Arial;
	FONT-SIZE: 8pt; 
	border-style:none;	
	COLOR: #3355cc; 
	BACKGROUND-IMAGE: none; 
	text-align:left;
	vertical-align:middle;
	text-decoration:none;
	BORDER-BOTTOM: #3355cc 1px dashed; 	
	CURSOR: help; 
}


/*- Menu Tabs 1--------------------------- */ 


    #tabs1 {
      float:left;
      width:100%;
	  background:#ffffff;
      font-size:93%;
      line-height:normal;
	  border-bottom:1px solid #d6d6d6;
      }
    #tabs1 ul {
	  margin:0;
	  padding:10px 10px 0 5px;
	  list-style:none;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
      }
      /*#tabs1 li.selected a
      {
background-color: #ffffff;
border-top: 4px solid darkgrey;
padding: 0px 0 0px 4px;
}*/
      #tabs1 li.selected a span
      {
          background-position:100% -42px;
      }
    #tabs1 a 
    {
      font-family: Arial;
font-size: 8pt;
font-weight: bold;
float: left;

margin: 0;
padding: 2px 0 1px 4px;
text-decoration: none;
border: 1px solid #d6d6d6;
border-bottom: none !important;
margin-right: 10px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-sizing: border-box !important;
background-color: #eeeeee;
      }
    #tabs1 a span {
      float:left;
      display:block;
        
      padding:5px 15px 4px 6px;
      color:#000000; 
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs1 a span {float:none;}
    /* End IE5-Mac hack */
  /*  #tabs a:hover span {
      color:#627EB7;
      }*/
    #tabs1 a:hover {
 /*     background-position:0% -42px; */
      }
    #tabs1 a:hover span {
 /*     background-position:100% -42px; */
      }
      
      .tabHeader
      {
		
	  }
	  
	  
	  
	  
	  
	   #tabs2 {
      float:left;
      width:100%;
	  background:#eeeeee;
      font-size:93%;
      line-height:normal;
	  border-bottom:1px solid #BCD2E6;
      }
    #tabs2 ul {
	  margin:0;
	  padding:10px 10px 0 5px;
	  list-style:none;
      }
    #tabs2 li {
      display:inline;
      margin:0;
      padding:0;
      }
      #tabs2 li.selected a
      {
          background-position:0% -42px;
      }
      #tabs2 li.selected a span
      {
          background-position:100% -42px;
      }
    #tabs2 a 
    {
      font-family: Arial; 
      font-size: 8pt; 
      font-weight:bold;
      float:left;
      background:url("../Images/tableft1.gif") repeat left top; 
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs2 a span {
      float:left;
      display:block;
        background:url("../Images/tabright1.gif") repeat right top; 
      padding:5px 15px 4px 6px;
      color:#000000; 
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs2 a span {float:none;}
    /* End IE5-Mac hack */
  /*  #tabs a:hover span {
      color:#627EB7;
      }*/
    #tabs2 a:hover {
background-color:#ffffff !important;
      }
    #tabs2 a:hover span {
 /*     background-position:100% -42px; */
      }
      
      .tabHeader
      {
		
	  }
	  
	  
	  
.RowAlternateColor1
{
background-color:#E6E6E6;
}
.RowColor1
{
background-color:#ffffff;
}
.TRTopCss1
{
background-color:#CFDDEE;
}
      