.TreeView 
{ 
  background-color:#CFDDEE;
  padding-top:2px; 
  padding-left:1px; 
 /* border: #7C7C94 1px solid;  */
  cursor:default; 
}

.TreeNode 
{ 
  font-family: Arial; 
  font-size: 9pt; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.GrayedTreeNode 
{ 
  font-family: Arial; 
  font-size: 9pt; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: Arial; 
  font-size: 9pt; 
  text-decoration:none; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor:pointer! important; 
  background-color: white;
}

.SelectedTreeNode 
{ 
  font-family: Arial; 
  font-size: 9pt; 
/* background-color: white; */
 /* color:Black; */
 text-decoration:none;
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: pointer! important; 
}

.NodeEdit 
{
  /* border:1px gray solid;*/
  font-family: Arial; 
  font-size: 9pt;  
}
