﻿.WaterMarkedTextBox
{
	height: 18px !important;
	padding: 1px 1 1 1px;
	border: 1px solid #707070;
	color: Gray !important;
	font-family: Arial !important;
	font-size: 8pt !important;
	font-weight: normal !important;
	text-align: center !important;
	background-position-y: 100% !important;
}
.NormalTextBox
{
	background-position: right 100%;
	font-family: Arial !important;
	font-size: 8pt !important;
	color: Black !important;
	font-weight: normal !important;
	height: 18px !important;
	text-align: left !important;
	padding: 1px 1 1 1px;
	border: 1px solid #707070;
	background-color: white;
	background-attachment: scroll;
}
.DefaultTextbox
{
	font-family: Arial !important;
	font-size: 8pt !important;
	font-weight: normal !important;
}

.Import_dialog_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .15;
	filter: alpha(opacity=15);
	-moz-opacity: .15;
	z-index: 101;
	display: none;
}
.Import_dialog
{
	margin-left: -190px;
	padding: 0px;
	z-index: 103;
	font-family: Arial;
	font-size: 10pt;
	display: none;
	border: 1px solid black;
	background-color: white;
}
.Import_dialog_Prgress
{
	margin-left: -190px;
	padding: 0px;
	z-index: 105;
	font-family: Arial;
	font-size: 10pt;
	display: none;
	background-color: White;
	
}
.ui-autocomplete
{
	position: absolute;
	cursor: default;
}

/* workarounds */
* html .ui-autocomplete
{
	width: 1px;
}

.ui-autocomplete-loading
{
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-menu .ui-menu-item
{
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}

.ui-menu .ui-menu-item a
{
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom: 1;
}



.ui-menu
{
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
}

.ui-menu .ui-menu
{
	margin-top: -3px;
}


/* Component containers
----------------------------------*/
.ui-widget
{
	font-family: Arial /*{ffDefault}*/;
	font-size: 8pt /*{fsDefault}*/;
}
.ui-widget .ui-widget
{
	font-size: 8pt;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
	font-family: Arial /*{ffDefault}*/;
	font-size: 8pt;
}
.ui-widget-content
{
	border: 1px solid #aaaaaa /*{borderColorContent}*/;
	background: #ffffff /*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
	color: #222222 /*{fcContent}*/;
}
.ui-widget-content a
{
	color: #222222 /*{fcContent}*/;
}

.ui-widget-header a
{
	color: #222222 /*{fcHeader}*/;
}




