﻿/*Telerik RadCalendar Special skin*/

table.RadCalendar_Special {
    border-collapse: separate;
    border: 0;
    background: #fff;
    color: #fff;
    width: 540px;
}

/*titlebar*/

.RadCalendar_Special .rcTitlebar {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: Black;
    padding: 0;
}

    .RadCalendar_Special .rcTitlebar table {
        width: 100%;
        border-collapse: separate;
       
        border: 0;
        padding: 10px 10px !important;
        background-color: #ffffff !important;
        font: 18px !important;
    }

    .RadCalendar_Special .rcTitlebar td {
        border: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        height: 16px;
        color: Black;
    }

    .RadCalendar_Special .rcTitlebar .rcTitle {
        width: 50%;
        cursor: default;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
       font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    }

    .RadCalendar_Special .rcTitlebar .rcPrev,
    .RadCalendar_Special .rcTitlebar .rcNext,
    .RadCalendar_Special .rcTitlebar .rcFastPrev,
    .RadCalendar_Special .rcTitlebar .rcFastNext {
        display: block;
        width: 17px;
        height: 16px;
        overflow: hidden;
        margin: 0 6px;
        background: none !IMPORTANT;
        text-indent: -2222px;
        text-decoration: none;
        color: #000;
    }

.RadCalendar_Special .rcWeekheader {
    line-height: 24px !important;
    padding: 3px !important;
   border:none !important;
    background: #606060 !important;
    color: #ffffff !important;
    font-weight: normal !important;
    font-size: 12px !important;
    text-align: center !important;
}


.RadCalendar_Special .rcTitlebar .rcFastPrev {
    background-position: 0 0;
}

    .RadCalendar_Special .rcTitlebar .rcFastPrev:hover {
        background-position: 0 -50px;
    }

.RadCalendar_Special .rcTitlebar .rcPrev {
    background-position: 0 -100px;
}

    .RadCalendar_Special .rcTitlebar .rcPrev:hover {
        background-position: 0 -150px;
    }

.RadCalendar_Special .rcTitlebar .rcNext {
    background-position: 0 -200px;
}

    .RadCalendar_Special .rcTitlebar .rcNext:hover {
        background-position: 0 -250px;
    }

.RadCalendar_Special .rcTitlebar .rcFastNext {
    background-position: 0 -300px;
}

    .RadCalendar_Special .rcTitlebar .rcFastNext:hover {
        background-position: 0 -350px;
    }

.RadCalendar_Special .rcMain {
    width: 100%;
    border: 0;
    padding: 0;
    background-color:#ffffff !important;
}

.RadCalendar_Special .rcMainTable {
    border-collapse: separate;
    border: 0;
    width: 100%;
    
    font: 12px/17px "Open Sans", Roboto, Arial, sans-serif !important;
     background-color:#ffffff !important;
}

/*header, footer*/

.RadCalendar_Special .rcHeader,
.RadCalendar_Special .rcFooter {
    border: 0;
    padding: 0;
}

/*week numbers and days*/

.RadCalendar_Special .rcWeek th,
.RadCalendar_Special .rcRow th {
    border: 0;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
    color: #000;
}

.RadCalendar_Special .rcWeek th {
    line-height: 28px;
    padding-bottom: 7px;
    background: 0 -600px repeat-x url(specialsprite.gif);
}

/*date cells*/

.RadCalendar_Special .rcRow td {
    padding: 0px !important;
    text-align: center !important;
    border-width: 1px !important;
    border-style: none !important;
    vertical-align: top !important;
}

.RadCalendar_Special .rcRow .rcOtherMonth {
    background: none;
    font: 1px/1px sans-serif;
}

.RadCalendar_Special .rcRow a,
.RadCalendar_Special .rcRow span,
.RadCalendar_Special .rcTemplate {
    /*
	display:block;
	width:95px;
	height:47px;
	padding:8px 8px 0 0;
	background:0 -400px no-repeat url(specialsprite.gif);
	text-decoration:none;
          width:100px !important; 
	*/
    height: 70px !important;
    float: left;
    margin-right: 2%;
    /*border: 1px solid #eeeeee;*/
    padding: 0 0 0 0;
    font: 11px;
    /*-moz-border-radius: 15px 0 15px 0; */
    text-decoration: none;
    width:100%;
}

.RadCalendar_Special .rcTemplate {
    background: none;
    color: #000; /* hover color of special text */
}

.RadCalendar_Special .rcRow a {
    color: #000;
}

.RadCalendar_Special .rcRow .rcHover a,
.RadCalendar_Special .rcRow .rcSelected a {
    background-position: 0 -500px;
    color: #000;
}

/*special days*/

.RadCalendar_Special .rcRow .rcHover .rcTemplate,
.RadCalendar_Special .rcRow .rcSelected .rcTemplate {
    color: #000; /* hover color of special text */
}

.RadCalendar_Special .rcRow .rcDayDate {
    /*background:0 0 no-repeat url(t_date.gif);
	width:100px;
	height:47px; 
        float:left; 
        margin-right:2%; 
        border:0px solid #D6D6C2; 
      background-color:#E6E6E6; 
        padding:0px 0px 0 0;
        font: 12px Verdana, Arial, Helvetica, sans-serif; 
        -moz-border-radius: 15px 15px 15px 15px; 
        text-decoration:none;*/
}

.RadCalendar_Special .rcRow .rcDayMortgage {
    background: 0 0 no-repeat url(t_mortgage.gif);
}

.RadCalendar_Special .rcRow .rcDayBirthday {
    background: 0 0 no-repeat url(t_birthday.gif);
}
.RadCalendar_Special .rcRow > td {
            border: 1px solid #eeeeee !important;
            width:90px;
        }