﻿/*Telerik RadCalendar LeaveSpecial skin*/
* {
    font-family:"Open Sans", Roboto, Arial, sans-serif !important;
}
table.RadCalendar_LeaveSpecial {
    border-collapse: separate;
    border: 0;
    background: #fff;
    width: 500px;
    padding-top:15px;
}

/*titlebar*/

.RadCalendar_LeaveSpecial .rcTitlebar {
    width: 100%;
    border: none !important;
}

    .RadCalendar_LeaveSpecial .rcTitlebar table {
        width: 100%;
        border-collapse: separate;
        line-height: 18px !important;
        border: 0;
        
    }

    .RadCalendar_LeaveSpecial .rcTitlebar td {
        border:none !important;
        padding:0px !important;
        text-align: center;
        vertical-align: middle;
      
        color: #364347;
        font-size:18px;
        font-weight:bold;
        text-transform: uppercase;
        /*background-position: 0, -250px;*/
    }

    .RadCalendar_LeaveSpecial .rcTitlebar .rcTitle {
        width: 100%;
        cursor: default !important;
    }

.RadCalendar_LeaveSpecial .rcMainTable .rcTitle {
    text-align: center !important;
    background-color: #ffffff !important;
    font-size: 15px !important;
    color: #364347 !important;
    text-transform: uppercase;
     padding-bottom:5px;
   
     font-weight:bold;
}

.RadCalendar_LeaveSpecial .rcTitlebar .rcPrev, .RadCalendar_LeaveSpecial .rcTitlebar .rcNext, .RadCalendar_LeaveSpecial .rcTitlebar .rcFastPrev, .RadCalendar_LeaveSpecial .rcTitlebar .rcFastNext {
    display: block;
    width: 55px;
    height: 16px;
    margin: 6px;
    text-decoration: underline;
    text-indent: 0px;
    color: #213b8d;
    overflow: visible;
    font-weight: bold;
}

.RadCalendar_LeaveSpecial .rcTitlebar .rcFastPrev {
    background-position: 0 0;
}

    .RadCalendar_LeaveSpecial .rcTitlebar .rcFastPrev:hover {
        background-position: 0 -50px;
    }

.RadCalendar_LeaveSpecial .rcTitlebar .rcPrev {
    background-position: 0 0;
    text-align: right;
}

    .RadCalendar_LeaveSpecial .rcTitlebar .rcPrev:hover {
        background-position: 0 -150px;
    }

.RadCalendar_LeaveSpecial .rcTitlebar .rcNext {
    background-position: 0 0;
    text-align: right;
}

    .RadCalendar_LeaveSpecial .rcTitlebar .rcNext:hover {
        background-position: 0 -250px;
    }

.RadCalendar_LeaveSpecial .rcTitlebar .rcFastNext {
    background-position: 0 -300px;
}

    .RadCalendar_LeaveSpecial .rcTitlebar .rcFastNext:hover {
        background-position: 0 -350px;
    }

/*.RadCalendar_LeaveSpecial .rcMain
{
    width: 100%;
    border: 0;
    padding: 0;
}*/

.RadCalendar_LeaveSpecial .rcMainTable {
    border-collapse: separate;
    border: none !important;
    font: 12px;
    padding-top:10px;
}


.RadCalendar_Vista .rcMain {
    padding: 0px;
    width: 100%;
    border-top: #000000 0px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-left: #000000 1px solid;
}


/*header, footer*/

.RadCalendar_LeaveSpecial .rcHeader, .RadCalendar_LeaveSpecial .rcFooter {
    border: 0;
    padding: 0;
}

/*week numbers and days*/


.RadCalendar_LeaveSpecial .rcRow th {
    border: 0;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    color: #000;
}

/*.RadCalendar_LeaveSpecial .rcCalendar {
    border-style: solid !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 10px !important;
    border: 1px solid #c7c7c7 !important;
    border-top: solid 5px #213b8d !important;
    color: #213b8d !important;
    background:#ffffff !important; 
}*/

 .rcCalendar .rcTitle {
   
    color:#364347 !important
}

.rcWeekheader {
    line-height: 20px !important;
    color: #213b8d !important;
    font-size: 10px !important;
    text-align: center !important;
    padding-left: 11px !important;
    
}
/*date cells*/

.RadCalendar_LeaveSpecial .rcRow td {
    padding: 0 2px 2px 0;
    text-align: right;
    vertical-align: middle !important;
}

.RadCalendar_LeaveSpecial .rcRow a, .RadCalendar_LeaveSpecial .rcRow span, .RadCalendar_LeaveSpecial .rcTemplate {
    /* 	display:block; 	width:95px; 	height:47px; 	padding:8px 8px 0 0; 	background:0 -400px no-repeat url(specialsprite.gif); 	text-decoration:none; 	*/
    width:18px !important;
height:18px !important;
float: right;
background: #FFFFFF;
font-size:11px;
text-decoration: none;
text-align: center;
cursor: default !important;
border-radius: 100px !important;
line-height:1.8;
color: #aab2bd;
}

.RadCalendar_LeaveSpecial .rcTemplate {
    background: none;
    color: #000; /* hover color of LeaveSpecial text */
}

.RadCalendar_LeaveSpecial .rcRow a {
    color: #acb2bd;
    text-align:center;
    cursor: default !important;
}

.RadCalendar_LeaveSpecial .rcRow .rcHover a, .RadCalendar_LeaveSpecial .rcRow .rcSelected a {
    background-position: 0 -500px;
    color: #000;
    cursor: default !important;
}

/*LeaveSpecial days*/

.RadCalendar_LeaveSpecial .rcRow .rcHover .rcTemplate, .RadCalendar_LeaveSpecial .rcRow .rcSelected .rcTemplate {
    color: #000; /* hover color of LeaveSpecial text */
}

.RadCalendar_LeaveSpecial .rcRow .rcDayDate {
    /*background:0 0 no-repeat url(t_date.gif); 	width:100px; 	height:47px;          float:left;          margin-right:2%;          border:0px solid #D6D6C2;        background-color:#E6E6E6;          padding:0px 0px 0 0;         font: 12px Verdana, Arial, Helvetica, sans-serif;          -moz-border-radius: 15px 15px 15px 15px;          text-decoration:none;*/
}

.RadCalendar_LeaveSpecial .rcRow .rcDayMortgage {
    background: 0 0 no-repeat url(t_mortgage.gif);
}

.RadCalendar_Special .rcRow .rcOtherMonth {
    background: none;
    font: 1px/1px sans-serif;
}

.RadCalendar_LeaveSpecial .rcRow .rcDayBirthday {
    background: 0 0 no-repeat url(t_birthday.gif);
}

/* Navigation */
.RadCalendar_LeaveSpecial .rcTitlebar a.rcFastPrev, .RadCalendar_LeaveSpecial .rcTitlebar a.rcFastNext {
    display: none;
}

.RadCalendar_LeaveSpecial .rcDay {
    cursor: default !important;
}


.RadCalendar_LeaveSpecial .rcCalendar >table {
    border-style: solid !important;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

border: 1px solid #c7c7c7 !important;
border-top: solid 5px #606060 !important;
color: #213b8d !important;
background: #ffffff !important;
}