﻿/*Telerik RadCalendar Attendace skin*/

table.RadCalendar_Attendace
{
	border-collapse:separate;
	border:0;
	background:#fff;
	color:#fff;
	font:12px "Open Sans", Roboto, Arial, sans-serif !important;
	width:710px !important;
	border-style:solid;
	border-width:1px;
	
    margin-top:10px !important;
}

/*titlebar*/

.RadCalendar_Attendace .rcTitlebar
{
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:Black;
	padding:0;
	background-color:#ACABA3;
}

.RadCalendar_Attendace .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	line-height:25px !important;
	border:0;
	font:14px/36px "Open Sans", Roboto, Arial, sans-serif !important;
}

.RadCalendar_Attendace .rcTitlebar td
{
	border:0;
	padding:0;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	height:18px;
	color:Black;
    text-transform:uppercase;
    font-size:16px;
    background-color:#ffffff;
}

.RadCalendar_Attendace .rcTitlebar .rcTitle
{
	width:50%;
	cursor:default;
}

.RadCalendar_Attendace .rcTitlebar .rcPrev,
.RadCalendar_Attendace .rcTitlebar .rcNext,
.RadCalendar_Attendace .rcTitlebar .rcFastPrev,
.RadCalendar_Attendace .rcTitlebar .rcFastNext
{
	display:block;
	width:17px;
	height:16px;
	overflow:hidden;
	margin:0 6px;
	background:transparent url(Calendar/specialsprite.gif) no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#000;
	
}

.RadCalendar_Attendace .rcTitlebar .rcFastPrev
{
	background-position:0 0;
}

.RadCalendar_Attendace .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -50px;
}

.RadCalendar_Attendace .rcTitlebar .rcPrev
{
	background-position:0 -100px;
}

.RadCalendar_Attendace .rcTitlebar .rcPrev:hover
{
	background-position:0 -150px;
}

.RadCalendar_Attendace .rcTitlebar .rcNext
{
	background-position:0 -200px;
}

.RadCalendar_Attendace .rcTitlebar .rcNext:hover
{
	background-position:0 -250px;
}

.RadCalendar_Attendace .rcTitlebar .rcFastNext
{
	background-position:0 -300px;
}

.RadCalendar_Attendace .rcTitlebar .rcFastNext:hover
{
	background-position:0 -350px;
}

.RadCalendar_Attendace .rcMain
{
	width:100%;
	border:0;
	padding:0;
}

.RadCalendar_Attendace .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/17px "Open Sans", Roboto, Arial, sans-serif !important;
}

/*header, footer*/

.RadCalendar_Attendace .rcHeader,
.RadCalendar_Attendace .rcFooter
{
	border:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Attendace .rcWeek th,
.RadCalendar_Attendace .rcRow th
{
	border:0;
	font-weight:bold;
	vertical-align:middle;
	cursor:default;
	color:#000;
	
}

.RadCalendar_Attendace .rcWeek th
{
	line-height:28px;
	padding-bottom:7px;
	background:0 -600px repeat-x url(Attendacesprite.gif);
}

/*date cells*/

.RadCalendar_Attendace .rcRow td
{
	padding:0px;
	text-align:right;
}

.RadCalendar_Attendace .rcRow .rcOtherMonth
{
	background:none;
	font:1px/1px sans-serif;
    border:1px solid #eeeeee !important;

}


.RadCalendar_Attendace .rcRow a,
.RadCalendar_Attendace .rcRow span,
.RadCalendar_Attendace .rcTemplate
{
	/*
	display:block;
	width:95px;
	height:47px;
	padding:8px 8px 0 0;
	background:0 -400px no-repeat url(Attendacesprite.gif);
	text-decoration:none;
	*/
	
	
       width:120px;
	   height:90px; 
        float:left; 
        margin-right:2%; 
        border:0px solid #D6D6C2; 
        background:#FFF4D6; 
        padding:0 0 0 0;
        font: 8pt "Open Sans", Roboto, Arial, sans-serif !important;
        /*-moz-border-radius: 15px 0 15px 0; */
        
        
}

.RadCalendar_Attendace .rcTemplate
{
	background:none;
	color:#000; /* hover color of Attendace text */
}

.RadCalendar_Attendace .rcRow a
{
	color:#000;
}

.RadCalendar_Attendace .rcRow .rcHover a,
.RadCalendar_Attendace .rcRow .rcSelected a
{
	background-position:0 -500px;
	color:#000;
}

/*Attendace days*/

.RadCalendar_Attendace .rcRow .rcHover .rcTemplate,
.RadCalendar_Attendace .rcRow .rcSelected .rcTemplate
{
	color:#000; /* hover color of Attendace text */
}

.RadCalendar_Attendace .rcRow .rcDayDate
{
	/*background:0 0 no-repeat url(t_date.gif);
	width:100px;
	height:47px; 
        float:left; 
        margin-right:2%; 
        border:0px solid #D6D6C2; 
        padding:0px 0px 0 0;
        font: 12px Verdana, Arial, Helvetica, sans-serif; 
        -moz-border-radius: 15px 15px 15px 15px; 
        text-decoration:none;
        */
}

.RadCalendar_Attendace .rcRow .rcDayMortgage
{
	background:0 0 no-repeat url(t_mortgage.gif);
}

.RadCalendar_Attendace .rcRow .rcDayBirthday
{
	background:0 0 no-repeat url(t_birthday.gif);
}

.stdButton1
{
	FONT-SIZE: 7pt; 
	border-style:none;
	font-family:"Open Sans", Roboto, Arial, sans-serif !important;
	background-color:#E6E6E6;
	CURSOR: pointer; COLOR:#376AAC; 
	BACKGROUND-IMAGE:none; 
	text-align:LEFT;
	vertical-align:middle;
	height:12px;
	
}


.RadCalendar_Attendace .rcRow .rcDayDate {
    background-color:#FFFFFF !IMPORTANT;
    border:1px solid #eeeeee !important;
    padding-right:2px !important;
}
.rcWeekheader {
line-height: 24px !important;
padding: 3px !important;

background-color: #EEEEEE !important;
border: none !important;
background: #606060 !important;
color: #ffffff !important;
font-weight: bold !important;
font-size: 12px !important;
text-align: center !important;
}

