﻿/*Telerik RadCalendar Dashboard skin*/

table.RadCalendar_Dashboard
{
    border-collapse: separate;
    border: 0;
    background: #fff;
    color: #fff;
    font: 12px Arial,verdana;
    width: 100% !important;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
}

/*titlebar*/

.RadCalendar_Dashboard .rcTitlebar
{
    width: 40%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: Black;
    padding: 0;
    background-color: #276EBF;
    color: #fff;
}

    .RadCalendar_Dashboard .rcTitlebar table
    {
        width: 100%;
        border-collapse: separate;
        line-height: 20px !important;
        border: 0;
        font: 12px Arial,verdana;
    }

    .RadCalendar_Dashboard .rcTitlebar td
    {
        border: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        height: 16px;
        color: Black;
    }

    .RadCalendar_Dashboard .rcTitlebar .rcTitle
    {
        width: 100%;
        cursor: default;
        color: #fff;
    }

    .RadCalendar_Dashboard .rcTitlebar .rcPrev,
    .RadCalendar_Dashboard .rcTitlebar .rcNext,
    .RadCalendar_Dashboard .rcTitlebar .rcFastPrev,
    .RadCalendar_Dashboard .rcTitlebar .rcFastNext
    {
        display: block;
        width: 17px;
        height: 16px;
        overflow: hidden;
        margin: 0 6px;
        background: transparent url(Calendar/specialsprite.gif) no-repeat;
        text-indent: -2222px;
        text-decoration: none;
        color: #000;
    }

.RadCalendar_Dashboard .rcWeekheader
{
    line-height: 10px !important;
    padding: 1px 1px 3px 1px !important;
    background: 0 -600px repeat-x url(specialsprite.gif) !important;
    background-color: #EEEEEE !important;
    color: #000000 !important;
    font-family: Arial !important;
    font-size: 10px !important;
    text-align: center !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-top-color: #FFFFFF !important; /* border-left-style: solid !important;     border-left-width: 1px !important;     border-left-color: Black !important;*/
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #ACA899 !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-right-color: #EEEEEE !important;
}


.RadCalendar_Dashboard .rcTitlebar .rcFastPrev
{
    background-position: 0 0;
}

    .RadCalendar_Dashboard .rcTitlebar .rcFastPrev:hover
    {
        background-position: 0 -50px;
    }

.RadCalendar_Dashboard .rcTitlebar .rcPrev
{
    background-position: 0 -100px;
}

    .RadCalendar_Dashboard .rcTitlebar .rcPrev:hover
    {
        background-position: 0 -150px;
    }

.RadCalendar_Dashboard .rcTitlebar .rcNext
{
    background-position: 0 -200px;
}

    .RadCalendar_Dashboard .rcTitlebar .rcNext:hover
    {
        background-position: 0 -250px;
    }

.RadCalendar_Dashboard .rcTitlebar .rcFastNext
{
    background-position: 0 -300px;
}

    .RadCalendar_Dashboard .rcTitlebar .rcFastNext:hover
    {
        background-position: 0 -350px;
    }

.RadCalendar_Dashboard .rcMain
{
    width: 100%;
    border: 0;
    padding: 0;
}

.RadCalendar_Dashboard .rcMainTable
{
    border-collapse: separate;
    border: 0;
    width: 100%;
    font: 12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Dashboard .rcHeader,
.RadCalendar_Dashboard .rcFooter
{
    border: 0;
    padding: 0;
}

/*week numbers and days*/

.RadCalendar_Dashboard .rcWeek th,
.RadCalendar_Dashboard .rcRow th
{
    border: 0;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
    color: #000;
}

.RadCalendar_Dashboard .rcWeek th
{
    line-height: 28px;
    padding-bottom: 7px;
    background: 0 -600px repeat-x url(specialsprite.gif);
}

/*date cells*/

.RadCalendar_Dashboard .rcRow
{
    height: 35px !important;
    max-height: 35px !important;
}

    .RadCalendar_Dashboard .rcRow td
    {
        padding: 0px 0px 0px 0px !important;
        text-align: center !important;
        border-width: 1px !important;
        border-style: none !important;
        vertical-align: top !important;
        width: 40px !important;
        max-width: 40px !important;
    }

        .RadCalendar_Dashboard .rcRow td input[type="checkbox"]
        {
            margin: 0px !important;
            -ms-transform: scale(0.8) !important; /* IE */
            -moz-transform: scale(0.8) !important; /* FF */
            -webkit-transform: scale(0.8) !important; /* Safari and Chrome */
            -o-transform: scale(0.8) !important; /* Opera */
        }

    .RadCalendar_Dashboard .rcRow .rcOtherMonth
    {
        background: none;
        font: 1px/1px sans-serif;
    }

    .RadCalendar_Dashboard .rcRow a,
    .RadCalendar_Dashboard .rcRow span,
    .RadCalendar_Dashboard .rcTemplate
    {
        /*
	display:block;
	width:95px;
	height:47px;
	padding:8px 8px 0 0;
	background:0 -400px no-repeat url(specialsprite.gif);
	text-decoration:none;
	*/
       
        height: 34px !important;
        float: left;
        border: 1px solid #F2F2F2;
        background: #FFF;
        padding: 0 0 0 0;
        font: 9px Arial, Helvetica;
        /*-moz-border-radius: 15px 0 15px 0; */
        text-decoration: none;
    }

.RadCalendar_Dashboard .rcTemplate
{
    background: none;
    color: #000; /* hover color of special text */
}

.RadCalendar_Dashboard .rcRow a
{
    color: #000;
}

.RadCalendar_Dashboard .rcRow .rcHover a,
.RadCalendar_Dashboard .rcRow .rcSelected a
{
    background-position: 0 -500px;
    color: #000;
}

/*special days*/

.RadCalendar_Dashboard .rcRow .rcHover .rcTemplate,
.RadCalendar_Dashboard .rcRow .rcSelected .rcTemplate
{
    color: #000; /* hover color of special text */
}

.RadCalendar_Dashboard .rcRow .rcDayDate
{
    /*background:0 0 no-repeat url(t_date.gif);
	width:100px;
	height:47px; 
        float:left; 
        margin-right:2%; 
        border:0px solid #D6D6C2; 
      background-color:#E6E6E6; 
        padding:0px 0px 0 0;
        font: 12px Verdana, Arial, Helvetica, sans-serif; 
        -moz-border-radius: 15px 15px 15px 15px; 
        text-decoration:none;*/
}

.RadCalendar_Dashboard .rcRow .rcDayMortgage
{
    background: 0 0 no-repeat url(t_mortgage.gif);
}

.RadCalendar_Dashboard .rcRow .rcDayBirthday
{
    background: 0 0 no-repeat url(t_birthday.gif);
}
