/* RadComboBox Default skin */

/*global*/


.RadComboBox_WindowsXP *
{
	margin:0;
	padding:0;
}

.RadComboBox_WindowsXP,
.RadComboBox_WindowsXP .rcbInputCell .rcbInput,
.RadComboBoxDropDown_WindowsXP
{
	font-family:Arial;
	 font-size:8pt;
	color:#000;
	text-align: left;
	
}

.RadComboBox_WindowsXP_rtl,
.RadComboBox_WindowsXP_rtl .rcbInputCell .rcbInput,
.RadComboBoxDropDown_WindowsXP_rtl
{
	text-align: right;
}

/* combobox */

.RadComboBox_WindowsXP
{
	vertical-align:top;
}

.RadComboBox_WindowsXP table
{
	border:0;
	/*border-collapse:collapse;*/
}

.RadComboBox_WindowsXP td
{
	border:1px solid #7f9db9;
}

.RadComboBox_WindowsXP td.rcbInputCell
{
	height:20px;
	line-height:18px;
	vertical-align:middle;	
	padding:0;
}

.RadComboBox_WindowsXP .rcbInputCell .rcbInput
{
	width:100%;
	background:transparent;
	border:0;
	vertical-align:middle;
	padding:2px 0 0 0;
	color: #373737;
}

.RadComboBox_WindowsXP .rcbInputCell .rcbEmptyMessage
{
	font-family:Arial;
	 font-size:8pt;
	color: #000;
	font-style: normal;
}

.RadComboBox_WindowsXP td.rcbInputCell,
.RadComboBox_WindowsXP .rcbInputCell .rcbInput
{
	padding-left: 2px;
}

.RadComboBox_WindowsXP_rtl td.rcbInputCell,
.RadComboBox_WindowsXP_rtl .rcbInputCell .rcbInput
{
	padding-right: 2px;
	padding-left: 0;
}

.RadComboBox_WindowsXP td.rcbInputCellLeft
{
	border-right: 0;
}

.RadComboBox_WindowsXP td.rcbInputCellRight
{
	border-left: 0;
}

.RadComboBox_WindowsXP .rcbDisabled .rcbInputCell
{
	border-color: #a1a1a1;
}

.RadComboBox_WindowsXP .rcbDisabled .rcbInputCell .rcbInput
{
	color: #9b9b9b;
}

.RadComboBox_WindowsXP td.rcbArrowCell
{
	background:url('ComboBox/rcbArrowCell.gif') no-repeat 0 0;
	height:22px;
	width:17px;
	padding:0;
	padding-bottom:0;
}

.RadComboBox_WindowsXP .rcbDisabled .rcbArrowCell
{
	border-color: #878787;
}

.RadComboBox_WindowsXP td.rcbArrowCellLeft
{
	border-right-width: 0;
}

.RadComboBox_WindowsXP td.rcbArrowCellRight
{
	border-left-width: 0;
	border-right-width:1px;
	padding-right:0;
	height:18px;
}

.RadComboBox_WindowsXP .rcbArrowCell a
{
	
	width:17px;
	line-height:18px;
	text-decoration:none;
	text-indent: -9999px;
	font-size: 0;
}
.RadComboBox_WindowsXP .rcbArrowCell a, x:-moz-any-link { display: list-item !important; height: 20px; } 
.RadComboBox_WindowsXP .rcbArrowCell a, x:-moz-any-link, x:default { display: block !important; } 

.RadComboBox_WindowsXP .rcbDisabled .rcbArrowCell a
{
	cursor:no-drop;
}

.RadComboBox_WindowsXP .rcbDisabled .rcbArrowCellHidden a
{
	cursor: default;
}

.RadComboBox_WindowsXP td.rcbArrowCellHidden,
.RadComboBox_WindowsXP .rcbDisabled .rcbArrowCellHidden,
.RadComboBox_WindowsXP .rcbArrowCellHidden a
{
	width: 0;
}

.RadComboBox .rcbArrowCell a
{
	outline: 0px; 
	width: 18px; 
	height: 22px; 
	line-height: 1px; 
	text-indent: 9999px; 
	overflow: hidden; 
	font-size: 0px; 
	text-decoration: none; 
	display: block; 
	position: relative; 
	cursor: default;
}

/* dropdown */

.rcbSlide
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.RadComboBoxDropDown_WindowsXP
{
	position:absolute;
	background:#fff;
	border: 1px solid #7F9DB9;
	cursor:default;
	font-size:11px;
}

.RadComboBoxDropDown_WindowsXP_rtl
{
	text-align: right;
	direction: rtl;
}

.RadComboBoxDropDown_WindowsXP .rcbScroll
{
	overflow:auto;
}

.RadComboBoxDropDown_WindowsXP .rcbList
{
	list-style:none;
	margin:0;
	padding:0;
	zoom:1;
}

/*.RadComboBoxDropDown_WindowsXP .rcbScroll .rcbList
{
	float:left;
}*/

.RadComboBoxDropDown_WindowsXP .rcbHeader,
.RadComboBoxDropDown_WindowsXP .rcbFooter
{
	background:#929292;
	color:#fff;
	padding:4px;
}

.RadComboBoxDropDown_WindowsXP .rcbNoWrap .rcbItem,
.RadComboBoxDropDown_WindowsXP .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown_WindowsXP .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown_WindowsXP .rcbNoWrap .rcbLoading
{
	white-space:nowrap;
}

.RadComboBoxDropDown_WindowsXP .rcbItem,
.RadComboBoxDropDown_WindowsXP .rcbHovered,
.RadComboBoxDropDown_WindowsXP .rcbDisabled,
.RadComboBoxDropDown_WindowsXP .rcbLoading
{
	padding:0 20px 0 4px;
}

* html .RadComboBoxDropDown_WindowsXP .rcbItem,
* html .RadComboBoxDropDown_WindowsXP .rcbHovered,
* html .RadComboBoxDropDown_WindowsXP .rcbDisabled,
* html .RadComboBoxDropDown_WindowsXP .rcbLoading
{
	zoom:1;
}

.RadComboBoxDropDown_WindowsXP_rtl .rcbItem,
.RadComboBoxDropDown_WindowsXP_rtl .rcbHovered,
.RadComboBoxDropDown_WindowsXP_rtl .rcbDisabled,
.RadComboBoxDropDown_WindowsXP_rtl .rcbLoading
{
	padding:0 4px 0 20px;
}

.RadComboBoxDropDown_WindowsXP .rcbItem em
{
	background: #e5e5e5;
	font-style: normal;
	font-weight: bold;
}

.RadComboBoxDropDown_WindowsXP .rcbHovered
{
	background:#316ac5;
	color:#fff;
}

.RadComboBoxDropDown_WindowsXP .rcbDisabled
{
	color:#ccc;
	cursor:no-drop;
}

.RadComboBoxDropDown_WindowsXP .rcbSeparator
{
    color: #fff;
    background: #aaa;
}

.RadComboBoxDropDown_WindowsXP .rcbLoading
{
	background:#f0f0f0;
	text-align:center;
}

.RadComboBoxDropDown_WindowsXP .rcbMoreResults
{
	clear:both;
	background:#f3f3f3;
	padding:4px;
	text-align:center;
}

.RadComboBoxDropDown_WindowsXP .rcbMoreResults a
{
	display:block;
	width:15px;
	height:14px;
	background:url('ComboBox/rcbMoreResults.gif') no-repeat transparent;
	margin:0 auto 4px;
	text-indent:-3333px;
	overflow:hidden;
	text-decoration:none;
	cursor:pointer;
}

.RadComboBoxDropDown_WindowsXP .rcbMoreResults span
{
	display:block;
	text-align:center;
}

/*hacks*/


/*Opera start*/
@media screen and (min-width:550px)
{
	.RadComboBoxDropDown_WindowsXP_rtl .rcbItem,
	.RadComboBoxDropDown_WindowsXP_rtl .rcbHovered,
	.RadComboBoxDropDown_WindowsXP_rtl .rcbDisabled,
	.RadComboBoxDropDown_WindowsXP_rtl .rcbLoading
	{
		padding:0 20px 0 4px;
		zoom:1;
	}
}
/*Opera end*/
