body {
    padding: 20px;
}
/*------------- Milind CSS -----------------*/

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 475px;
}

.slide {
    /*padding: 15px;*/
    /*background-color: #2F2F2F;*/
    margin: 0 0 15px;
    /*text-align: center;*/
    /*color: #FFF;*/
    border: 2px solid #444;
}

.slide-placeholder {
    background: transparent;
    position: relative;
}

    .slide-placeholder:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15px;
        background-color: transparent;
    }

.slide2 {
    height: 30px;
}

.slide3 {
    height: 50px;
}

.slide4 {
    height: 90px;
}

.slide5 {
    height: 35px;
}

.header {
    background-color: white;
    width: 495px;
    height: 100%;
}

.headerbutton {
    background-color: white;
    /*width: 495px;*/
    height: 100%;
}

.header1 {
    background-color: white;
    max-height: 345px;
  
    overflow-x: hidden;
    overflow-y: auto;
}

.mainbody {
    align-content: center;
}

.headerText {
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
}

.headerPadding {
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

.button {
    padding: 6px 12px;
    /*color: #282828;*/
    border: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.removeButton {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    margin-right: 10px;
    font-family: Arial;
}

.DivClass {
    position: relative;
    background: #fff;
    border: 1px #f3f3f3 solid;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    width: 460px;
}

.inputItem {
    position: absolute;
    top: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 9px;
    width: 310px;
    cursor: text;
    /*transition: border-color .3s;*/
    /*-moz-transition: border-color .3s;*/
    -webkit-transition: border-color .3s;
    right: 25px;
    text-transform: uppercase;
}

.inputItemCode {
    position: absolute;
    top: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 9px;
    width: 50px;
    cursor: text;
    /*transition: border-color .3s;*/
    /*-moz-transition: border-color .3s;*/
    -webkit-transition: border-color .3s;
    right: 343px;
    text-align: center;
    text-transform: uppercase;
}

.SpanClass {
    position: relative;
    line-height: 50px;
    font-weight: 700;
    padding-left: 8px;
    padding-right: 10px;
    cursor: all-scroll;
    /*top: 2px;*/
}

.color {
    position: absolute;
    top: 11px;
    left: 35px;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    background-color: green;
}

.color1 {
    position: absolute;
    top: 15px;
    left: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    background-color: green;
}

#mcTooltipWrapper {
    /*left: 384px !important;*/
}

.ColorPicker {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin: 3px;
    cursor: pointer;
    display: inline-block;
}

.PopUpDiv {
    line-height: 16px;
    border-width: 1px;
    color: #333;
    border-color: #BBB;
    padding: 20px;
    font-size: 12px;
    font-family: Verdana, Arial;
    border-radius: 6px;
    background-color: #F6F6F6;
    width: 400px;
}

.DivBackImage {
    background-image: url(../../Images/tick.png);
    background-repeat: no-repeat;
    background-position: top right;
}


/*------------- Ruhi CSS -----------------*/
.table > thead > tr > th {
    vertical-align: middle !important;
    border-bottom: 2px solid #ddd;
    padding: 6px 8px !important;
    background-color: #eeeeee !important;
}

.fs_selected {
    /*background-color: #44bb91;*/
    height: 24px;
    width: 24px;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}



.ss_selected {
    /*background-color: #e57164;*/
    height: 24px;
    width: 24px;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.ns_selected {
    /*background-color: #f4c201;*/
    height: 24px;
    width: 24px;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.gs_selected {
    /*background-color: #213c8d;*/
    height: 24px;
    width: 24px;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.unselected {
    background-color: #eeeeee;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    font-weight: bold;
    color: #727272;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    border: dotted 1px #727272;
    cursor: pointer;
}

.oneline {
    display: inline-block;
}

.addshift {
    background-image: url(../../Images/add-group.png);
    background-repeat: no-repeat;
    background-position: center;
    /*float: right;*/
    padding-right: 2px;
    cursor: pointer;
}
