//
// Name :       Amol Nakka
// File :       End User css
// Date:        26-9-2016
// Modified:    27-9-2016
//

@body-margin: ~"only screen and (max-width: 1170px)";
body {
    /*background-color: @gray-darker;*/
    background-color: #eaeaea;
    /*margin: 75px 0 55px 0;*/
    margin: 0px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: @white-bg;
    .size(100%, 59px);
    z-index: 2;
    border-bottom: @gray-lighter solid 1px;
    .logo {
        .size(150px, 30px);
        margin: 18px 0 0 20px;
        overflow: hidden;
        float: left;
    }
    .powered {
        .size(130px, auto);
        margin: 18px 20px 0 0;
        .text {
            float: left;
            line-height: 24px;
        }
        .img {
            float: right;
            img {
                width: 50px;
                margin-top: 3px;
            }
        }
    }
}



footer {
    background-color: @white-bg;
    text-align: center;
    padding: 5px 0 4px 0;
    border-top: @gray-lighter solid 1px;
    // .powered {
    //     width: 130px;
    //     margin: 0 auto;
    //     .text {
    //         margin: 0;
    //         float: left;
    //         line-height: 24px;
    //     }
    //     .img {
    //         float: right;
    //         img {
    //             width: 50px;
    //             margin-top: 3px;
    //         }
    //     }
    // }
}



// .pos-rel {
//  position: relative;
// }
