//
// Name :       Amol Nakka
// File :       End User css
// Date:        26-9-2016
// Modified:    27-9-2016
//

@body-margin: ~"only screen and (max-width: 1170px)";

body {
    height: 100%;
}
.login-flow {
    margin-top: 150px;
    .center-block.login {
        max-width: 300px;
        width: 100%;
        background-color: @white-bg;
        .center-block();
        .form-top {
            padding: 15px;
            border-bottom: @gray-lighter solid 1px;
            h3 {
                margin: 0;
                font-size: @font-size-base;
                font-weight: @headings-font-weight;
            }
        }
        .form-body {
            padding: 15px;
            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .txt-link {
                display: inline-block;
                margin-top: 5px;
            }
        }
        .form-bottom {
            padding: 15px;
            border-top: @gray-lighter solid 1px;
            .clearfix();
        }
    }
    
    .center-block.link-expired {
        max-width: 300px;
        width: 100%;
        background-color: @white-bg;
        padding: 30px;
        i {
            font-size: 34px;
        }
        h1 {
            margin: 0 0 15px 0;
        }
    }
    
    .center-block.thank-you {
        max-width: 300px;
        width: 100%;
        background-color: @white-bg;
        padding: 30px;
        i {
            font-size: 34px;
        }
        h1 {
            margin: 0 0 15px 0;
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}