﻿.btncancelstyle
{
    cursor: pointer;
    background-image: url(../../Images/Cancel-01.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 6px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top:25px !important;
    color: #000;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

    .btncancelstyle:hover
    {
        background-image: url(../../Images/Cancel.gif);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#213b8d;
    }

.form-group {
    margin-bottom:5px !important;
}

input[type="text"] {
    height:30px !important;
}

      .cancelwrapper {
            position: relative;
            top: -25px;
            float: right;
        }

.btn-link {
    text-transform:capitalize;
}