﻿@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans-Extrabold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Light Italic';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/OpenSansLight-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../fonts/OpenSans-SemiboldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/OpenSans-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Extrabold Italic';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../fonts/OpenSans-ExtraboldItalic.woff2) format('woff2');
}
.main-body {
    background: #f5f5f5 url("../images/bg-tile.png") repeat 0 0 !important;
  
    background-size: 46px auto !important;
    padding: 15px 5px !important;
}

.headerstyle {
    background-color: #ffffff !important;
    font-family:"Open Sans Bold", Roboto, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #213b8d !important;
    text-transform: uppercase !important;
    padding: 8px 0px 0px 0px !important;
}

.panel-new {
    border-top: 5px solid #213b8d !important;
    border-bottom: 1px solid #213b8d !important;
    border-left: 1px solid #213b8d !important;
    border-right: 1px solid #213b8d !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-width: 5px 1px 1px 1px !important;
    background-color: #ffffff !important;
    margin: 0 auto;
    padding:10px;
}
.window {
    border-top: 5px solid #213b8d !important;
    border-bottom: 1px solid #213b8d !important;
    border-left: 1px solid #213b8d !important;
    border-right: 1px solid #213b8d !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-width: 5px 1px 1px 1px !important;
    background-color: #ffffff !important;
    margin: 0 auto;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    width: 98%;
    text-align: center;
    white-space: nowrap;
    height: auto;
    z-index: 0;
}

    .panel-new>table{
        border:0 none !important;
        width:100% !important;
    border-top:0 none !important;
    border-bottom:0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;

    }
        /*.panel-new>table .tdBorderLeftRightBottom, .tdBorderRight, .tdBorderRightOnly  {
        border:0 none !important;
        width:100% !important;
    border-top:0 none !important;
    border-bottom:0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    }*/

.panel-title {
 padding-bottom:12px  !important;
    border-bottom:1px solid #eeeeee !important;
}

.toolbar {
    border-bottom:1px solid #eeeeee !important;
    padding-top:16px !important;
    padding-bottom:6px !important;
    margin-bottom:6px !important;
    clear:both !important;
}

.pull-right {
    float:right !important;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

 .panel-new table td {
    border:0 none !important;
    border-top:0 none !important;
    border-bottom:0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    }

/*.table-borde#213b8d {
    border:1px solid #eeeeee !important;
}*/

.rcCalendars .rcCalendar {
padding: 5px;
}

.panel-new-1 {
    border-top: 5px solid #213b8d !important;
    border-bottom: 1px solid #213b8d !important;
    border-left: 1px solid #213b8d !important;
    border-right: 1px solid #213b8d !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-width: 5px 1px 1px 1px !important;
    background-color: #ffffff !important;
    margin: 0 auto;
    padding:10px;
}


/*for theme
.navbar
{
    border: none;
    height: 72px;
    border-bottom: 2px solid #213b8d;
    border-radius: 0;
}
    */

 #tabs1 li.selected a
      {
background-color: #ffffff;
border-top:4px solid #606060 !important;
padding: 0px 0 0px 4px;
}


.RadTreeView_Web20 .rtHover .rtIn, .RadTreeView_Web20 .rtSelected .rtIn {
background-color: #213b8d !important;
}
.RadPanelBar_Vista a.rpLink:hover {
    color: #213b8d !important;
        border-top-color:#213b8d !important;
         -webkit-box-shadow: inset 0 12px 0px -8px #213b8d !important;
    -moz-box-shadow: inset 0 12px 0px -8px #213b8d !important;
    box-shadow: inset 0 12px 0px -8px #213b8d !important;
}
 
.RadPanelBar_Vista a.rpExpanded {
    color: #213b8d !important;
    border-top-color: #213b8d !important;
    border-bottom: 1px solid #e2e2e2 !important;
    -webkit-box-shadow: inset 0 12px 0px -8px #213b8d !important;
    -moz-box-shadow: inset 0 12px 0px -8px #213b8d !important;
    box-shadow: inset 0 12px 0px -8px #213b8d !important;
}



.TDMiddleCss
{
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    font-style: normal;
    color: Black;
}
.RowAlternateColor
{
    background-color: #E6E6E6;
    height: 22px;
}
.RowColor
{
    height: 22px;
    background-color: #ffffff;
}
.TRTopCss
{
    background-color: #CFDDEE;
    height: 22px;
}
.RadGrid_WebBlue .rgHeader
{
    padding-right: 7px !important;
    padding-left:7px !important;
}

.RadGrid_WebBlue .rgHeaderDiv
{
    background-position: 0 -7550;
    background-color : rgb(238,238,238) !important;
}
.RadGrid_WebBlue .rgclipcells .rgHeader
{
overflow:hidden !important;
}
    

.RadGrid_WebBlue .rgHeader
{
    text-align:left;    
    background: #FFC13D !important;    
    padding-top:5px !important;    
    padding-bottom:4px !important; 
    font-weight:normal !important;
    border-bottom-color :#828282 !important;
    border-bottom-width:1px !important;
    border-top-width:0px !important;
    border-left-width:0px !important;
    border-right-width:0px !important;
    border-bottom-style:solid !important;
    border-top-style:none !important;
    border-left-style:none !important;
    border-right-style:none !important;
    background-repeat:repeat-x !important;
    background-color: rgb(234,234,234) !important;
    
}
.RadGrid_WebBlue .rgAltRow TD .rgRow TD
{
	padding-top:1px !important;
}
	.RadGrid_WebBlue .rgRow TD
{
	padding-top:1px !important;
}

/* For Paging Style */
.RadGrid_WebBlue .rgNumPart
{
    width: 100% !important;
    text-align: center !important;
}
.RadGrid_WebBlue .rgInfoPart
{
    width: 100% !important;
    text-align: center !important;
}
.RadGrid_WebBlue .rgNumPart a
{
    padding-right: 3px !important;
}
.RadGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgEditForm table
{
	border-collapse:separate !important;
	border-spacing:0 !important;
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
}
/* Other Controls */
.stdDrpDownImport
{
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    height: 20px;
    width: 120px;
}
.textStyle
{
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    font-weight: normal;
}
.stdcal
{
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    height: 20px;
    width: 550px;
}
















table.RadCalendar_Eilisys
{
   
	table-layout:auto;
	border-collapse:separate;
	border:0;
	background:#fff;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
	width:220px;
}

/*titlebar*/

.RadCalendar_Eilisys .rcTitlebar
{
    height:22px;
	width:100%;
	border:1px solid;
	border-color:#868686 #868686 #c4c4c4;
	padding:0;
	background:#eaeaea 0 -1000px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#000;
}

.RadCalendar_Eilisys .rcTitlebar table
{
     
	table-layout:auto;
	width:100%;
	border-collapse:separate;
	border:0;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
}

.RadCalendar_Eilisys .rcTitlebar td
{
     
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Eilisys .rcTitlebar .rcTitle
{
     
	width:100%;
	cursor:pointer;
}
.RadCalendar_Eilisys .rcNoNav .rcTitle
{
	cursor:default;
}

.RadCalendar_Eilisys .rcTitlebar .rcPrev,
.RadCalendar_Eilisys .rcTitlebar .rcNext,
.RadCalendar_Eilisys .rcTitlebar .rcFastPrev,
.RadCalendar_Eilisys .rcTitlebar .rcFastNext
{
	display:block !important;

	width:15px;
	height:15px;
	overflow:hidden !important;

	margin:0 4px;
	background:transparent url('../../Pages/Images/SKIN/Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Eilisys .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:1px -197px;
}

.RadCalendar_Eilisys .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -247px;
}

.RadCalendar_Eilisys .rcTitlebar .rcPrev
{
	background-position:4px -297px;
}

.RadCalendar_Eilisys .rcTitlebar .rcPrev:hover
{
	background-position:4px -347px;
}

.RadCalendar_Eilisys .rcTitlebar .rcNext
{
	background-position:3px -397px;
}

.RadCalendar_Eilisys .rcTitlebar .rcNext:hover
{
	background-position:3px -447px;
}

.RadCalendar_Eilisys .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:1px -497px;
}

.RadCalendar_Eilisys .rcTitlebar .rcFastNext:hover
{
	background-position:1px -547px;
}

.RadCalendar_Eilisys .rcMain
{
	width:100%;
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

.RadCalendar_Eilisys .rcMainTable
{
	table-layout:auto;
	border-collapse:separate;
	border:0;
	width:100%;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
}

/*header, footer*/

.RadCalendar_Eilisys .rcHeader,
.RadCalendar_Eilisys .rcFooter
{
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Eilisys .rcRow th,
.RadCalendar_Eilisys .rcWeek th
{
	border:0;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Eilisys .rcWeek th
{
	border-bottom:1px solid #c5c5c5;
	padding:4px 6px 3px 0;
	text-align:right;
	color:#333;
}

.RadCalendar_Eilisys .rcWeek .rcViewSel,
.RadCalendar_Eilisys .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#eee;
	text-align:center;
}

.RadCalendar_Eilisys .rcRow th
{
	color:#777;
}

/*date cells*/

.RadCalendar_Eilisys .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Eilisys .rcMain .rcRow a,
.RadCalendar_Eilisys .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Eilisys .rcPreview .rcRow a
{
	outline:none;
}

.RadCalendar_Eilisys .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_Eilisys .rcRow .rcToday
{
	border-color:#898989;
}

.RadCalendar_Eilisys .rcMain .rcOtherMonth a
{
	color:#898989;
}

.RadCalendar_Eilisys .rcMain .rcOutOfRange span
{
	color:#898989;
	cursor:default;
}

.RadCalendar_Eilisys .rcRow .rcHover
{
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	background:#c5c5c5 0 -1600px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
}

.RadCalendar_Eilisys .rcRow .rcSelected
{
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	background:#828282 0 -1700px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
}

.RadCalendar_Eilisys .rcMain .rcRow .rcSelected a
{
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Eilisys
{
	width:auto;
}

.RadCalendarMultiView_Eilisys .rcTitlebar
{
	border-color:#9a9a9a #9c9c9c #9c9c9c;
	background:#c5c5c5 0 -1199px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
}

.RadCalendarMultiView_Eilisys .rcTitlebar table
{
	border:1px solid;
	border-color:#fdfdfd #f3f3f3 #e7e7e7;
	line-height:27px;
}

.RadCalendarMultiView_Eilisys .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -647px;
}

.RadCalendarMultiView_Eilisys .rcTitlebar .rcPrev:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiView_Eilisys .rcTitlebar .rcNext:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiView_Eilisys .rcTitlebar .rcFastNext:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiView_Eilisys .rcMain
{
	border-color:#9b9b9b;
}

.RadCalendarMultiView_Eilisys .rcCalendar
{
	width:220px;
	border:1px solid #868686;
	padding:0;
}

.RadCalendarMultiView_Eilisys .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 2px;
	background:#eaeaea 0 -1000px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Eilisys
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
}

table.RadCalendarMonthView_Eilisys td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Eilisys #rcMView_Feb,
.RadCalendarMonthView_Eilisys #rcMView_Apr,
.RadCalendarMonthView_Eilisys #rcMView_Jun,
.RadCalendarMonthView_Eilisys #rcMView_Aug,
.RadCalendarMonthView_Eilisys #rcMView_Oct,
.RadCalendarMonthView_Eilisys #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_Eilisys a
{
	display:block !important;

	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Eilisys .rcSelected a
{
	border:1px solid !important;

	border-color:#8d8d8d #7d7d7d #6c6c6c;
	padding:1px 3px;
	background:#828282 0 -1700px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMonthView_Eilisys #rcMView_PrevY a,
.RadCalendarMonthView_Eilisys #rcMView_NextY a
{
	display:block !important;

	width:17px;
	height:14px;
	overflow:hidden !important;

	margin:0 auto;
	background:transparent no-repeat url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Eilisys #rcMView_PrevY a
{
	background-position:7px -196px;
}

.RadCalendarMonthView_Eilisys #rcMView_NextY a
{
	background-position:7px -496px;
}

.RadCalendarMonthView_Eilisys .rcButtons
{
	padding:6px 7px 5px;
	text-align:center;
}

.RadCalendarMonthView_Eilisys input
{
	border:1px solid;
	border-color:#a7a7a7 #7b7b7b #7b7b7b #a7a7a7;
	padding:0;
	background:#e9e9e9 0 -2300px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#000;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
	cursor:pointer;
}

.RadCalendarMonthView_Eilisys #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Eilisys #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Eilisys
{
	border-collapse:separate;
	border:1px solid #868686;
	background:#fff;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
}

.RadCalendarTimeView_Eilisys th
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 1px;
	background:#eaeaea 0 -1000px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#000;
	text-align:center;
	cursor:default;
	line-height:23px;
	 font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
}

table.RadCalendarTimeView_Eilisys td
{
	border:0;
	border-left:1px solid #c5c5c5;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Eilisys td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Eilisys a
{
	display:block !important;

	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Eilisys td.rcSelected a
{
	border:1px solid;
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	padding:1px 5px;
	background:#828282 0 -1700px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarTimeView_Eilisys td.rcHover a
{
	border:1px solid;
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	padding:1px 5px;
	background:#c5c5c5 0 -1600px repeat-x url('../../Pages/Images/SKIN/Calendar/sprite.gif');
	color:#000;
}

.RadCalendarTimeView_Eilisys .rcFooter
{
	border:0;
	border-top:1px solid #c5c5c5;
	padding:0;
}

/*pickers*/




.RadPicker_Eilisys .RadInput
{
	vertical-align:baseline !important;

}

.RadPicker_Eilisys .rcTable
{
	table-layout:auto;
}

.RadPicker_Eilisys table.rcTable,
.RadPicker_Eilisys table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Eilisys table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}
* HTML .RadInput
{
	height:auto !important;
	}
.RadPicker_Eilisys td a
{
	position:relative !important;
/*FF*/
	outline:none !important;
/*FF*/
	z-index:2 !important;
/*Opera*/
	margin:0 2px !important;

	text-decoration:none !important;

}
* html .RadPicker_Eilisys td a{position:static}/*IE6*/
*+html .RadPicker_Eilisys td a{position:static}/*IE7*/

.RadPicker_Eilisys .rcCalPopup,
.RadPicker_Eilisys .rcTimePopup
{
	display:block !important;

	overflow:hidden !important;

	width:22px !important;

	height:22px !important;

	background:url('../../Pages/Images/SKIN/Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Eilisys .rcCalPopup,
.RadPicker_Eilisys .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Eilisys .rcCalPopup:hover,
.RadPicker_Eilisys .rcCalPopup:focus,
.RadPicker_Eilisys .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Eilisys .rcTimePopup,
.RadPicker_Eilisys .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Eilisys .rcTimePopup:hover,
.RadPicker_Eilisys .rcTimePopup:focus,
.RadPicker_Eilisys .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Eilisys .rcDisabled,
.RadCalendarMonthView_Eilisys .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Eilisys .rcTitlebar .rcFastPrev
{
	background-position:1px -497px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -547px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcPrev
{
	background-position:3px -397px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcPrev:hover
{
	background-position:3px -447px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcNext
{
	background-position:4px -297px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcNext:hover
{
	background-position:4px -347px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcFastNext
{
	background-position:1px -197px;
}

.RadCalendarRTL_Eilisys .rcTitlebar .rcFastNext:hover
{
	background-position:1px -247px;
}

.RadCalendarMultiViewRTL_Eilisys .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiViewRTL_Eilisys .rcTitlebar .rcPrev:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiViewRTL_Eilisys .rcTitlebar .rcNext:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiViewRTL_Eilisys .rcTitlebar .rcFastNext:hover
{
	background-position:1px -647px;
}

body > .RadCalendarPopupShadows {
	padding: 0px 3px 3px 0px;
}
.RadCalendarPopupShadows > .rcShadTR {
	position: absolute; background-repeat: no-repeat; background-color: transparent;
}
.RadCalendarPopupShadows > .rcShadBL {
	position: absolute; background-repeat: no-repeat; background-color: transparent;
}
.RadCalendarPopupShadows > .rcShadBR {
	position: absolute; background-repeat: no-repeat; background-color: transparent;
}
.RadCalendarPopupShadows > .rcShadBL {
	height: 5px; bottom: 0px; background-image: url("WebResource.axd?d=toGrdvsxrt0acR2U5pQpSh35qeE8KiJtaY_mQDHnhJOkl8F-De5k9sT-GCUVcaFGzAFWgiT-hDCwZ11RnROniNszscPfDys2p7zIv2vVdy5hFKaNoQImwsKCSzOKw1dBxTdbyY7r36ZvHPcY_li-Zz9i_gsCuq-Vp1X8xUJI9RE1&t=634968731080000000");
}
.RadCalendarPopupShadows > .rcShadBR {
	height: 5px; bottom: 0px; background-image: url("WebResource.axd?d=toGrdvsxrt0acR2U5pQpSh35qeE8KiJtaY_mQDHnhJOkl8F-De5k9sT-GCUVcaFGzAFWgiT-hDCwZ11RnROniNszscPfDys2p7zIv2vVdy5hFKaNoQImwsKCSzOKw1dBxTdbyY7r36ZvHPcY_li-Zz9i_gsCuq-Vp1X8xUJI9RE1&t=634968731080000000");
}
.RadCalendarPopupShadows > .rcShadBL {
	background-position: 0px -3px; left: 0px; width: 100%;
}
.RadCalendarPopupShadows > .rcShadBR {
	background-position: 100% 100%; width: 0px; right: 0px;
}
.RadCalendarPopupShadows > .rcShadTR {
	background-position: 100% 0px; top: 0px; width: 0px; height: 100%; right: 0px; background-image: url("WebResource.axd?d=4aEsy_nRdRHNeblLRF32BUYAeEjrsp33K0j9jQQrSMUU1o7mdTmGyPquE9GrWyUBCaUmB_8bhlNT0KuC4t0TmDsahiLCRpK1DMVRh86mwpVN88Atx7lhyUwQG4RT7innYAk1ByQFQcIrz2BRcw4y2S_Icdgx9qHr7VPkhMKvYIs1&t=634968731080000000");
}
.rcIE > .rcShadBL {
	background-image: none;
}
.rcIE > .rcShadBR {
	background-image: none;
}
.rcIE > .rcShadTR {
	background-image: none;
}
.RadPickerRTL table.rcTable .rcInputCell {
	padding: 0px 0px 0px 4px;
}

.rdDatepicker {
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt !important;
    text-align: left !important;
}

/*RadTimePicker */

.stdTimePicker {
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    width: 40px;
    text-align: right;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-BOTTOM: 1px outset;
}


html body .riSingle .riTextBox[type="text"] {
    padding-right: 2px !important;
    padding-left: 2px !important;
    margin: 0;
    width: 100%;
}

/*----------------for dev popup-------------------- */

.dxpcLite .dxpc-header, .dxdpLite .dxpc-header {
    background-color: #ffffff !important;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    height: 30px !important;
    color: #213b8d !important;
    font-size: 16px !important;
    border-bottom: 1px solid #eeeeee !important;
    font-weight: bold !important;
}

.dxpcLite .dxpc-mainDiv, .dxpcLite.dxpc-mainDiv, .dxdpLite .dxpc-mainDiv, .dxdpLite.dxpc-mainDiv {
    top: 0;
    left: 0;
    font-family: "Open Sans Bold", Roboto, Arial, sans-serif !important;
    border-top: 5px solid #213b8d !important;
    border-bottom: 1px solid #213b8d !important;
    border-left: 1px solid #213b8d !important;
    border-right: 1px solid #213b8d !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-width: 5px 1px 1px 1px !important;
    background-color: #ffffff !important;
    padding: 10px;
}

.dxpcLite .dxpc-header, .dxdpLite .dxpc-header {
    padding: 0px !important;
}
 .dxgvPopupEditForm .dxpc-mainDiv {
            border-top: 0px none !important;
            border-bottom: 0px none !important;
            border-left: 0px none !important;
            border-right:0px none !important;
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-width: 0px 0px 0px 0px !important;
            background-color: #ffffff !important;
            padding: 0px !important;
        }


/*----------------for html popup-------------------- */
.web_dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .5;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.Modal_Div_dialog {
    position: absolute;
    padding: 0px;
    z-index: 102;
    font-family: Arial;
    display: none;
}

.modaldialogtop {
    font-size: 9pt;
    height: 28px;
    width: 100%;
    color: #213b8d;
    border-bottom: 1px solid #eeeeee !important;
    text-transform: uppercase !important;
    font-size: 16px;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-weight: bold !important;
}

.modaldialogbottom {
    background: white;
    padding: 0px;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    border: 1px solid black;
}

.UpperCase {
    text-transform: uppercase;
}

/*Added for HTML popup div on page*/
.panel-new .Htmlpopup .Htmlpopup1 {
    border-bottom: 1px solid #eeeeee !important;
    text-transform: uppercase !important;
    padding-left: 1px !important;
}

.Modal_Div_dialog .panel-new {
    padding: 0px !important;
}

/*Added for buttons (bootstrap style)*/

.btn {
    display: inline-block;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    position: relative;
    float: right !important;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 5px;
    font-size: 12px;
    text-transform: uppercase !important;
    line-height:2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width:60px;
}


.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .btn-default:focus, .btn-default.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    

.btn-primary {
    background-color: #f58410 !important;
    border-color: #f58410 !important;
    color: #fff !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
        background-color: #e96300 !important;
        color: #fff !important;
        outline: none;
        border-color: #e96300 !important;
    }

  



/*Added for burttons*/


.btnApplayFilter {
    display: inline !important;
    color: #ffffff !important;
       font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    cursor: pointer !important;
    border-radius: 4px;
    color: #fff;
    padding:3px 5px !important;
background: #f58410 !important;
border: 1px solid #f58410 !important;
}

    .btnApplayFilter:hover {
        display: inline !important;
        color: #ffffff !important;
           font-family: "Open Sans", Roboto, Arial, sans-serif !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
         padding:3px 5px 3px 5px!important;
        text-decoration: none !important;
        background: #e96300 !important;
        cursor: pointer !important;
    }

.btnCancelFilter {
     border-radius: 4px;
    display: inline !important;
       font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    cursor: pointer !important;
      padding:3px 5px !important;
    color: #333 !important;
    background: #fff !important;
    border:1px solid #ccc !important;

}

    .btnCancelFilter:hover {
        display: inline !important;
           font-family: "Open Sans", Roboto, Arial, sans-serif !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
        text-decoration: none !important;
        color: #333 !important;
         padding:3px 5px 3px 5px!important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
        cursor: pointer !important;
         border:1px solid #ccc !important;
    }


.CancelButton {
             border-radius: 4px;
    display: inline !important;
      font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    cursor: pointer !important;
      padding:3px 5px !important;
    color: #333 !important;
    background: #fff !important;
    border:1px solid #ccc !important;
        }

            .CancelButton:hover {
               display: inline !important;
        font-family: "Open Sans", Roboto, Arial, sans-serif !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
        text-decoration: none !important;
        color: #333 !important;
         padding:3px 5px 3px 5px!important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
        cursor: pointer !important;
         border:1px solid #ccc !important;
            }
/*Added for Telerik popup*/


.rgEditForm {
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    font-style: normal;
   
    border-top: 5px solid #213b8d !important;
    border-bottom: 1px solid #213b8d !important;
    border-left: 1px solid #213b8d !important;
    border-right: 1px solid #213b8d !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-width: 5px 1px 1px 1px !important;
    background-color: #ffffff !important;
    margin: 0 auto;
    padding: 10px;
}


    .rgEditForm .rgHeader {
        font-family: "Open Sans Bold", Roboto, Arial, sans-serif !important;
        padding-top: 3px !important;
        padding-bottom: 8px !important;
        padding-left: 0px !important;
        text-align: left;
        font-weight: normal;
        background-color: #FFFFFF !important;
        font-size: 16px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        border-bottom: 1px solid #eeeeee !important;
        color:#213b8d !important
    }

.RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol, .RadGrid_Default .rgHeaderWrapper {
    border: 0;
    border-bottom: 1px solid #eeeeee !important;
    background: #ffffff none !important;
}


.rgEditForm .rgHeader div a img {
    display: none;
}
.rgEditForm .rgHeader div a {
    background: url('../images/Cancel.gif') no-repeat !important;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: -8px
}

.dxpcLite .dxpc-headerText, .dxdpLite .dxpc-headerText {
     font-family: "Open Sans Bold", Roboto, Arial, sans-serif !important;
      font-size: 16px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        color:#213b8d !important
}

/*dev close button*/

.dxWeb_pcCloseButton{

background-image: url('../images/Cancel.gif') !important;
 
    background-repeat: no-repeat !important;
    background-color: transparent !important;
}
.dxWeb_pcCloseButton {
    background-position:0px !important;
}