.jkeyboard {
  display: inline-block;
}
.jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {
  display: block;
  margin: 0;
  padding: 0;
}
.jkeyboard .jline {
  text-align: center;
  margin-left: -14px;
}
.jkeyboard .jline ul li {
  font-family: arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  border: 0px solid #468db3;
  -webkit-box-shadow: 0 0 0px #468db3;
  -webkit-box-shadow: inset 0 0 0px #468db3;
  margin: 0px;
  color: #f7faf7;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.jkeyboard .jline ul li.uppercase {
  text-transform: uppercase;
}
.jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {
  background-color: #185a82;
}
.jkeyboard .jline .return {
  width: 120px;
}

.jkeyboard .jline .hideing{
  width: 120px;
}

.jkeyboard .jline .space {
  width: 456px;
  background:#185a82
}

.jkeyboard .jline .symbol_switch,
.jkeyboard .jline .character_switch,
.jkeyboard .jline .numeric_switch {
  width: 84px;
}
.jkeyboard .jline .layout_switch {
  background: url("assets/locale.png") no-repeat center right;
}
.jkeyboard .jline .shift {
  width: 100px;
  background: url("assets/shift.png") no-repeat center center;
}
.jkeyboard .jline .backspace {
  width: 69px;
  background: url("assets/backspace.png") no-repeat center center;
}

.keyboardtext,.keyboard{
    /* background: rgba(20, 71, 102, .8); /*#144766;*/
	background: #144766;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 9991;
    padding: 10px 0px;
	
	}

.keyboard-close	{
	position:fixed;	bottom:160px;	right:10px;	font-size:20px;	color:#fff;	border-radius:100%;	width:30px;
	height:30px;	border:2px solid #fff;	display:inline-block;	background:none;	z-index:9999;	text-align:center;
	line-height:30px
}