@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.md-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.md-icons{
  color: #969696;
}
.md-icons.dp12{
    font-size: 12px;
    width: 12px;
    height: 12px;   
}
.md-icons.dp14{
    font-size: 14px;
    width: 14px;
    height: 14px;   
}
.md-icons.dp16{
    font-size: 16px;
width: 16px;
height: 16px;
vertical-align: middle;
margin-right: 5px;
}
.md-icons.dp18{
    font-size: 18px;
    width: 18px;
    height: 18px;   
}
.md-icons.dp20{
    font-size: 20px;
    width: 20px;
    height: 20px;   
}
.md-icons.dp22{
    font-size: 22px;
    width: 22px;
    height: 22px;   
}