@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kytnui');
  src:  url('fonts/icomoon.eot?kytnui#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kytnui') format('truetype'),
    url('fonts/icomoon.woff?kytnui') format('woff'),
    url('fonts/icomoon.svg?kytnui#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align:middle;
  display:inline-block

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left4:before {
  content: "\ebc4";
}


.icon-icon-arrow-left:before {
  content: "\ebc3";
}
.icon-account-circle:before {
  content: "\e900";
}
.icon-add-a-photo:before {
  content: "\e901";
}
.icon-add-alert:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-add-box:before {
  content: "\e904";
}
.icon-add-circle:before {
  content: "\e905";
}
.icon-add-circle-outline:before {
  content: "\e906";
}
.icon-adjust-black:before {
  content: "\e907";
}
.icon-shuttle:before {
  content: "\e908";
}
.icon-notification_:before {
  content: "\e909";
}
.icon-announcement:before {
  content: "\e90a";
}
.icon-arrow-back:before {
  content: "\e90b";
}
.icon-arrow-downward:before {
  content: "\e90c";
}
.icon-arrow-drop-down:before {
  content: "\e90d";
}
.icon-arrow-drop-down-circle:before {
  content: "\e90e";
}
.icon-arrow-drop-up:before {
  content: "\e90f";
}
.icon-arrow-forward:before {
  content: "\e910";
}
.icon-arrow-upward:before {
  content: "\e911";
}
.icon-reports:before {
  content: "\e912";
}
.icon-approved:before {
  content: "\e913";
}
.icon-Progress:before {
  content: "\e914";
}
.icon-add-attachment:before {
  content: "\e915";
}
.icon-attached-file:before {
  content: "\e916";
}
.icon-Employment:before {
  content: "\e917";
}
.icon-birthdate:before {
  content: "\e918";
}
.icon-phone-call:before {
  content: "\e919";
}
.icon-cancel:before {
  content: "\e91a";
}
.icon-card-membership:before {
  content: "\e91b";
}
.icon-chat:before {
  content: "\e91c";
}
.icon-chat-bubble:before {
  content: "\e91d";
}
.icon-chat-bubble-outline:before {
  content: "\e91e";
}
.icon-check-box:before {
  content: "\e91f";
}
.icon-check-box-outline:before {
  content: "\e920";
}
.icon-check-circle:before {
  content: "\e921";
}
.icon-cancel_:before {
  content: "\e922";
}
.icon-comment:before {
  content: "\e923";
}
.icon-emergency:before {
  content: "\e924";
}
.icon-online:before {
  content: "\e925";
}
.icon-deduction:before {
  content: "\e926";
}
.icon-edit2:before {
  content: "\e927";
}
.icon-dashboard:before {
  content: "\e928";
}
.icon-date-range:before {
  content: "\e929";
}
.icon-delete:before {
  content: "\e92a";
}
.icon-description:before {
  content: "\e92b";
}
.icon-desktop-windows:before {
  content: "\e92c";
}
.icon-assets-:before {
  content: "\e92d";
}
.icon-bus:before {
  content: "\e92e";
}
.icon-car:before {
  content: "\e92f";
}
.icon-done:before {
  content: "\e930";
}
.icon-done-all:before {
  content: "\e931";
}
.icon-performance:before {
  content: "\e932";
}
.icon-email:before {
  content: "\e933";
}
.icon-error:before {
  content: "\e934";
}
.icon-error-outline:before {
  content: "\e935";
}
.icon-fule_:before {
  content: "\e936";
}
.icon-event:before {
  content: "\e937";
}
.icon-event-busy:before {
  content: "\e938";
}
.icon-event-note:before {
  content: "\e939";
}
.icon-position_:before {
  content: "\e93a";
}
.icon-Skills:before {
  content: "\e93b";
}
.icon-favorite:before {
  content: "\e93c";
}
.icon-favorite-border:before {
  content: "\e93d";
}
.icon-feedback:before {
  content: "\e93e";
}
.icon-new:before {
  content: "\e93f";
}
.icon-pin:before {
  content: "\e940";
}
.icon-find-in-page:before {
  content: "\e941";
}
.icon-Punch-IN_OUT:before {
  content: "\e942";
}
.icon-fitness:before {
  content: "\e943";
}
.icon-forum:before {
  content: "\e944";
}
.icon-grade:before {
  content: "\e945";
}
.icon-member-add:before {
  content: "\e946";
}
.icon-members:before {
  content: "\e947";
}
.icon-help.:before {
  content: "\e948";
}
.icon-help-outline:before {
  content: "\e949";
}
.icon-history-black:before {
  content: "\e94a";
}
.icon-address:before {
  content: "\e94b";
}
.icon-accomodationsvg:before {
  content: "\e94c";
}
.icon-secure:before {
  content: "\e94d";
}
.icon-import-export:before {
  content: "\e94e";
}
.icon-select-all:before {
  content: "\e94f";
}
.icon-info-outline:before {
  content: "\e950";
}
.icon-chart:before {
  content: "\e951";
}
.icon-insert-comment:before {
  content: "\e952";
}
.icon-insert-invitation:before {
  content: "\e953";
}
.icon-arrow-down3:before {
  content: "\e954";
}
.icon-arrow-left:before {
  content: "\e955";
}
.icon-arrow-right3:before {
  content: "\e956";
}
.icon-arrow-up2:before {
  content: "\e957";
}
.icon-language:before {
  content: "\e958";
}
.icon-live-help:before {
  content: "\e959";
}
.icon-dining:before {
  content: "\e95a";
}
.icon-hospital:before {
  content: "\e95b";
}
.icon-shopping:before {
  content: "\e95c";
}
.icon-parking:before {
  content: "\e95d";
}
.icon-medical:before {
  content: "\e95e";
}
.icon-tax:before {
  content: "\e95f";
}
.icon-unsecured:before {
  content: "\e960";
}
.icon-message:before {
  content: "\e961";
}
.icon-more-horiz:before {
  content: "\e962";
}
.icon-motorcycle:before {
  content: "\e963";
}
.icon-notifications-active:before {
  content: "\e964";
}
.icon-notifications-none:before {
  content: "\e965";
}
.icon-attendance:before {
  content: "\e966";
}
.icon-SMS:before {
  content: "\e967";
}
.icon-personadd:before {
  content: "\e968";
}
.icon-pdf_:before {
  content: "\e969";
}
.icon-print:before {
  content: "\e96a";
}
.icon-social:before {
  content: "\e96b";
}
.icon-publish:before {
  content: "\e96c";
}
.icon-Pending-:before {
  content: "\e96d";
}
.icon-question-answer:before {
  content: "\e96e";
}
.icon-radio-button-checked:before {
  content: "\e96f";
}
.icon-radio-button-unchecked:before {
  content: "\e970";
}
.icon-claim:before {
  content: "\e971";
}
.icon-speck:before {
  content: "\e972";
}
.icon-refresh:before {
  content: "\e973";
}
.icon-reply-all:before {
  content: "\e974";
}
.icon-save:before {
  content: "\e975";
}
.icon-approve:before {
  content: "\e976";
}
.icon-settings-applications:before {
  content: "\e977";
}
.icon-settings:before {
  content: "\e978";
}
.icon-thumb-down:before {
  content: "\e979";
}
.icon-thumb-up:before {
  content: "\e97a";
}
.icon-timeline:before {
  content: "\e97b";
}
.icon-today:before {
  content: "\e97c";
}
.icon-biometric:before {
  content: "\e97d";
}
.icon-trending-down:before {
  content: "\e97e";
}
.icon-trending-up:before {
  content: "\e97f";
}
.icon-verified:before {
  content: "\e980";
}
.icon-dashboard2:before {
  content: "\e981";
}
.icon-view:before {
  content: "\e982";
}
.icon-vpn-lock:before {
  content: "\e983";
}
.icon-acc:before {
  content: "\e984";
}
.icon-access:before {
  content: "\e985";
}
.icon-account-box:before {
  content: "\e986";
}
.icon-add2:before {
  content: "\e987";
}
.icon-additional-info:before {
  content: "\e988";
}
.icon-add-person:before {
  content: "\e989";
}
.icon-address2:before {
  content: "\e98a";
}
.icon-assets:before {
  content: "\e98b";
}
.icon-attach-icon:before {
  content: "\e98c";
}
.icon-attendance2:before {
  content: "\e98d";
}
.icon-attendance-01:before {
  content: "\e98e";
}
.icon-background-verification:before {
  content: "\e98f";
}
.icon-background-verification-download:before {
  content: "\e990";
}
.icon-bank-deails:before {
  content: "\e991";
}
.icon-behance-logo:before {
  content: "\e992";
}
.icon-bitrthday-icon:before {
  content: "\e993";
}
.icon-box:before {
  content: "\e994";
}
.icon-calendar-01:before {
  content: "\e995";
}
.icon-calendar-02:before {
  content: "\e996";
}
.icon-card-icon:before {
  content: "\e997";
}
.icon-check-circle-outline:before {
  content: "\e998";
}
.icon-close:before {
  content: "\e999";
}
.icon-close-circle-outline:before {
  content: "\e99a";
}
.icon-complete:before {
  content: "\e99b";
}
.icon-currency .path1:before {
  content: "\e99c";
  color: rgb(82, 82, 82);
}
.icon-currency .path2:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.icon-currency .path3:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.icon-currency .path4:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.icon-currency .path5:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dashboard3:before {
  content: "\e9a1";
}
.icon-deductions:before {
  content: "\e9a2";
}
.icon-down-arrow:before {
  content: "\e9a3";
}
.icon-dropbox-logo:before {
  content: "\e9a4";
}
.icon-edit:before {
  content: "\e9a5";
}
.icon-employee-master:before {
  content: "\e9a6";
}
.icon-exclamation-point:before {
  content: "\e9a7";
}
.icon-family-details:before {
  content: "\e9a8";
}
.icon-fill-box:before {
  content: "\e9a9";
}
.icon-generic-photo:before {
  content: "\e9aa";
}
.icon-gmail-logo:before {
  content: "\e9ab";
}
.icon-hamburger:before {
  content: "\e9ac";
}
.icon-health-details:before {
  content: "\e9ad";
}
.icon-help:before {
  content: "\e9ae";
}
.icon-icon-delete:before {
  content: "\e9af";
}
.icon-instagram-symbol:before {
  content: "\e9b0";
}
.icon-insurance:before {
  content: "\e9b1";
}
.icon-Languages:before {
  content: "\e9b2";
}
.icon-learning:before {
  content: "\e9b3";
}
.icon-linkdin:before {
  content: "\e9b4";
}
.icon-listen:before {
  content: "\e9b5";
}
.icon-lock-yellow:before {
  content: "\e9b6";
}
.icon-membership-association:before {
  content: "\e9b7";
}
.icon-nominees:before {
  content: "\e9b8";
}
.icon-official-details:before {
  content: "\e9b9";
}
.icon-pending-icon:before {
  content: "\e9ba";
}
.icon-performance2:before {
  content: "\e9bb";
}
.icon-picasa-logo:before {
  content: "\e9bc";
}
.icon-position:before {
  content: "\e9bd";
}
.icon-previous-employment:before {
  content: "\e9be";
}
.icon-processes:before {
  content: "\e9bf";
}
.icon-Qualification:before {
  content: "\e9c0";
}
.icon-read:before {
  content: "\e9c1";
}
.icon-redio-button-off:before {
  content: "\e9c2";
}
.icon-redio-button-on:before {
  content: "\e9c3";
}
.icon-reports2:before {
  content: "\e9c4";
}
.icon-right-arrow:before {
  content: "\e9c5";
}
.icon-setting:before {
  content: "\e9c6";
}
.icon-skill-hobby:before {
  content: "\e9c7";
}
.icon-social2:before {
  content: "\e9c8";
}
.icon-star:before {
  content: "\e9c9";
}
.icon-statutory:before {
  content: "\e9ca";
}
.icon-tick:before {
  content: "\e9cb";
}
.icon-toggle-off .path1:before {
  content: "\e9cc";
  color: rgb(217, 217, 217);
}
.icon-toggle-off .path2:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.icon-toggle-on .path1:before {
  content: "\e9ce";
  color: rgb(217, 217, 217);
}
.icon-toggle-on .path2:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(34, 63, 139);
}
.icon-transport:before {
  content: "\e9d0";
}
.icon-tumblr-letter-logo:before {
  content: "\e9d1";
}
.icon-upload-icon:before {
  content: "\e9d2";
}
.icon-upload-list:before {
  content: "\e9d3";
}
.icon-user-defined-fields:before {
  content: "\e9d4";
}
.icon-write:before {
  content: "\e9d5";
}
.icon-yahoo-logo:before {
  content: "\e9d6";
}
.icon-youtube-logo:before {
  content: "\e9d7";
}
.icon-goalillustration:before {
  content: "\e9d8";
}
.icon-home:before {
  content: "\e9d9";
}
.icon-home2:before {
  content: "\e9da";
}
.icon-home3:before {
  content: "\e9db";
}
.icon-office:before {
  content: "\e9dc";
}
.icon-newspaper:before {
  content: "\e9dd";
}
.icon-pencil:before {
  content: "\e9de";
}
.icon-pencil2:before {
  content: "\e9df";
}
.icon-quill:before {
  content: "\e9e0";
}
.icon-pen:before {
  content: "\e9e1";
}
.icon-blog:before {
  content: "\e9e2";
}
.icon-eyedropper:before {
  content: "\e9e3";
}
.icon-droplet:before {
  content: "\e9e4";
}
.icon-paint-format:before {
  content: "\e9e5";
}
.icon-image:before {
  content: "\e9e6";
}
.icon-images:before {
  content: "\e9e7";
}
.icon-camera:before {
  content: "\e9e8";
}
.icon-headphones:before {
  content: "\e9e9";
}
.icon-music:before {
  content: "\e9ea";
}
.icon-play:before {
  content: "\e9eb";
}
.icon-film:before {
  content: "\e9ec";
}
.icon-video-camera:before {
  content: "\e9ed";
}
.icon-dice:before {
  content: "\e9ee";
}
.icon-pacman:before {
  content: "\e9ef";
}
.icon-spades:before {
  content: "\e9f0";
}
.icon-clubs:before {
  content: "\e9f1";
}
.icon-diamonds:before {
  content: "\e9f2";
}
.icon-bullhorn:before {
  content: "\e9f3";
}
.icon-connection:before {
  content: "\e9f4";
}
.icon-podcast:before {
  content: "\e9f5";
}
.icon-feed:before {
  content: "\e9f6";
}
.icon-mic:before {
  content: "\e9f7";
}
.icon-book:before {
  content: "\e9f8";
}
.icon-books:before {
  content: "\e9f9";
}
.icon-library:before {
  content: "\e9fa";
}
.icon-file-text:before {
  content: "\e9fb";
}
.icon-profile:before {
  content: "\e9fc";
}
.icon-file-empty:before {
  content: "\e9fd";
}
.icon-files-empty:before {
  content: "\e9fe";
}
.icon-file-text2:before {
  content: "\e9ff";
}
.icon-file-picture:before {
  content: "\ea00";
}
.icon-file-music:before {
  content: "\ea01";
}
.icon-file-play:before {
  content: "\ea02";
}
.icon-file-video:before {
  content: "\ea03";
}
.icon-file-zip:before {
  content: "\ea04";
}
.icon-copy:before {
  content: "\ea05";
}
.icon-paste:before {
  content: "\ea06";
}
.icon-stack:before {
  content: "\ea07";
}
.icon-folder:before {
  content: "\ea08";
}
.icon-folder-open:before {
  content: "\ea09";
}
.icon-folder-plus:before {
  content: "\ea0a";
}
.icon-folder-minus:before {
  content: "\ea0b";
}
.icon-folder-download:before {
  content: "\ea0c";
}
.icon-folder-upload:before {
  content: "\ea0d";
}
.icon-price-tag:before {
  content: "\ea0e";
}
.icon-price-tags:before {
  content: "\ea0f";
}
.icon-barcode:before {
  content: "\ea10";
}
.icon-qrcode:before {
  content: "\ea11";
}
.icon-ticket:before {
  content: "\ea12";
}
.icon-cart:before {
  content: "\ea13";
}
.icon-coin-dollar:before {
  content: "\ea14";
}
.icon-coin-euro:before {
  content: "\ea15";
}
.icon-coin-pound:before {
  content: "\ea16";
}
.icon-coin-yen:before {
  content: "\ea17";
}
.icon-credit-card:before {
  content: "\ea18";
}
.icon-calculator:before {
  content: "\ea19";
}
.icon-lifebuoy:before {
  content: "\ea1a";
}
.icon-phone:before {
  content: "\ea1b";
}
.icon-phone-hang-up:before {
  content: "\ea1c";
}
.icon-address-book:before {
  content: "\ea1d";
}
.icon-envelop:before {
  content: "\ea1e";
}
.icon-pushpin:before {
  content: "\ea1f";
}
.icon-location:before {
  content: "\ea20";
}
.icon-location2:before {
  content: "\ea21";
}
.icon-compass:before {
  content: "\ea22";
}
.icon-compass2:before {
  content: "\ea23";
}
.icon-map:before {
  content: "\ea24";
}
.icon-map2:before {
  content: "\ea25";
}
.icon-history:before {
  content: "\ea26";
}
.icon-clock:before {
  content: "\ea27";
}
.icon-clock2:before {
  content: "\ea28";
}
.icon-alarm:before {
  content: "\ea29";
}
.icon-bell:before {
  content: "\ea2a";
}
.icon-stopwatch:before {
  content: "\ea2b";
}
.icon-calendar:before {
  content: "\ea2c";
}
.icon-printer:before {
  content: "\ea2d";
}
.icon-keyboard:before {
  content: "\ea2e";
}
.icon-display:before {
  content: "\ea2f";
}
.icon-laptop:before {
  content: "\ea30";
}
.icon-mobile:before {
  content: "\ea31";
}
.icon-mobile2:before {
  content: "\ea32";
}
.icon-tablet:before {
  content: "\ea33";
}
.icon-tv:before {
  content: "\ea34";
}
.icon-drawer:before {
  content: "\ea35";
}
.icon-drawer2:before {
  content: "\ea36";
}
.icon-box-add:before {
  content: "\ea37";
}
.icon-box-remove:before {
  content: "\ea38";
}
.icon-download:before {
  content: "\ea39";
}
.icon-upload:before {
  content: "\ea3a";
}
.icon-floppy-disk:before {
  content: "\ea3b";
}
.icon-drive:before {
  content: "\ea3c";
}
.icon-database:before {
  content: "\ea3d";
}
.icon-undo:before {
  content: "\ea3e";
}
.icon-redo:before {
  content: "\ea3f";
}
.icon-undo2:before {
  content: "\ea40";
}
.icon-redo2:before {
  content: "\ea41";
}
.icon-forward:before {
  content: "\ea42";
}
.icon-reply:before {
  content: "\ea43";
}
.icon-bubble:before {
  content: "\ea44";
}
.icon-bubbles:before {
  content: "\ea45";
}
.icon-bubbles2:before {
  content: "\ea46";
}
.icon-bubble2:before {
  content: "\ea47";
}
.icon-bubbles3:before {
  content: "\ea48";
}
.icon-bubbles4:before {
  content: "\ea49";
}
.icon-user:before {
  content: "\ea4a";
}
.icon-users:before {
  content: "\ea4b";
}
.icon-user-plus:before {
  content: "\ea4c";
}
.icon-user-minus:before {
  content: "\ea4d";
}
.icon-user-check:before {
  content: "\ea4e";
}
.icon-user-tie:before {
  content: "\ea4f";
}
.icon-quotes-left:before {
  content: "\ea50";
}
.icon-quotes-right:before {
  content: "\ea51";
}
.icon-hour-glass:before {
  content: "\ea52";
}
.icon-spinner:before {
  content: "\ea53";
}
.icon-spinner2:before {
  content: "\ea54";
}
.icon-spinner3:before {
  content: "\ea55";
}
.icon-spinner4:before {
  content: "\ea56";
}
.icon-spinner5:before {
  content: "\ea57";
}
.icon-spinner6:before {
  content: "\ea58";
}
.icon-spinner7:before {
  content: "\ea59";
}
.icon-spinner8:before {
  content: "\ea5a";
}
.icon-spinner9:before {
  content: "\ea5b";
}
.icon-spinner10:before {
  content: "\ea5c";
}
.icon-spinner11:before {
  content: "\ea5d";
}
.icon-binoculars:before {
  content: "\ea5e";
}
.icon-search:before {
  content: "\ea5f";
}
.icon-zoom-in:before {
  content: "\ea60";
}
.icon-zoom-out:before {
  content: "\ea61";
}
.icon-enlarge:before {
  content: "\ea62";
}
.icon-shrink:before {
  content: "\ea63";
}
.icon-enlarge2:before {
  content: "\ea64";
}
.icon-shrink2:before {
  content: "\ea65";
}
.icon-key:before {
  content: "\ea66";
}
.icon-key2:before {
  content: "\ea67";
}
.icon-lock:before {
  content: "\ea68";
}
.icon-unlocked:before {
  content: "\ea69";
}
.icon-wrench:before {
  content: "\ea6a";
}
.icon-equalizer:before {
  content: "\ea6b";
}
.icon-equalizer2:before {
  content: "\ea6c";
}
.icon-cog:before {
  content: "\ea6d";
}
.icon-cogs:before {
  content: "\ea6e";
}
.icon-hammer:before {
  content: "\ea6f";
}
.icon-magic-wand:before {
  content: "\ea70";
}
.icon-aid-kit:before {
  content: "\ea71";
}
.icon-bug:before {
  content: "\ea72";
}
.icon-pie-chart:before {
  content: "\ea73";
}
.icon-stats-dots:before {
  content: "\ea74";
}
.icon-stats-bars:before {
  content: "\ea75";
}
.icon-stats-bars2:before {
  content: "\ea76";
}
.icon-trophy:before {
  content: "\ea77";
}
.icon-gift:before {
  content: "\ea78";
}
.icon-glass:before {
  content: "\ea79";
}
.icon-glass2:before {
  content: "\ea7a";
}
.icon-mug:before {
  content: "\ea7b";
}
.icon-spoon-knife:before {
  content: "\ea7c";
}
.icon-leaf:before {
  content: "\ea7d";
}
.icon-rocket:before {
  content: "\ea7e";
}
.icon-meter:before {
  content: "\ea7f";
}
.icon-meter2:before {
  content: "\ea80";
}
.icon-hammer2:before {
  content: "\ea81";
}
.icon-fire:before {
  content: "\ea82";
}
.icon-lab:before {
  content: "\ea83";
}
.icon-magnet:before {
  content: "\ea84";
}
.icon-bin:before {
  content: "\ea85";
}
.icon-bin2:before {
  content: "\ea86";
}
.icon-briefcase:before {
  content: "\ea87";
}
.icon-airplane:before {
  content: "\ea88";
}
.icon-truck:before {
  content: "\ea89";
}
.icon-road:before {
  content: "\ea8a";
}
.icon-accessibility:before {
  content: "\ea8b";
}
.icon-target:before {
  content: "\ea8c";
}
.icon-shield:before {
  content: "\ea8d";
}
.icon-power:before {
  content: "\ea8e";
}
.icon-switch:before {
  content: "\ea8f";
}
.icon-power-cord:before {
  content: "\ea90";
}
.icon-clipboard:before {
  content: "\ea91";
}
.icon-list-numbered:before {
  content: "\ea92";
}
.icon-list:before {
  content: "\ea93";
}
.icon-list2:before {
  content: "\ea94";
}
.icon-tree:before {
  content: "\ea95";
}
.icon-menu:before {
  content: "\ea96";
}
.icon-menu2:before {
  content: "\ea97";
}
.icon-menu3:before {
  content: "\ea98";
}
.icon-menu4:before {
  content: "\ea99";
}
.icon-cloud:before {
  content: "\ea9a";
}
.icon-cloud-download:before {
  content: "\ea9b";
}
.icon-cloud-upload:before {
  content: "\ea9c";
}
.icon-cloud-check:before {
  content: "\ea9d";
}
.icon-download2:before {
  content: "\ea9e";
}
.icon-upload2:before {
  content: "\ea9f";
}
.icon-download3:before {
  content: "\eaa0";
}
.icon-upload3:before {
  content: "\eaa1";
}
.icon-sphere:before {
  content: "\eaa2";
}
.icon-earth:before {
  content: "\eaa3";
}
.icon-link:before {
  content: "\eaa4";
}
.icon-flag:before {
  content: "\eaa5";
}
.icon-attachment:before {
  content: "\eaa6";
}
.icon-eye:before {
  content: "\eaa7";
}
.icon-eye-plus:before {
  content: "\eaa8";
}
.icon-eye-minus:before {
  content: "\eaa9";
}
.icon-eye-blocked:before {
  content: "\eaaa";
}
.icon-bookmark:before {
  content: "\eaab";
}
.icon-bookmarks:before {
  content: "\eaac";
}
.icon-sun:before {
  content: "\eaad";
}
.icon-contrast:before {
  content: "\eaae";
}
.icon-brightness-contrast:before {
  content: "\eaaf";
}
.icon-star-empty:before {
  content: "\eab0";
}
.icon-star-half:before {
  content: "\eab1";
}
.icon-star-full:before {
  content: "\eab2";
}
.icon-heart:before {
  content: "\eab3";
}
.icon-heart-broken:before {
  content: "\eab4";
}
.icon-man:before {
  content: "\eab5";
}
.icon-woman:before {
  content: "\eab6";
}
.icon-man-woman:before {
  content: "\eab7";
}
.icon-happy:before {
  content: "\eab8";
}
.icon-happy2:before {
  content: "\eab9";
}
.icon-smile:before {
  content: "\eaba";
}
.icon-smile2:before {
  content: "\eabb";
}
.icon-tongue:before {
  content: "\eabc";
}
.icon-tongue2:before {
  content: "\eabd";
}
.icon-sad:before {
  content: "\eabe";
}
.icon-sad2:before {
  content: "\eabf";
}
.icon-wink:before {
  content: "\eac0";
}
.icon-wink2:before {
  content: "\eac1";
}
.icon-grin:before {
  content: "\eac2";
}
.icon-grin2:before {
  content: "\eac3";
}
.icon-cool:before {
  content: "\eac4";
}
.icon-cool2:before {
  content: "\eac5";
}
.icon-angry:before {
  content: "\eac6";
}
.icon-angry2:before {
  content: "\eac7";
}
.icon-evil:before {
  content: "\eac8";
}
.icon-evil2:before {
  content: "\eac9";
}
.icon-shocked:before {
  content: "\eaca";
}
.icon-shocked2:before {
  content: "\eacb";
}
.icon-baffled:before {
  content: "\eacc";
}
.icon-baffled2:before {
  content: "\eacd";
}
.icon-confused:before {
  content: "\eace";
}
.icon-confused2:before {
  content: "\eacf";
}
.icon-neutral:before {
  content: "\ead0";
}
.icon-neutral2:before {
  content: "\ead1";
}
.icon-hipster:before {
  content: "\ead2";
}
.icon-hipster2:before {
  content: "\ead3";
}
.icon-wondering:before {
  content: "\ead4";
}
.icon-wondering2:before {
  content: "\ead5";
}
.icon-sleepy:before {
  content: "\ead6";
}
.icon-sleepy2:before {
  content: "\ead7";
}
.icon-frustrated:before {
  content: "\ead8";
}
.icon-frustrated2:before {
  content: "\ead9";
}
.icon-crying:before {
  content: "\eada";
}
.icon-crying2:before {
  content: "\eadb";
}
.icon-point-up:before {
  content: "\eadc";
}
.icon-point-right:before {
  content: "\eadd";
}
.icon-point-down:before {
  content: "\eade";
}
.icon-point-left:before {
  content: "\eadf";
}
.icon-warning:before {
  content: "\eae0";
}
.icon-notification:before {
  content: "\eae1";
}
.icon-question:before {
  content: "\eae2";
}
.icon-plus:before {
  content: "\eae3";
}
.icon-minus:before {
  content: "\eae4";
}
.icon-info:before {
  content: "\eae5";
}
.icon-cancel-circle:before {
  content: "\eae6";
}
.icon-blocked:before {
  content: "\eae7";
}
.icon-cross:before {
  content: "\eae8";
}
.icon-checkmark:before {
  content: "\eae9";
}
.icon-checkmark2:before {
  content: "\eaea";
}
.icon-spell-check:before {
  content: "\eaeb";
}
.icon-enter:before {
  content: "\eaec";
}
.icon-exit:before {
  content: "\eaed";
}
.icon-play2:before {
  content: "\eaee";
}
.icon-pause:before {
  content: "\eaef";
}
.icon-stop:before {
  content: "\eaf0";
}
.icon-previous:before {
  content: "\eaf1";
}
.icon-next:before {
  content: "\eaf2";
}
.icon-backward:before {
  content: "\eaf3";
}
.icon-forward2:before {
  content: "\eaf4";
}
.icon-play3:before {
  content: "\eaf5";
}
.icon-pause2:before {
  content: "\eaf6";
}
.icon-stop2:before {
  content: "\eaf7";
}
.icon-backward2:before {
  content: "\eaf8";
}
.icon-forward3:before {
  content: "\eaf9";
}
.icon-first:before {
  content: "\eafa";
}
.icon-last:before {
  content: "\eafb";
}
.icon-previous2:before {
  content: "\eafc";
}
.icon-next2:before {
  content: "\eafd";
}
.icon-eject:before {
  content: "\eafe";
}
.icon-volume-high:before {
  content: "\eaff";
}
.icon-volume-medium:before {
  content: "\eb00";
}
.icon-volume-low:before {
  content: "\eb01";
}
.icon-volume-mute:before {
  content: "\eb02";
}
.icon-volume-mute2:before {
  content: "\eb03";
}
.icon-volume-increase:before {
  content: "\eb04";
}
.icon-volume-decrease:before {
  content: "\eb05";
}
.icon-loop:before {
  content: "\eb06";
}
.icon-loop2:before {
  content: "\eb07";
}
.icon-infinite:before {
  content: "\eb08";
}
.icon-shuffle:before {
  content: "\eb09";
}
.icon-arrow-up-left:before {
  content: "\eb0a";
}
.icon-arrow-up:before {
  content: "\eb0b";
}
.icon-arrow-up-right:before {
  content: "\eb0c";
}
.icon-arrow-right:before {
  content: "\eb0d";
}
.icon-arrow-down-right:before {
  content: "\eb0e";
}
.icon-arrow-down:before {
  content: "\eb0f";
}
.icon-arrow-down-left:before {
  content: "\eb10";
}
.icon-arrow-left3:before {
  content: "\eb11";
}
.icon-arrow-up-left2:before {
  content: "\eb12";
}
.icon-arrow-up22:before {
  content: "\eb13";
}
.icon-arrow-up-right2:before {
  content: "\eb14";
}
.icon-arrow-right2:before {
  content: "\eb15";
}
.icon-arrow-down-right2:before {
  content: "\eb16";
}
.icon-arrow-down2:before {
  content: "\eb17";
}
.icon-arrow-down-left2:before {
  content: "\eb18";
}
.icon-arrow-left2:before {
  content: "\eb19";
}
.icon-circle-up:before {
  content: "\eb1a";
}
.icon-circle-right:before {
  content: "\eb1b";
}
.icon-circle-down:before {
  content: "\eb1c";
}
.icon-circle-left:before {
  content: "\eb1d";
}
.icon-tab:before {
  content: "\eb1e";
}
.icon-move-up:before {
  content: "\eb1f";
}
.icon-move-down:before {
  content: "\eb20";
}
.icon-sort-alpha-asc:before {
  content: "\eb21";
}
.icon-sort-alpha-desc:before {
  content: "\eb22";
}
.icon-sort-numeric-asc:before {
  content: "\eb23";
}
.icon-sort-numberic-desc:before {
  content: "\eb24";
}
.icon-sort-amount-asc:before {
  content: "\eb25";
}
.icon-sort-amount-desc:before {
  content: "\eb26";
}
.icon-command:before {
  content: "\eb27";
}
.icon-shift:before {
  content: "\eb28";
}
.icon-ctrl:before {
  content: "\eb29";
}
.icon-opt:before {
  content: "\eb2a";
}
.icon-checkbox-checked:before {
  content: "\eb2b";
}
.icon-checkbox-unchecked:before {
  content: "\eb2c";
}
.icon-radio-checked:before {
  content: "\eb2d";
}
.icon-radio-checked2:before {
  content: "\eb2e";
}
.icon-radio-unchecked:before {
  content: "\eb2f";
}
.icon-crop:before {
  content: "\eb30";
}
.icon-make-group:before {
  content: "\eb31";
}
.icon-ungroup:before {
  content: "\eb32";
}
.icon-scissors:before {
  content: "\eb33";
}
.icon-filter:before {
  content: "\eb34";
}
.icon-font:before {
  content: "\eb35";
}
.icon-ligature:before {
  content: "\eb36";
}
.icon-ligature2:before {
  content: "\eb37";
}
.icon-text-height:before {
  content: "\eb38";
}
.icon-text-width:before {
  content: "\eb39";
}
.icon-font-size:before {
  content: "\eb3a";
}
.icon-bold:before {
  content: "\eb3b";
}
.icon-underline:before {
  content: "\eb3c";
}
.icon-italic:before {
  content: "\eb3d";
}
.icon-strikethrough:before {
  content: "\eb3e";
}
.icon-omega:before {
  content: "\eb3f";
}
.icon-sigma:before {
  content: "\eb40";
}
.icon-page-break:before {
  content: "\eb41";
}
.icon-superscript:before {
  content: "\eb42";
}
.icon-subscript:before {
  content: "\eb43";
}
.icon-superscript2:before {
  content: "\eb44";
}
.icon-subscript2:before {
  content: "\eb45";
}
.icon-text-color:before {
  content: "\eb46";
}
.icon-pagebreak:before {
  content: "\eb47";
}
.icon-clear-formatting:before {
  content: "\eb48";
}
.icon-table:before {
  content: "\eb49";
}
.icon-table2:before {
  content: "\eb4a";
}
.icon-insert-template:before {
  content: "\eb4b";
}
.icon-pilcrow:before {
  content: "\eb4c";
}
.icon-ltr:before {
  content: "\eb4d";
}
.icon-rtl:before {
  content: "\eb4e";
}
.icon-section:before {
  content: "\eb4f";
}
.icon-paragraph-left:before {
  content: "\eb50";
}
.icon-paragraph-center:before {
  content: "\eb51";
}
.icon-paragraph-right:before {
  content: "\eb52";
}
.icon-paragraph-justify:before {
  content: "\eb53";
}
.icon-indent-increase:before {
  content: "\eb54";
}
.icon-indent-decrease:before {
  content: "\eb55";
}
.icon-share:before {
  content: "\eb56";
}
.icon-new-tab:before {
  content: "\eb57";
}
.icon-embed:before {
  content: "\eb58";
}
.icon-embed2:before {
  content: "\eb59";
}
.icon-terminal:before {
  content: "\eb5a";
}
.icon-share2:before {
  content: "\eb5b";
}
.icon-mail:before {
  content: "\eb5c";
}
.icon-mail2:before {
  content: "\eb5d";
}
.icon-mail3:before {
  content: "\eb5e";
}
.icon-mail4:before {
  content: "\eb5f";
}
.icon-amazon:before {
  content: "\eb60";
}
.icon-google:before {
  content: "\eb61";
}
.icon-google2:before {
  content: "\eb62";
}
.icon-google3:before {
  content: "\eb63";
}
.icon-google-plus:before {
  content: "\eb64";
}
.icon-google-plus2:before {
  content: "\eb65";
}
.icon-google-plus3:before {
  content: "\eb66";
}
.icon-hangouts:before {
  content: "\eb67";
}
.icon-google-drive:before {
  content: "\eb68";
}
.icon-facebook:before {
  content: "\eb69";
}
.icon-facebook2:before {
  content: "\eb6a";
}
.icon-instagram:before {
  content: "\eb6b";
}
.icon-whatsapp:before {
  content: "\eb6c";
}
.icon-spotify:before {
  content: "\eb6d";
}
.icon-telegram:before {
  content: "\eb6e";
}
.icon-twitter:before {
  content: "\eb6f";
}
.icon-vine:before {
  content: "\eb70";
}
.icon-vk:before {
  content: "\eb71";
}
.icon-renren:before {
  content: "\eb72";
}
.icon-sina-weibo:before {
  content: "\eb73";
}
.icon-rss:before {
  content: "\eb74";
}
.icon-rss2:before {
  content: "\eb75";
}
.icon-youtube:before {
  content: "\eb76";
}
.icon-youtube2:before {
  content: "\eb77";
}
.icon-twitch:before {
  content: "\eb78";
}
.icon-vimeo:before {
  content: "\eb79";
}
.icon-vimeo2:before {
  content: "\eb7a";
}
.icon-lanyrd:before {
  content: "\eb7b";
}
.icon-flickr:before {
  content: "\eb7c";
}
.icon-flickr2:before {
  content: "\eb7d";
}
.icon-flickr3:before {
  content: "\eb7e";
}
.icon-flickr4:before {
  content: "\eb7f";
}
.icon-dribbble:before {
  content: "\eb80";
}
.icon-behance:before {
  content: "\eb81";
}
.icon-behance2:before {
  content: "\eb82";
}
.icon-deviantart:before {
  content: "\eb83";
}
.icon-500px:before {
  content: "\eb84";
}
.icon-steam:before {
  content: "\eb85";
}
.icon-steam2:before {
  content: "\eb86";
}
.icon-dropbox:before {
  content: "\eb87";
}
.icon-onedrive:before {
  content: "\eb88";
}
.icon-github:before {
  content: "\eb89";
}
.icon-npm:before {
  content: "\eb8a";
}
.icon-basecamp:before {
  content: "\eb8b";
}
.icon-trello:before {
  content: "\eb8c";
}
.icon-wordpress:before {
  content: "\eb8d";
}
.icon-joomla:before {
  content: "\eb8e";
}
.icon-ello:before {
  content: "\eb8f";
}
.icon-blogger:before {
  content: "\eb90";
}
.icon-blogger2:before {
  content: "\eb91";
}
.icon-tumblr:before {
  content: "\eb92";
}
.icon-tumblr2:before {
  content: "\eb93";
}
.icon-yahoo:before {
  content: "\eb94";
}
.icon-yahoo2:before {
  content: "\eb95";
}
.icon-tux:before {
  content: "\eb96";
}
.icon-appleinc:before {
  content: "\eb97";
}
.icon-finder:before {
  content: "\eb98";
}
.icon-android:before {
  content: "\eb99";
}
.icon-windows:before {
  content: "\eb9a";
}
.icon-windows8:before {
  content: "\eb9b";
}
.icon-soundcloud:before {
  content: "\eb9c";
}
.icon-soundcloud2:before {
  content: "\eb9d";
}
.icon-skype:before {
  content: "\eb9e";
}
.icon-reddit:before {
  content: "\eb9f";
}
.icon-hackernews:before {
  content: "\eba0";
}
.icon-wikipedia:before {
  content: "\eba1";
}
.icon-linkedin:before {
  content: "\eba2";
}
.icon-linkedin2:before {
  content: "\eba3";
}
.icon-lastfm:before {
  content: "\eba4";
}
.icon-lastfm2:before {
  content: "\eba5";
}
.icon-delicious:before {
  content: "\eba6";
}
.icon-stumbleupon:before {
  content: "\eba7";
}
.icon-stumbleupon2:before {
  content: "\eba8";
}
.icon-stackoverflow:before {
  content: "\eba9";
}
.icon-pinterest:before {
  content: "\ebaa";
}
.icon-pinterest2:before {
  content: "\ebab";
}
.icon-xing2:before {
  content: "\ebac";
}
.icon-flattr:before {
  content: "\ebad";
}
.icon-foursquare:before {
  content: "\ebae";
}
.icon-yelp:before {
  content: "\ebaf";
}
.icon-paypal:before {
  content: "\ebb0";
}
.icon-chrome:before {
  content: "\ebb1";
}
.icon-firefox:before {
  content: "\ebb2";
}
.icon-IE:before {
  content: "\ebb3";
}
.icon-edge:before {
  content: "\ebb4";
}
.icon-safari:before {
  content: "\ebb5";
}
.icon-opera:before {
  content: "\ebb6";
}
.icon-file-pdf:before {
  content: "\ebb7";
}
.icon-file-openoffice:before {
  content: "\ebb8";
}
.icon-file-word:before {
  content: "\ebb9";
}
.icon-file-excel:before {
  content: "\ebba";
}
.icon-libreoffice:before {
  content: "\ebbb";
}
.icon-html-five:before {
  content: "\ebbc";
}
.icon-html-five2:before {
  content: "\ebbd";
}
.icon-css3:before {
  content: "\ebbe";
}
.icon-git:before {
  content: "\ebbf";
}
.icon-codepen:before {
  content: "\ebc0";
}
.icon-svg:before {
  content: "\ebc1";
}
.icon-IcoMoon:before {
  content: "\ebc2";
}

