﻿/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
   
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}

        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
    width:100px;
   
}
        
ul.tabs li a
{
    font-size: 12px;
    text-decoration: none;
    position: relative;
    padding: 7px 8px;
    text-transform: uppercase;  
    border-bottom-color:#B7B7B7;
    color: #000;
        
    outline:none;
}
ul.tabs li:first-child a{
    padding-left: 0;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    
    color:#213b8d;
   
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
 
    background: white;
  color:#213b8d;
    border-bottom-color: white;
    border-bottom:2px solid  #213b8d;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border-top: 1px solid #B7B7B7;
    padding:0 15px;
    background-color:#FFF;
    margin-top:1px;
  
    
}
.headerstyle{
    text-transform: uppercase;
}

.searchLineHeig{
    line-height: 10px;
}
#custom-search-input{
    float: left;
    display: inline-block;
    padding:0;
    border-radius:0;
    background-color: #fff;
    width: 315px;
    margin-right: 10px;
}

#custom-search-input input{
    padding: 3px;
    height: 25px;
    border: #d9d9d9 solid 1px;
    box-shadow: none;
    border-radius: 0;
    font-size: 12px;
}

#custom-search-input button{
    margin: 0;
    background: none;
    box-shadow: none;
    color: #fff;
    padding: 0 16px;
    background: #213b8d;
    border-radius: 0;
    height: 25px;
    border: #213b8d solid 1px;
}
#custom-search-input button i{
    color: #fff;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    height: 25px;
    border: #213b8d solid 1px;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


/*************/
.custom-search-input{
    float: left;
    display: inline-block;
    padding:0;
    border-radius:0;
    background-color: #fff;
    width: 315px;
    margin-right: 10px;
}

.custom-search-input input{
    padding: 3px;
    height: 25px;
    border: #d9d9d9 solid 1px;
    box-shadow: none;
    border-radius: 0;
    font-size: 12px;
}

.custom-search-input button{
    margin: 0;
    background: none;
    box-shadow: none;
    color: #fff;
    padding: 0 16px;
    background: #213b8d;
    border-radius: 0;
    height: 25px;
    border: #213b8d solid 1px;
}
.custom-search-input button i{
    color: #fff;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    height: 25px;
    border: #213b8d solid 1px;
    background: #213b8d;
}

.custom-search-input .glyphicon-search{
    font-size: 23px;
}







.advSearch{
    float: right;
    padding: 4px 5px;
    text-transform: capitalize;
    line-height: 14px;
    
}
.advSearch a{
    color: #525252; 
    text-decoration: none;       
}
.advSearch .md-icons{
    margin: 1px 5px;
    float: left;
} 

.advSearch.srActive{
    background: #f0f0f0;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #f0f0f0;
}

