﻿<div class="clearfix">
    <!--dashbaordset team Leaves --->
    <div class="dashboardcardset clearfix">
        <div class="cardhead clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 clearfix">
                    <div class="title pull-left">
                        <h3 class=" mar-bot-0 m-t-none newtitle ">Bank</h3>
                        <span style="display: none" id="spanCount">-</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 clearfix">
                    <div class="pull-right attachment info-add text-right">
                        <!--   <a style="top: 0px; right: 0px" class="collapseanchor btn btn-primary marg-left10 position-relative  pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseone">
                            <span>Add Bank</span>
                        </a>-->
                        <a style="top: 0px; right: 0px;text-transform:capitalize;" title="Add Bank" class=" btn btn-primary marg-left10 position-relative  pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseone">
                            <span>Add Bank</span>
                            <!--collapseanchor-->
                        </a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                            <div class="inline-block">
                                <div class="input-group ">
                                    <input type="text" id="txtSearch" class="form-control" placeholder="Search bank">
                                    <span class="input-group-btn">
                                        <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- content set-->
        <div class="contentset clearfix topteamleaves clearfix padd-top0 padd-bottom0">
            <div class="box col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg-head  padd-top-bottom10">
                <div class="group accordion-toggle accordiontoggle ">
                    <div class="row-edit col-lg-12 col-md-12 col-sm-12 col-xs-12 hideshow">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  ">
                            <strong>Bank Code  </strong>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <strong>Bank Name </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <strong>Branch Name </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <strong>BSR Code  </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <strong>Contact name </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <strong>A/c Length</strong>
                            <!--</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">-->
                            &nbsp;
                        </div>
                        <div class="inline-action hide-show">
                        </div>
                    </div>
                </div>
            </div>
            <form id="Bank" name="Bank" runat="server">
                <div class="clearfix panel-collapse divcollapse collapse  col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg border-top" aria-expanded="false" id="collapseone">
                    <div class="mar-top-10">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Bank Code<sup class="text-danger">*</sup></label>
                            <input type="text" id="txtBankCode" class="clearfix btn-block" maxlength="10" name="txtBankCode" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Bank Name<sup class="text-danger">*</sup></label>
                            <input id="txtBankName" type="text" class="clearfix btn-block"  maxlength="50" name="txtBankName" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Branch Name<sup class="text-danger">*</sup></label>
                            <input id="txtBranchName" type="text" class="clearfix btn-block"  maxlength="35" name="txtBrachName" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Contact Name<sup class="text-danger">*</sup></label>
                            <input id="txtContactName" type="text" class="clearfix btn-block"  maxlength="35" name="txtContactNumber" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Bank BSR Code<sup class="text-danger">*</sup></label>
                            <input type="text" id="txtBankBSRCode" class="clearfix btn-block"  maxlength="7" name="txtBankBSRCode" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Account Length <sup class="text-danger">*</sup></label>
                            <input type="text" id="txtAccountLen" class="clearfix btn-block"   maxlength="4" name="txtAccountLen" placeholder="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Address Line 1 <sup class="text-danger">*</sup></label>
                            <input id="txtBankAddress1" type="text" class="clearfix btn-block"  maxlength="35" name="txtAddress1" placeholder="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Address Line 2 <sup class="text-danger">*</sup></label>
                            <input type="text" id="txtBankAddress2" class="clearfix btn-block"  maxlength="35" name="txtAddress2" placeholder="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Address Line 3<sup class="text-danger">*</sup></label>
                            <input type="text" id="txtBankAddress3" class="clearfix btn-block"  maxlength="35" name="txtAddress3" placeholder="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Address Line 4<sup class="text-danger">*</sup></label>
                            <input type="text" id="txtBankAddress4" class="clearfix btn-block"  maxlength="35" name="txtAddress4" placeholder="">
                        </div>
                    </div>
                    <div class="insdt" style="display: none"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-next">
                        <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose cancelclosedes marg-left10 mar-bot-10 cancel22">Cancel</button>
                        <button type="button" id="btnAdd" class="btn btn-primary pull-right saveandaddmore mar-bot-10">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="tblBank" style="min-height: 400px;">
            <div class="preloader">
                <img src="UIAssets/css/images/loader.gif" />
                loading...
            </div>
        </div>
        <!-- content set-->
    </div>
    <!--dashbaordset team Leaves--->
</div>
<script type="text/html" id="dataTemplate">
    <div id="div${BankCode}" class="contentset clearfix topteamleaves clearfix padd-top0 padd-bottom0 teamleaves-trans">
        <div class="box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix tablesshover table-hover-div">
            <div class="padd-top-bottom10 clearfix">
                <div class="row-edit hideshow">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                     <span id="lblBankCode{{html String(BankCode).replace(/&/gi, '-')}}">${BankCode}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                     <span id="lblBankName{{html String(BankCode).replace(/&/gi, '-')}}">${BankName}</span> 
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <span id="lblBranchName{{html String(BankCode).replace(/&/gi, '-')}}">${BranchName}</span>  
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                       <span id="lblBankBSRCode{{html String(BankCode).replace(/&/gi, '-')}}">${BankBSRCode}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                       <span id="lblContactName{{html String(BankCode).replace(/&/gi, '-')}}">${ContactName}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                     <span id="lblAccountLen{{html String(BankCode).replace(/&/gi, '-')}}">${AccountLen}</span> 

                       {{if Boolean(IsActive)==true}}
                        <a href="#editcollpase01" row-index="{{html String(BankCode).replace(/&/gi, '-')}}" row-status="false" class="edit-btn card-edit-btn pull-right  deletrow padd-left-15" title="Active"><i class="icon-check-circle font-size-15 text-success"></i></a>
                        {{else}}
                        <a href="#editcollpase01" row-index="{{html String(BankCode).replace(/&/gi, '-')}}" row-status="true" class="edit-btn card-edit-btn pull-right  deletrow padd-left-15" title="Inactive"><i class="icon-cancel text-danger font-size-15"></i></a>
                        {{/if}}
                          <a data-toggle="collapse" data-parent="#accordion" href="#editcollpase{{html String(BankCode).replace(/&/gi, '-')}}" class="edit-btn pull-right card-edit-btn editrow collapseanchor"
                              title="Edit">
                              <i class="icon-edit"></i>
                          </a>
                    </div>
                </div>
                <div class="inline-action hide-show">
                </div>
            </div>
        </div>
        <div class="clearfix panel-collapse divcollapse collapse lightten col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg" aria-expanded="false" id="editcollpase{{html String(BankCode).replace(/&/gi, '-')}}">
            <form id="Bank{{html String(BankCode).replace(/&/gi, '-')}}" name="Location" runat="server">
                <div class="mar-top-10 clearfix ">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                        <label class="clearfix btn-block">Bank Code</label>
                        <input id="txtBankCode{{html String(BankCode).replace(/&/gi, '-')}}" readonly disabled="disabled" type="text" class="clearfix btn-block" name="name" value="${BankCode}" placeholder="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                        <label class="clearfix btn-block">Bank Name<sup class="text-danger">*</sup></label>
                        <input id="txtBankName{{html String(BankCode).replace(/&/gi, '-')}}"   maxlength="50" type="text" class="clearfix btn-block" name="name" value="${BankName}" placeholder="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">

                        <label class="clearfix btn-block">Branch Name<sup class="text-danger">*</sup></label>
                        <input id="txtBranchName{{html String(BankCode).replace(/&/gi, '-')}}"  maxlength="35" type="text" class="clearfix btn-block" name="name" value="${BranchName}" placeholder="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">

                        <label class="clearfix btn-block">Contact Name<sup class="text-danger">*</sup></label>
                        <input id="txtContactName{{html String(BankCode).replace(/&/gi, '-')}}"  maxlength="35" type="text" class="clearfix btn-block" name="name" value="${ContactName}" placeholder="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">

                        <label class="clearfix btn-block">Bank BSR Code<sup class="text-danger">*</sup></label>
                        <input id="txtBankBSRCode{{html String(BankCode).replace(/&/gi, '-')}}" type="text"  maxlength="7" class="clearfix btn-block" name="name" value="${BankBSRCode}" placeholder="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                        <label class="clearfix btn-block">Account Length<sup class="text-danger">*</sup></label>
                        <input id="txtAccountLen{{html String(BankCode).replace(/&/gi, '-')}}" type="text"   maxlength="4" class="clearfix btn-block" name="name" value="${AccountLen}">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Address Line 1<sup class="text-danger">*</sup></label>
                        <input id="txtBankAddress1{{html String(BankCode).replace(/&/gi, '-')}}" type="text"  maxlength="35" class="clearfix btn-block" name="name" value="${BankAddress1}" placeholder="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Address Line 2<sup class="text-danger">*</sup></label>
                        <input id="txtBankAddress2{{html String(BankCode).replace(/&/gi, '-')}}" type="text"  maxlength="35" class="clearfix btn-block" name="name" value="${BankAddress2}" placeholder="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Address Line 3<sup class="text-danger">*</sup></label>
                        <input id="txtBankAddress3{{html String(BankCode).replace(/&/gi, '-')}}" type="text"  maxlength="35" class="clearfix btn-block" name="name" value="${BankAddress3}" placeholder="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Address Line 4<sup class="text-danger">*</sup></label>
                        <input id="txtBankAddress4{{html String(BankCode).replace(/&/gi, '-')}}" type="text"  maxlength="35" class="clearfix btn-block" name="name" value="${BankAddress4}" placeholder="">
                    </div>
                </div>
                <div class="insdt" style="display: none"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-next ">
                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 mar-bot-10 cancelclosedes cancel22">Cancel</button>
                    <button type="button" row-index="{{html String(BankCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right saveandaddmore mar-bot-10 btnsave">Save</button>
                </div>
            </form>
        </div>
    </div>
</script>
