﻿<div class="card-item">
    <div class="clearfix card">
        <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15">
                <!--    <span class=" icon-settings"></span>-->
                    <h3>Manage Category</h3>       <span style="display:none"  id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                    <a data-toggle="collapse" data-target="#demow" href="javascript:void(0);" class="collapseanchor btn btn-primary marg-left10  pull-right"
                        title="Add Category">Add Category
                    </a>
                    <!--<button id="btnExport" type="button" class="btn btn-primary withoutbg marg-left10 pull-right">Download</button>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search category">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <input type="hidden" id="hidEmpNo" runat="server" />
            <input type="hidden" id="hidEmpToken" runat="server" />
            <div id="divscroll">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                            <th class="col-md-3 padd-left-30" style="">Category Code </th>
                            <th class="text-left col-md-4 padd-left-0">Category Description</th>
                            <th class="text-left col-md-2 padd-left-0">Weekly Off Deduction</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demow">
                                    <form id="form2" name="Category" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Category Code<sup class="text-danger">*</sup></label>
                                                    <input id="txtCategoryCode" required="required" maxlength="2" type="text" class="clearfix" />
                                                </td>
                                                <td class="text-left col-md-4">
                                                    <label class="clearfix btn-block">Category Description<sup class="text-danger">*</sup></label>
                                                    <input id="txtCategoryDesc" maxlength="30" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-left col-md-2">
                                                    <label>Weekly Off Deduction</label>
                                                    <input type="checkbox" id="chkWODeduction" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="divscroll" style="height: 400px; overflow: auto;">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <tbody id="tblCategory" class="tbodyheight">
                        <tr>
                            <td colspan="4">
                                <div class="preloader">
                                    <img src="UIAssets/css/images/loader.gif" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="dataTemplate" type="text/html">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblCategoryCode${CategoryCode}" class="text-left col-md-3 padd-left-30 vOCode">${CategoryCode}</td>
        <td id="lblCategoryDesc${CategoryCode}" class="text-left col-md-4 vODesc">${CategoryDesc}</td>
        <td id="lblWODeduction${CategoryCode}" class="text-left col-md-2 vchkWO">{{html Boolean(WODeduction) == true ? 'Yes' : 'No'}}</td>
        <td class="text-right  col-md-3 padd-right-20">
            <a data-toggle="collapse" data-target="#sec{{html String(CategoryCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
         
            
              <!-- <a href="javascript:void(0);" row-index="{{html String(CategoryCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn deletrow padd-left-20" title="Delete"><span class="icon-icon-delete"></span></a>-->

               
                       {{if Boolean(IsActive)==true}}<!--<i class="icon-check-circle font-size-15 text-success font-size-15"></i>-->
                        <a href="javascript:void(0);" row-index="{{html String(CategoryCode).replace(/&/gi, '-')}}" row-status="false" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to inactive"><span class="icon-check-circle font-size-15 text-success"></span></a>
                        {{else}}<!--<i class="icon-cancel text-danger font-size-15 font-size-15font-size-15"></i>-->
                        <a href="javascript:void(0);" row-index="{{html String(CategoryCode).replace(/&/gi, '-')}}" row-status="true" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to active"><span class="icon-cancel text-danger font-size-15"></span></a>
                        {{/if}}
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(CategoryCode).replace(/&/gi, '-')}}">
                <form id="form1" name="Category" runat="server">
                    <table class="table greycolortable">
                        <tr>
                            <td class="text-left col-md-3 padd-left-30">
                                <label class="clearfix btn-block">Category Code</label>
                                <input readonly id="txtCategoryCode${CategoryCode}" type="text" disabled="disabled" class="clearfix eOCode" value="${CategoryCode}" />
                            </td>
                            <td class="text-left col-md-4">
                                <label class="clearfix btn-block">Category Description<sup class="text-danger">*</sup></label>
                                <input id="txtCategoryDesc${CategoryCode}" type="text" maxlength="30" required="required" class="clearfix btn-block eODesc" value="${CategoryDesc}" />
                            </td>
                            <td class="text-left col-md-2">
                            <label>Weekly Off Deduction</label>
                                {{if Boolean(WODeduction) == true}}
                            <input id="chkWODeductionStatus${CategoryCode}" checked type="checkbox" class="echkWO" />
                                {{else}}
                            <input id="chkWODeductionStatus${CategoryCode}" type="checkbox" class="echkWO" />
                                {{/if}}                        
                            </td>
                            <td class="text-right  col-md-3  padd-right-20">
                                <label class="clearfix btn-block">&nbsp;</label>
                                <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                <button type="button" row-index="{{html String(CategoryCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>