﻿<div class="card-item">
    <style type="text/css">
        .error {
            color:red;
        }
    </style>
    <div class="clearfix card">
        <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15">
                    <!--  <span class=" icon-settings"></span>-->
                    <h3>Manage Change Reason</h3>
                    <span style="display: none" id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                    <a data-toggle="collapse" data-target="#demow" href="javascript:void(0);" class="collapseanchor btn btn-primary marg-left10  pull-right"
                        title="Add Change    Reason">Add Change Reason
                    </a>
                    <!-- <button type="button" data-dismiss="modal" class="btn btn-primary withoutbg marg-left10 pull-right">Download</button>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search change reason">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <input type="hidden" id="hidEmpNo" runat="server" />
            <input type="hidden" id="hidEmpToken" runat="server" />
            <div id="divscroll">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                            <th class="col-md-3 padd-left-30 tb1" style="">Reason Code </th>
                            <th class="text-left col-md-6 padd-left-0">Reason Description</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demow">
                                    <form id="ChangeReason" name="ChangeReason" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Reason Code<sup class="text-danger">*</sup></label>
                                                    <input id="txtReasonCode" title="Please enter reason code" required="required" name="reasoncode" maxlength="2" type="text" class="clearfix" />
                                                </td>
                                                <td class="text-left col-md-6">
                                                    <label class="clearfix btn-block">Reason Description<sup class="text-danger">*</sup></label>
                                                    <input id="txtReasonDesc"  title="Please enter reason description" required="required" name="reasondesc" maxlength="50" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="divscroll" style="height: 400px; overflow: auto;">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <tbody id="tblChangeReason" class="tbodyheight">
                        <tr>
                            <td colspan="4">
                                <div class="preloader">
                                    <img src="UIAssets/css/images/loader.gif" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="dataTemplate" type="text/x-jquery-tmpl">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblReasonCode{{html String(ReasonCode).replace(/&/gi, '-')}}" class="text-left col-md-3 padd-left-30 ">${ReasonCode}</td>
        <td id="lblReasonDesc{{html String(ReasonCode).replace(/&/gi, '-')}}" class="text-left col-md-6">${ReasonDesc}</td>
        <td class="text-right  col-md-3 padd-right-20">
            <a data-toggle="collapse" href="#" data-target="#sec{{html String(ReasonCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
          <!--  <a href="javascript:void(0);" row-index="{{html String(ReasonCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn deletrow padd-left-20" title="Delete"><span class="icon-icon-delete"></span></a>-->

                {{if Boolean(IsActive)==true}}<!--<i class="icon-check-circle font-size-15 text-success font-size-15"></i>-->
                        <a href="javascript:void(0);" row-index="{{html String(ReasonCode).replace(/&/gi, '-')}}" row-status="false" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to inactive"><span class="icon-check-circle font-size-15 text-success"></span></a>
                        {{else}}<!--<i class="icon-cancel text-danger font-size-15 font-size-15"></i>-->
                        <a href="javascript:void(0);" row-index="{{html String(ReasonCode).replace(/&/gi, '-')}}" row-status="true" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to active"><span class="icon-cancel text-danger font-size-15"></span></a>
                        {{/if}}
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(ReasonCode).replace(/&/gi, '-')}}">
                <form id="ChangeReason{{html String(ReasonCode).replace(/&/gi, '-')}}" name="ChangeReason" runat="server">
                    <table class="table greycolortable">
                        <tbody>
                            <tr>
                                <td class="text-left col-md-3 padd-left-30">
                                    <input class="hfReasonCode" value="00" type="hidden">
                                    <label class="clearfix btn-block">Reason Code</label>
                                    <input id="txtReasonCode{{html String(ReasonCode).replace(/&/gi, '-')}}" readonly disabled="disabled" type="text" class="clearfix" value="${ReasonCode}"></td>
                                <td class="text-left col-md-6">
                                    <label class="clearfix btn-block">Reason Description<sup class="text-danger">*</sup></label>
                                    <input id="txtReasonDesc{{html String(ReasonCode).replace(/&/gi, '-')}}" title="Please enter reason description" maxlength="50" type="text" required="required" class="clearfix btn-block" value="${ReasonDesc}"></td>
                                <td class="text-right  col-md-3  padd-right-20">
                                    <label class="clearfix btn-block">&nbsp;</label>
                                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                    <button type="button" row-index="{{html String(ReasonCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>
