﻿<div class="col-sm-12 col-md-12  col-xs-12  col-lg-12 padd-right0 padd-left0">
    <div class="dashboardcardset clearfix height-max ">
        <div class="card-head clearfix paddtopbot10">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15" style="margin-top: 5px">
                    <h3>Code Files</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search code files">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content set-->
        <div class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <div class="detailedleave clearfix">
                <div id="divCodeFiles" class=" clearfix form-group " style="min-height: 400px;">
                    <div class="preloader">
                        <img src="UIAssets/css/images/loader.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content set-->
</div>
<script id="dataTemplate" type="text/html">
    <div class="col-sm-6 col-md-4  col-xs-6  col-lg-3 ">
        <div class="clearfix content-box-email">
            {{if String(Module) == "UDF"}}
            <a class="link" module-name="UDF" module-type="${ModuleType}" module-desc="${ModuleName}"  templateurl="JSLib/CodeFiles/view/{{html String(Module).toLowerCase()}}.html"><i class="icon-file-text2 padd-right10"></i>${ModuleName}</a>

             {{else}}
            <a class="link" module-name="${Module}"  module-desc="${ModuleName}" templateurl="JSLib/CodeFiles/view/{{html String(Module).toLowerCase()}}.html"><i class="icon-file-text2 padd-right10"></i>${ModuleName}</a>
            {{/if}}               
        </div>
    </div>
</script>
