﻿<div class="card-item">
     <style type="text/css">
        .error {
            color:red;
        }
    </style>
    <div class="clearfix card">
        <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15">
                    <!--  <span class=" icon-settings"></span>-->
                    <h3>Manage Inactive Reason</h3>
                    <span style="display: none" id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                    <a data-toggle="collapse" data-target="#demow" id="Add" href="javascript:void(0);" class="collapseanchor btn btn-primary marg-left10  pull-right"
                        title="Add Inactive Reason">Add Inactive Reason
                    </a>
                    <!-- <button type="button" data-dismiss="modal" class="btn btn-primary withoutbg marg-left10 pull-right">Download</button>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search inactive reason">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <input type="hidden" id="hidEmpNo" runat="server" />
            <input type="hidden" id="hidEmpToken" runat="server" />
            <div id="divscroll">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                           <!-- <th class="col-md-3 padd-left-30 tb1" style="">Inactive ID </th>-->
                            <th class="text-left col-md-6 padd-left-0  padd-left-30 ">Inactive Description</th>
                            <th class="text-left col-md-3 padd-left-0">PF Reason</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demow">
                                    <form id="InactiveReason" name="InactiveReason" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <!--<td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Inactive ID</label>
                                                       <input id="txtInactiveID" name="txtInactiveID" title="Please enter inactive ID" maxlength="8"  required="required"  type="text" class="clearfix" />
                                                </td>-->
                                                <td class="text-left col-md-6  padd-left-30 ">
                                                    <label class="clearfix btn-block">Inactive Description<sup class="text-danger">*</sup></label>
                                                    <input id="txtInactiveDesc" name="txtInactiveDesc" pattern="^[0-9]+$" title="Please enter inactive description" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-left col-md-3">
                                                    <label class="clearfix btn-block">PF Reason<sup class="text-danger">*</sup></label>
                                                    <input id="txtPFReason" maxlength="1" name="txtPFReason" title="Please enter PF reason" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="divscroll" style="height: 400px; overflow: auto;">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <tbody id="tblInActiveReason" class="tbodyheight">
                        <tr>
                            <td colspan="4">
                                <div class="preloader">
                                    <img src="UIAssets/css/images/loader.gif" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="dataTemplate" type="text/x-jquery-tmpl">
    <tr class="accordion-toggle accordiontoggle">
       <!-- <td id="lblInactiveID{{html String(InactiveID).replace(/&/gi, '-')}}" class="text-left col-md-3 padd-left-30 ">${InactiveID}</td>-->
        <td id="lblInactiveDesc{{html String(InactiveID).replace(/&/gi, '-')}}" class="text-left col-md-6  padd-left-30 ">${InactiveDesc}</td>
       
        <td id="lblPF_Reason{{html String(InactiveID).replace(/&/gi, '-')}}" class="text-left col-md-3">${PF_Reason}</td>
        
         <td class="text-right  col-md-3 padd-right-20">
            <a data-toggle="collapse" href="#" data-target="#sec{{html String(InactiveID).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
            <!--<a href="javascript:void(0);" row-index="{{html String(InactiveID).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn deletrow padd-left-20" title="Delete"><span class="icon-icon-delete"></span></a>-->
                      
            {{if Boolean(IsActive)==true}}<!--<i class="icon-check-circle font-size-15 text-success font-size-15"></i>-->
            <a href="javascript:void(0);" row-index="{{html String(InactiveID).replace(/&/gi, '-')}}" row-status="false" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to inactive"><span class="icon-check-circle font-size-15 text-success"></span></a>
            {{else}}<!--<i class="icon-cancel text-danger font-size-15 font-size-15"></i>-->
            <a href="javascript:void(0);" row-index="{{html String(InactiveID).replace(/&/gi, '-')}}" row-status="true" class="edit-btn card-edit-btn deletrow padd-left-20" title="click here to active"><span class="icon-cancel text-danger font-size-15"></span></a>
            {{/if}}
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(InactiveID).replace(/&/gi, '-')}}">
                <form id="InactiveReason{{html String(InactiveID).replace(/&/gi, '-')}}" name="InactiveReason" runat="server">
                    <table class="table greycolortable">
                        <tbody>
                            <tr>
                                <!--<td class="text-left col-md-3 padd-left-30">
                                    <input class="hfInactiveID" value="00" type="hidden">
                                    <label class="clearfix btn-block">Inactive ID</label>
                                    <input id="txtInactiveID{{html String(InactiveID).replace(/&/gi, '-')}}" title="Please enter inactive ID" readonly disabled="disabled" type="text" class="clearfix" value="${InactiveID}"></td>-->
                                <td class="text-left col-md-6  padd-left-30 ">
                                    <label class="clearfix btn-block">Inactive Description<sup class="text-danger">*</sup></label>
                                    <input id="txtInactiveDesc{{html String(InactiveID).replace(/&/gi, '-')}}" name="txtInactiveDesc{{html String(InactiveID).replace(/&/gi, '-')}}" title="Please enter inactive description" maxlength="30" type="text" required="required" class="clearfix btn-block" value="${InactiveDesc}"></td>
                                <td class="text-left col-md-3">
                                    <label class="clearfix btn-block">PF Reason<sup class="text-danger">*</sup></label>
                                    <input id="txtPFReason{{html String(InactiveID).replace(/&/gi, '-')}}" maxlength="1" type="text" required="required" name="txtPFReason{{html String(InactiveID).replace(/&/gi, '-')}}" title="Please enter PF reason" class="clearfix btn-block" value="${PF_Reason}"></td>
                                <td class="text-right  col-md-3  padd-right-20">
                                    <label class="clearfix btn-block">&nbsp;</label>
                                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                    <button type="button" row-index="{{html String(InactiveID).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>
