﻿<div class="clearfix">
    <!--dashbaordset team Leaves --->
    <div class="dashboardcardset clearfix">
        <div class="cardhead clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 clearfix">
                    <div class="title pull-left">
                        <h3 class=" mar-bot-0 m-t-none newtitle ">Locations</h3>
                        <span style="display: none" id="spanCount">-</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 clearfix">
                    <div class="pull-right attachment info-add text-right">
                        <a style="top: 0px; right: 0px;;text-transform:capitalize;" title="Add Locations" class=" btn btn-primary marg-left10 position-relative  pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseone">
                            <span>Add Location</span>
                            <!--collapseanchor-->
                        </a>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                            <div class="inline-block">
                                <div class="input-group ">
                                    <input type="text" id="txtSearch" class="form-control" placeholder="Search location">
                                    <span class="input-group-btn">
                                        <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- add set-->
        <div class="contentset clearfix topteamleaves clearfix padd-top0 padd-bottom0">
            <div class="box col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg-head  padd-top-bottom10">
                <div class="group accordion-toggle accordiontoggle ">
                    <div class="row-edit hideshow">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd-left-20">
                            <strong>Location Code</strong>   
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                          <strong>  Description </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                           <strong> State Code  </strong>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                          <strong>  Weekly off 1</strong>  
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                           <strong> Weekly off 2  </strong> 
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                         <strong> ESI</strong>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                         &nbsp;
                        </div>
                        <div class="inline-action hide-show">
                        </div>
                    </div>
                </div>
            </div>
            <form id="Form1" name="Location" runat="server">
                <div class="clearfix panel-collapse divcollapse collapse  col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg border-top" aria-expanded="false" id="collapseone">
                    <div class="mar-top-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Location Code<sup class="text-danger">*</sup></label>
                            <input id="txtLocationCode" type="text" maxlength="10" name="name" class="clearfix btn-block" placeholder="Location Code">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Description<sup class="text-danger">*</sup></label>
                            <input id="txtLocationDesc" type="text" name="name" class="clearfix btn-block" maxlength="30" placeholder="Description">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="clearfix btn-block">State<sup class="text-danger">*</sup></label>
                                    <select id="ddlState"  class="clearfix selectwidthheight ddl-state">
                                         loading...
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="clearfix btn-block">&nbsp;</label>
                                    <input id="txtState"  readonly   type="text" class="clearfix btn-block" name="name" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Weekly Off 1</label>
                            <select id="ddlWO1" class="clearfix selectwidthheight wo-ddl">
                                <option value="None">None</option>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="checkbox-inline checkboxinline">
                                1st<br />
                                <input id="chkWO11" type="checkbox" name="optradio" value="1"  disabled="disabled"  class="chkWO1">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                2nd<br />
                                <input id="chkWO12" type="checkbox" name="optradio" value="2"  disabled="disabled"   class="chkWO1">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                3rd<br />
                                <input id="chkWO13" type="checkbox" name="optradio"  value="3"  disabled="disabled"  class="chkWO1">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                4th<br />
                                <input id="chkWO14" type="checkbox" name="optradio"  value="4"  disabled="disabled"  class="chkWO1">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                5th<br />
                                <input id="chkWO15" type="checkbox" name="optradio"  value="5"  disabled="disabled"  class="chkWO1">
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Profession Tax file name</label>
                            <select id="ddlPTF" class="clearfix selectwidthheight ddl-ptf">
                               loading...
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">PT Account No.</label>
                            <select id="ddlPT" class="clearfix selectwidthheight ddl-pt">
                                 loading...
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">Weekly Off 2</label>
                            <select id="ddlWO2" class="clearfix selectwidthheight wo-ddl">
                                <option value="None">None</option>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="checkbox-inline checkboxinline">
                                1st<br />
                                <input id="chkWO21" type="checkbox" name="optradio" disabled="disabled" value="1"  class="chkWO2">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                2nd<br />
                                <input id="chkWO22" type="checkbox" name="optradio" value="2"  disabled="disabled"  class="chkWO2">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                3rd<br />
                                <input id="chkWO23" type="checkbox" name="optradio" value="3"  disabled="disabled"  class="chkWO2">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                4th<br />
                                <input id="chkWO24" type="checkbox" name="optradio" value="4"  disabled="disabled"  class="chkWO2">
                            </label>
                            <label class="checkbox-inline checkboxinline">
                                5th<br />
                                <input id="chkWO25" type="checkbox" name="optradio" value="5"  disabled="disabled"  class="chkWO2">
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">LWF Account No.</label>
                            <select id="ddlLWF" class="clearfix selectwidthheight ddl-lw">
                                 loading...
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                            <label class="clearfix btn-block">&nbsp;</label>
                            <label class="">
                                <input id="chkESI" type="checkbox" checked class="chkESI">
                                <span>ESI Applicable</span>
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div id="ESI-Wripper">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group ">
                                <label class="clearfix btn-block">ESI Account No.</label>
                                <select id="ddlESI" class="clearfix selectwidthheight ddl-esi">
                                     loading...
                                </select>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 form-group">
                                <label class="clearfix btn-block">ESI Office</label>
                                <input type="text" id="txtESIOffice" class="clearfix btn-block" name="name" maxlength="35" placeholder="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                <label class="clearfix btn-block">Address Line 1</label>
                                <input id="txtAddress1" type="text" class="clearfix btn-block" name="name"  maxlength="35" placeholder="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                <label class="clearfix btn-block">Address Line 2</label>
                                <input id="txtAddress2" type="text" class="clearfix btn-block" name="name" maxlength="35" placeholder="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                <label class="clearfix btn-block">Address Line 3</label>
                                <input type="text" id="txtAddress3" class="clearfix btn-block" name="name" maxlength="35" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="insdt" style="display: none"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-next">
                        <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose cancelclosedes marg-left10 mar-bot-10 cancel22">Cancel</button>
                        <button type="button" id="btnAdd" class="btn btn-primary pull-right saveandaddmore mar-bot-10">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- end add set-->
        <div id="locationTbl" style="min-height: 400px;">
            <div class="preloader">
                <img src="UIAssets/css/images/loader.gif" />
                loading...
            </div>
        </div>
    </div>
    <!--dashbaordset team Leaves--->
</div>
<!--dashbaordset first part--->

<script id="dataTemplate" type="text/html">
    <div id="div${LocationCode}" class="contentset clearfix topteamleaves clearfix padd-top0 padd-bottom0 teamleaves-trans">
        <div class="box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix tablesshover">
            <div class="padd-top-bottom10 clearfix">
                <div class="row-edit hideshow">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                         <span id="lblLocationCode${LocationCode}">${LocationCode}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                           <span id="lblLocationDesc${LocationCode}">${LocationDesc}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                         <span id="lblStateCode${LocationCode}">${StateCode}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <span id="lblWeeklyOff1${LocationCode}">
                    {{if String(WeeklyOff1)=='None'}}
                        ${WeeklyOff1}
                    {{else}}
                        {{if String(WeekNos1).length == 9}}
                          {{html String(WeeklyOff1).substr(0,3) }}- all
                        {{else}}
                          {{html String(WeeklyOff1).substr(0,3) }} -<small>{{html splitStr(WeekNos1,',')}}</small> 
                        {{/if}}
                    {{/if}}
                            </span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span id="lblWeeklyOff2${LocationCode}">   {{if String(WeeklyOff2)=='None'}}
                         ${WeeklyOff2}
                        {{else}}
                            {{if String(WeekNos2).length == 9}}
                              {{html String(WeeklyOff2).substr(0,3) }}- all
                            {{else}}
                              {{html String(WeeklyOff2).substr(0,3) }} - <small>{{html splitStr(WeekNos2,',')}}</small>
                        {{/if}}
                    {{/if}}</span>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <span id="lblIsESI${LocationCode}">{{html Boolean(IsESI)==true ? 'Yes':'No'}}</span>

                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
               <!--     <a row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" href="#editcollpase${LocationCode}" class="edit-btn card-edit-btn pull-right  deletrow padd-left-15"
                            title="Delete">
                            <i class="icon-icon-delete"></i>
                        </a>  -->                        
                                     
            {{if Boolean(IsActive)==true}}<!--<i class="icon-check-circle font-size-15 text-success font-size-15"></i>-->
            <a row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" href="#editcollpase${LocationCode}" row-status="false" class="edit-btn card-edit-btn pull-right  deletrow padd-left-15"
                            title="click here to inactive"><span class="icon-check-circle font-size-15 text-success"></span></a>  
            {{else}}<!--<i class="icon-cancel text-danger font-size-15 font-size-15"></i>-->
            <a row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" href="#editcollpase${LocationCode}" row-status="true" class="edit-btn card-edit-btn pull-right  deletrow padd-left-15"
                            title="click here to active"><span class="icon-cancel text-danger font-size-15"></span></a>  
            {{/if}}
                        
                         <a data-toggle="collapse" data-parent="#accordion" row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" href="#editcollpase${LocationCode}" class="edit-btn pull-right card-edit-btn editrow collapseanchor edit-load"
                            title="Edit">
                            <i class="icon-edit"></i>
                        </a> 
                    </div>
                </div>
                <div class="inline-action hide-show">
                </div>
            </div>
        </div>
        <!-- edit set -->
        <div class="clearfix panel-collapse divcollapse collapse  col-lg-12 col-md-12 col-sm-12 col-xs-12 teamleaves-bg" aria-expanded="false" id="editcollpase${LocationCode}">
            <form id="Location${LocationCode}" name="Location" runat="server">
                <div class="padd-top9">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Location Code</label>
                        <input id="txtLocationCode${LocationCode}" disabled="disabled" readonly type="text" name="name" value="${LocationCode}" class="clearfix btn-block" placeholder="Location Code">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Description<sup class="text-danger">*</sup></label>
                        <input id="txtLocationDesc${LocationCode}"  maxlength="30" type="text" name="name" value="${LocationDesc}" class="clearfix btn-block" placeholder="Description">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="clearfix btn-block">State<sup class="text-danger">*</sup></label>
                                <select id="ddlState${LocationCode}"  row-index="{{html String(LocationCode).replace(/&/gi, '-')}}"  class="clearfix selectwidthheight ddl-state">
                                    loading...
                                </select>
                                <input type="hidden" id="hfStateCode${LocationCode}" value="${StateCode}" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="clearfix btn-block">&nbsp;</label>
                                <input id="txtState${LocationCode}" readonly type="text" class="clearfix btn-block" name="name" value="${StateCode}" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Weekly Off 1</label>
                        <select id="ddlWO1${LocationCode}" row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" class="clearfix selectwidthheight wo-ddl">
                            <option value="None">None</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                        <input type="hidden" id="hfWO1${LocationCode}" value="${WeeklyOff1}" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        {{each(i, data) WeekNos1List}}
                        {{if String(data.Key)=='1' && Boolean(data.Value)==true  || String(data.Key)=='2' && Boolean(data.Value)==true || String(data.Key)=='3' && Boolean(data.Value)==true || String(data.Key)=='4' && Boolean(data.Value)==true || String(data.Key)=='5' && Boolean(data.Value)==true}}
                            <label class="checkbox-inline checkboxinline">
                                {{html replaceStr(String(data.Key))}}<br />
                                <input id="chkWO1${data.Key}${LocationCode}" type="checkbox" value="${data.Key}" class="chkWO1${LocationCode}" checked name="optradio">
                            </label>
                        {{else}}
                           <label class="checkbox-inline checkboxinline">
                               {{html replaceStr(String(data.Key))}}<br />
                               <input id="chkWO1${data.Key}${LocationCode}" type="checkbox" value="${data.Key}" class="chkWO1${LocationCode}" name="optradio">
                           </label>
                        {{/if}}
                    {{/each}}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Profession Tax file name</label>
                        <select id="ddlPTF${LocationCode}" class="clearfix selectwidthheight ddl-ptf">
                           loading...
                        </select>
                        <input type="hidden" id="hfPTF${LocationCode}" value="${PTFileName}" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">PT Account No.</label>
                        <select id="ddlPT${LocationCode}" class="clearfix selectwidthheight ddl-pt">
                             loading...
                        </select>
                        <input type="hidden" id="hfPTRegNo${LocationCode}" value="${PTRegNo}" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">Weekly Off 2</label>
                        <select id="ddlWO2${LocationCode}" row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" class="clearfix selectwidthheight wo-ddl">
                            <option value="None">None</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                        <input type="hidden" id="hfWO2${LocationCode}" value="${WeeklyOff2}" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        {{each(i, data) WeekNos2List}}
                        {{if String(data.Key)=='1' && Boolean(data.Value)==true  || String(data.Key)=='2' && Boolean(data.Value)==true || String(data.Key)=='3' && Boolean(data.Value)==true || String(data.Key)=='4' && Boolean(data.Value)==true || String(data.Key)=='5' && Boolean(data.Value)==true}}
                            <label class="checkbox-inline checkboxinline">
                                {{html replaceStr(String(data.Key))}}<br />
                                <input id="chkWO2${data.Key}${LocationCode}" value="${data.Key}" type="checkbox"  class="chkWO2${LocationCode}" checked name="optradio">
                            </label>
                        {{else}}
                           <label class="checkbox-inline checkboxinline">
                               {{html replaceStr(String(data.Key))}}<br />
                               <input id="chkWO2${data.Key}${LocationCode}" value="${data.Key}" type="checkbox"  class="chkWO2${LocationCode}" name="optradio">
                           </label>
                        {{/if}}
                    {{/each}}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">LWF Account No.</label>
                        <select id="ddlLWF${LocationCode}" class="clearfix selectwidthheight ddl-lw">
                             loading...
                        </select>
                        <input type="hidden" id="hfLWFRegNo${LocationCode}" value="${LWFRegNo}" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                        <label class="clearfix btn-block">&nbsp;</label>
                        <label class="">
                            {{if Boolean(IsESI)==true}}
                    <input id="chkESI${LocationCode}" type="checkbox"  row-index="${LocationCode}" checked class="chkESI">
                            {{else}}
                    <input id="chkESI${LocationCode}" type="checkbox" row-index="${LocationCode}" class="chkESI" />
                            {{/if}}
                    <span>ESI Applicable</span>
                        </label>
                    </div>
                    <div class="clearfix"></div>                     
                    <div id="ESI-Wripper${LocationCode}" {{if Boolean(IsESI) == true}}style="display:block;" {{else}}style="display:none;"{{/if}} >                       
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group ">
                            <label class="clearfix btn-block">ESI Account No.</label>
                            <select id="ddlESI${LocationCode}" class="clearfix selectwidthheight ddl-esi">
                                 loading...
                            </select>
                            <input type="hidden" id="hfESIRegNo${LocationCode}" value="${ESIRegNo}" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 form-group">
                            <label class="clearfix btn-block">ESI Office</label>
                            <input type="text" id="txtESIOffice${LocationCode}"  maxlength="35" value="${ESIOffice}" class="clearfix btn-block" name="name" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Address Line 1</label>
                            <input type="text" id="txtAddress1${LocationCode}"  maxlength="35" value="${Address1}"  class="clearfix btn-block" name="name" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Address Line 2</label>
                            <input type="text" id="txtAddress2${LocationCode}"  maxlength="35" value="${Address2}"  class="clearfix btn-block" name="name" placeholder="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                            <label class="clearfix btn-block">Address Line 3</label>
                            <input id="txtAddress3${LocationCode}" type="text"  maxlength="35" value="${Address3}"  class="clearfix btn-block" name="name" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="insdt" style="display: none"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-next">
                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 mar-bot-10 cancelclosedes cancel22">Cancel</button>
                    <button type="button" row-index="{{html String(LocationCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right saveandaddmore mar-bot-10 btnsave">Save</button>
                </div>
            </form>
        </div>
        <!-- end edit set -->
    </div>
</script>

<script id="ddlTemplate" type="text/html">
    <option value="${RegNo}">${RegNo}</option>
</script>
<script id="stateTemplate" type="text/html">
    <option value="${StateCode}">${StateDesc}</option>
</script>
<script id="ptfTemplate" type="text/html">
    <option value="${PTFileName}">${PTFileName}</option>
</script>
