﻿<div class="card-item">
    <div class="clearfix card">
    
     <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" >
                <div class="title padd-left-15">
                  
                    <h3>Manage Mediclaim Details</h3>
                    <span style="display: none" id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div id='3' class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix" >
                <div class="clearfix text-right">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search Relations">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='4' class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix" style="display:none">
                <div class="clearfix text-right">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch1" class="form-control" placeholder="Search Grade">
                                <span class="input-group-btn">
                                    <button id="btnSearch1" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <ul class="tabs pull-left" style="width:100%">
    <li id="1" class="active selected"><a data-toggle="tab" href="#Div1">Applicable Relations</a></li>
    <li id="2"><a data-toggle="tab" href="#Div2">Grade Wise Sum Insured</a></li>
  </ul> 
        <div class="tab-content">
            <div class="clearfix tab-pane active" id="Div1">
                <input type="hidden" id="hidEmpNo" runat="server" />
                <input type="hidden" id="hidEmpToken" runat="server" />
                <div id="divscroll">
                    <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                        <thead class="thead-default">
                            <tr class="accordion-toggle accordiontoggle">
                                <th class="col-md-6 padd-left-30 tb1" style="">Name </th>
                                <th class="text-left col-md-2">Allow for Mediclaim</th>
                                <th class="text-left col-md-3"></th>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="demow">
                                        <form id="form2" name="Event" runat="server">
                                            <table class="table greycolortable">
                                                <tr>
                                                    <td class="text-left col-md-3 padd-left-30">
                                                        <label class="clearfix btn-block">Grade Code<sup class="text-danger">*</sup></label>
                                                        <input id="txtGrade" required="required" maxlength="3" type="text" class="clearfix" />
                                                    </td>
                                                    <td class="text-left col-md-6">
                                                        <label class="clearfix btn-block">Grade Amount<sup class="text-danger">*</sup></label>
                                                        <input id="txtGradeDesc" maxlength="30" required="required" type="text" class="clearfix btn-block" />
                                                    </td>
                                                    <td class="text-right  col-md-3 padd-right-20">
                                                        <label class="clearfix btn-block">&nbsp;</label>
                                                        <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                        <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="divscroll" style="height: 400px; overflow: auto;">
                    <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                         <tbody id="tblRelation" class="tbodyheight">
                            <tr>
                                <td colspan="4">
                                    <div class="preloader">
                                        <img src="UIAssets/css/images/loader.gif" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix tab-pane" id="Div2">
                 <div id="div3">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                            <th class="col-md-3 padd-left-30" style="">Grade Code </th>
                            <th class="text-left col-md-4 padd-left-0">Grade Description</th>
                            <th class="text-left col-md-2 padd-left-0">Amount</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="Div4">
                                    <form id="form3" name="Category" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Grade Code<sup class="text-danger">*</sup></label>
                                                    <input id="txtCategoryCode" required="required" maxlength="2" type="text" class="clearfix" />
                                                </td>
                                                <td class="text-left col-md-4">
                                                    <label class="clearfix btn-block">Grade Description</label>
                                                    <input id="txtCategoryDesc" maxlength="30" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-left col-md-2">
                                                    <label>Amount<sup class="text-danger">*</sup></label>
                                                    <input type="checkbox" id="chkWODeduction" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="Button1" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="Button2" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
                <div class="divscroll" style="height: 400px; overflow: auto;">
                    <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                        <tbody id="tblGrade" class="tbodyheight">
                            <tr>
                                <td colspan="4">
                                    <div class="preloader">
                                        <img src="UIAssets/css/images/loader.gif" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#2").click(function () {
            $("#1").removeClass('selected');
            $("#3").css({ display: "none" });
            $("#2").addClass('selected');
            $("#4").css({ display: "" });
         //   $("#tblGrade").css({ display: "" });
         //   $("#tblRelation").css({ display: "none" });
        });
        $("#1").click(function () {
            $("#2").removeClass('selected');
            $("#4").css("display", "none");
            $("#1").addClass('selected');
            $("#3").css("display", "");
          //  $("#tblGrade").css({ display: "none" });
          //  $("#tblRelation").css({ display: "" });
        });
    });

</script>



<script id="dataTemplate" type="text/html">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblCode{{html String(Code).replace(/&/gi, '-')}}" class="hidden">${Code}</td>
        <td id="lblEventDetails{{html String(Code).replace(/&/gi, '-')}}" class="text-left col-md-6 vSDesc padd-left-30">${Name}</td>
        <td id="lblchkIsApplicable${Code}" class="text-left col-md-2 vchkWO">{{html Boolean(AllowForMediclaim) == true ? 'Yes' : 'No'}}</td>
        <td class="text-right  col-md-3 padd-right-50">
            <a data-toggle="collapse" data-target="#sec1{{html String(Code).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse d1" id="sec1{{html String(Code).replace(/&/gi, '-')}}">
                <form id="form1" name="Event" runat="server">
                    <table class="table greycolortable">
                        <tbody>
                            <tr>
                                <td class="hidden"><input type="hidden" id="txtCode{{html String(Code).replace(/&/gi, '-')}}" value="${Code}" /></td>
                                <td class="text-left col-md-6 padd-left-30">
                                    <label class="clearfix btn-block">Name</label>
                                    <input id="txtEventDetails{{html String(Code).replace(/&/gi, '-')}}" readonly disabled="disabled" type="text" class="clearfix btn-block eSDesc" value="${Name}"></td>
                                <td class="text-left col-md-2">
                            <label>Applicable</label><br />
                                {{if Boolean(AllowForMediclaim) == true}}
                            <input id="chkIsApplicable${Code}" checked type="checkbox" class="echkWO" />
                                {{else}}
                            <input id="chkIsApplicable${Code}" type="checkbox" class="echkWO" />
                                {{/if}}                        
                            </td>
                                <td class="text-right col-md-3  padd-right-20">
                                    <label class="clearfix btn-block">&nbsp;</label>
                                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                    <button type="button" row-index="{{html String(Code).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>

<script id="dataTemplate1" type="text/html">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblCode1${GradeCode}" class="text-left col-md-3 padd-left-30">${GradeCode}</td>
        <td id="lblDesc1${GradeCode}" class="text-left col-md-4 padd-left-0">${GradeDesc}</td>
        <td id="lblLimit${GradeCode}" class="text-left col-md-2 padd-left-0">${Limit}</td>
        
        <td class="text-right col-md-3">
            <a data-toggle="collapse" data-target="#sec{{html String(GradeCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(GradeCode).replace(/&/gi, '-')}}">
                <form id="form4" name="Category" runat="server">
                    <table class="table greycolortable">
                        <tr>
                            <td class="text-left col-md-3 padd-left-30">
                                <label class="clearfix btn-block">Grade Code</label>
                                <input readonly id="txtGradeCode${GradeCode}" type="text" disabled="disabled" class="clearfix eOCode" value="${GradeCode}" />
                            </td>
                            <td class="text-left col-md-4">
                                <label class="clearfix btn-block">Grade Description</label>
                                <input readonly id="txtGradeDesc${GradeCode}" type="text" disabled="disabled" class="clearfix eOCode" value="${GradeDesc}" />
                            </td>

                            <td class="text-left col-md-2">
                                <label class="clearfix btn-block">Amount<sup class="text-danger">*</sup></label>
                                <input id="txtGradeAmt${GradeCode}" type="text" maxlength="12" required="required" class="clearfix btn-block eODesc" value="${Limit}" />
                            </td>
                            <td class="text-right  col-md-3">
                                <label class="clearfix btn-block">&nbsp;</label>
                                <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                <button type="button" row-index="{{html String(GradeCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>