﻿<div class="card-item">
    <div class="clearfix card">
        <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15">
                    <!--    <span class=" icon-settings"></span>-->
                    <h3>Payroll Group</h3>
                    <span style="display:none"  id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                 <!--   <a data-toggle="collapse" data-target="#demow" href="javascript:void(0);" class="collapseanchor btn btn-primary marg-left10  pull-right"
                        title="Add PayrollGroup">Add Payroll Group
                    </a>-->
                    <!--<button id="btnExport" type="button" class="btn btn-primary withoutbg marg-left10 pull-right">Download</button>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search status">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <input type="hidden" id="hidEmpNo" runat="server" />
            <input type="hidden" id="hidEmpToken" runat="server" />
            <div id="divscroll">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                            <th class="col-md-3 padd-left-30 tb1" style="">Payroll Code </th>
                            <th class="text-left col-md-6 padd-left-0">Payroll Name</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demow">
                                    <form id="form2" name="Payroll Group" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Payroll Code</label>
                                                    <input id="txtPayrollCode" required="required" maxlength="2" type="text" class="clearfix" />
                                                </td>
                                                <td class="text-left col-md-6">
                                                    <label class="clearfix btn-block">Payroll Name</label>
                                                    <input id="txtName" maxlength="30" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="divscroll" style="height: 400px; overflow: auto;">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <tbody id="tblPayrollGroup" class="tbodyheight">
                        <tr>
                            <td colspan="4">
                                <div class="preloader">
                                    <img src="UIAssets/css/images/loader.gif" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="dataTemplate" type="text/html">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblPayrollCode${PayrollCode}" class="text-left col-md-3 padd-left-30 vSCode">${PayrollCode}</td>
        <td id="lblName${PayrollCode}" class="text-left col-md-6 vSDesc">${Name}</td>
        <td class="text-right  col-md-3 padd-right-20">
            <a data-toggle="collapse" data-target="#sec{{html String(PayrollCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
            <!--<a href="javascript:void(0);" row-index="{{html String(PayrollCode).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn deletrow padd-left-20" title="Delete"><span class="icon-icon-delete"></span></a>-->
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(PayrollCode).replace(/&/gi, '-')}}">
                <form id="PayrollGroup{{html String(PayrollCode).replace(/&/gi, '-')}}" name="PayrollGroup" runat="server">
                    <table class="table greycolortable">
                        <tbody>
                            <tr>
                                <td class="text-left col-md-3 padd-left-30">
                                    <label class="clearfix btn-block">Payroll Code</label>
                                    <input id="txtPayrollCode{{html String(PayrollCode).replace(/&/gi, '-')}}" maxlength="2" readonly  disabled="disabled" type="text" class="clearfix eSCode" value="${PayrollCode}"></td>
                                <td class="text-left col-md-6">
                                    <label class="clearfix btn-block">Payroll Name<sup class="text-danger">*</sup></label>
                                    <input id="txtName{{html String(PayrollCode).replace(/&/gi, '-')}}" maxlength="50" type="text" required="required" class="clearfix btn-block eSDesc" value="${Name}"></td>
                                <td class="text-right col-md-3  padd-right-20">
                                    <label class="clearfix btn-block">&nbsp;</label>
                                    <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                    <button type="button" row-index="{{html String(PayrollCode).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>
