﻿<div class="card-item">
    <div class="clearfix card">
        <div class="card-head clearfix paddtopbot15">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="title padd-left-15">
                <!--    <span class=" icon-settings"></span>-->
                    <h3>Manage Relations</h3>       <span style="display:none"  id="spanCount">-</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 clearfix">
                <div class="clearfix text-right">
                    <a data-toggle="collapse" data-target="#demow" href="javascript:void(0);" class="collapseanchor btn btn-primary marg-left10  pull-right"
                        title="Add Relation">Add Relation
                    </a>
                    <!--<button id="btnExport" type="button" class="btn btn-primary withoutbg marg-left10 pull-right">Download</button>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix padd-right0  pull-right">
                        <div class="inline-block">
                            <div class="input-group ">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search Relation">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-secondary" type="button">Go !</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <input type="hidden" id="hidEmpNo" runat="server" />
            <input type="hidden" id="hidEmpToken" runat="server" />
            <div id="divscroll">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <thead class="thead-default">
                        <tr class="accordion-toggle accordiontoggle">
                            <th class="col-md-3 padd-left-30" style="">Relation Code </th>
                            <th class="text-left col-md-4 padd-left-0">Name</th>
                            <th class="text-left col-md-2 padd-left-0">Applicable</th>
                            <th class="text-left col-md-3"></th>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demow">
                                    <form id="form2" name="relation" runat="server">
                                        <table class="table greycolortable">
                                            <tr>
                                                <td class="text-left col-md-3 padd-left-30">
                                                    <label class="clearfix btn-block">Relation Code<sup class="text-danger">*</sup></label>
                                                    <input id="txtRelationCode" maxlength="2" type="text" class="clearfix" />
                                                </td>
                                                <td class="text-left col-md-4">
                                                    <label class="clearfix btn-block">Name<sup class="text-danger">*</sup></label>
                                                    <input id="txtRelationDesc" maxlength="30" required="required" type="text" class="clearfix btn-block" />
                                                </td>
                                                <td class="text-left col-md-2">
                                                    <label>Applicable</label><br />
                                                    <input type="checkbox" id="chkWODeduction" />
                                                </td>
                                                <td class="text-right  col-md-3 padd-right-20">
                                                    <label class="clearfix btn-block">&nbsp;</label>
                                                    <button type="reset" id="btnAddCancel" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                                    <button id="btnAdd" type="button" class="btn btn-primary pull-right">Save</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="divscroll" style="height: 400px; overflow: auto;">
                <table class="table mar-bot0 table-hover" style="border-collapse: collapse;">
                    <tbody id="tblRelation" class="tbodyheight tb1">
                        <tr>
                            <td colspan="4">
                                <div class="preloader">
                                    <img src="UIAssets/css/images/loader.gif" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="dataTemplate" type="text/html">
    <tr class="accordion-toggle accordiontoggle">
        <td id="lblRelationCode${Code}" class="text-left col-md-3 padd-left-30 vOCode">${Code}</td>
        <td id="lblRelationDesc${Code}" class="text-left col-md-4 vODesc">${Name}</td>
        <td id="lblchkIsApplicable${Code}" class="text-left col-md-2 vchkWO">{{html Boolean(IsActive) == true ? 'Yes' : 'No'}}</td>
        <td class="text-right  col-md-3 padd-right-50">
            <a data-toggle="collapse" data-target="#sec{{html String(Code).replace(/&/gi, '-')}}" class="edit-btn card-edit-btn editrow collapseanchor" title="Edit"><i class="icon-edit"></i></a>
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="sec{{html String(Code).replace(/&/gi, '-')}}">
                <form id="form1" name="Category" runat="server">
                    <table class="table greycolortable">
                        <tr>
                            <td class="text-left col-md-3 padd-left-30">
                                <label class="clearfix btn-block">Relation Code</label>
                                <input id="txtRelationCode${Code}" readonly disabled="disabled" type="text" class="clearfix eOCode" value="${Code}" />
                            </td>
                            <td class="text-left col-md-4">
                                <label class="clearfix btn-block">Name<sup class="text-danger">*</sup></label>
                                <input id="txtRelationDesc${Code}" type="text" maxlength="30" required="required" class="clearfix btn-block eODesc" value="${Name}" />
                            </td>
                            <td class="text-left col-md-2">
                            <label>Applicable</label><br />
                                {{if Boolean(IsActive) == true}}
                            <input id="chkIsApplicable${Code}" checked type="checkbox" class="echkWO" />
                                {{else}}
                            <input id="chkIsApplicable${Code}" type="checkbox" class="echkWO" />
                                {{/if}}                        
                            </td>
                            <td class="text-right  col-md-3  padd-right-20">
                                <label class="clearfix btn-block">&nbsp;</label>
                                <button type="reset" class="btn btn-primary pull-right withoutbg cancelclose marg-left10 cancelclosedes">Cancel</button>
                                <button type="button" row-index="{{html String(Code).replace(/&/gi, '-')}}" class="btn btn-primary pull-right btnsave">Save</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</script>