/* Telerik RadAjaxLoadingPanel Office2010Silver Skin */

.RadAjax_Office2010Silver .raDiv
{
	background-image:url('Ajax/loading.gif');
}

.RadAjax_Office2010Silver .raColor
{
	background-color:#d8dee3;
	color: #3b3b3b;
}

.RadAjax_Office2010Silver .raTransp
{
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha(opacity=70);
}