/*Telerik RadCalendar Office2010Silver skin*/

table.RadCalendar_Office2010Silver
{
	background:#dbdfe4;
	font:12px "segoe ui",arial,sans-serif;
	color:#3b3b3b;
}

/*titlebar*/

.RadCalendar_Office2010Silver .rcTitlebar
{
	border-color:#a4abb2;
	background:#dadde0 0 -1000px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Office2010Silver .rcTitlebar td
{
	padding:0 0 2px;
}

.RadCalendar_Office2010Silver .rcTitlebar .rcPrev,
.RadCalendar_Office2010Silver .rcTitlebar .rcNext,
.RadCalendar_Office2010Silver .rcTitlebar .rcFastPrev,
.RadCalendar_Office2010Silver .rcTitlebar .rcFastNext
{
	width:17px;
	height:17px;
	margin:1px 2px 0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	color:#ccc;
}

.RadCalendar_Office2010Silver .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_Office2010Silver .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Office2010Silver .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Office2010Silver .rcTitlebar a.rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Office2010Silver .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Office2010Silver .rcTitlebar a.rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Office2010Silver .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_Office2010Silver .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcFastPrev,
.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcPrev,
.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcNext,
.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcFastNext
{
    height: 19px;
    width: 19px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcFastPrev
{
	background-position:0 -199px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -605px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcPrev
{
	background-position:1px -299px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar a.rcPrev:hover
{
	background-position:0 -663px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcNext
{
	background-position:1px -399px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar a.rcNext:hover
{
	background-position:0 -721px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar .rcFastNext
{
	background-position:2px -499px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -779px;
}

.RadCalendar_Office2010Silver .rcMain
{
	border-color:#a4abb2;
}

.RadCalendar_Office2010Silver .rcMainTable
{
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Office2010Silver .rcHeader,
.RadCalendar_Office2010Silver .rcFooter
{
	border-color:#688caf;
}

/*week numbers and days*/

.RadCalendar_Office2010Silver .rcWeek th
{
    border-top:1px solid #a4abb2;
	border-bottom:1px solid #a4abb2;
	padding:2px 6px 2px 0;
	background-color:#ccd2d9;
}

.RadCalendar_Office2010Silver .rcWeek .rcViewSel,
.RadCalendar_Office2010Silver .rcRow th
{
	width:12px;
	padding:0 7px 0 9px;
	background:#ccd2d9;
}

/*date cells*/

.RadCalendar_Office2010Silver .rcRow td
{
	border-color:#dbdfe4;
}

.RadCalendar_Office2010Silver .rcMain .rcRow a,
.RadCalendar_Office2010Silver .rcMain .rcRow span
{
	color:#3b3b3b;
}

.RadCalendar_Office2010Silver .rcMain .rcWeekend a
{
	color:#444;
}

.RadCalendar_Office2010Silver .rcRow .rcToday
{
	background:100% -1400px url('Calendar/sprite.gif') no-repeat;
}
._Telerik_Opera11 .RadCalendar_Office2010Silver .rcRow .rcToday
{
	background-position:-14px -1399px;
}

.RadCalendar_Office2010Silver .rcMain .rcOtherMonth a
{
	color:#bfbfbf;
}

.RadCalendar_Office2010Silver .rcMain .rcOutOfRange span
{
	color:#bfbfbf;
}

.RadCalendar_Office2010Silver .rcRow .rcSelected
{
	background:100% -1700px no-repeat url('Calendar/sprite.gif');
}
._Telerik_Opera11 .RadCalendar_Office2010Silver .rcRow .rcSelected
{
	background-position:-14px -1699px;
}

.RadCalendar_Office2010Silver .rcRow .rcHover
{
	background:100% -1600px no-repeat url('Calendar/sprite.gif');
}
._Telerik_Opera11 .RadCalendar_Office2010Silver .rcRow .rcHover
{
	background-position:-14px -1599px;
}

.RadCalendar_Office2010Silver .rcRow .rcHover,
.RadCalendar_Office2010Silver .rcRow .rcHover a,
.RadCalendar_Office2010Silver .rcRow .rcSelected,
.RadCalendar_Office2010Silver .rcRow .rcSelected a
{
	color:#000;
}

/*multimonth view*/

.RadCalendarMultiView_Office2010Silver .rcTitlebar
{
	background:#dadde0 0 -2200px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar table
{
	line-height:27px;
}

.RadCalendarMultiView_Office2010Silver .rcTitlebar td
{
	padding-bottom:1px;
}

.RadCalendarMultiView_Office2010Silver .rcCalendar
{
	border-color:#a4abb2;
	border-top:0;
}

.RadCalendarMultiView_Office2010Silver .rcCalendar .rcMainTable
{
	height:195px;
}

.RadCalendarMultiView_Office2010Silver .rcMainTable .rcTitle
{
	border-color:#a4abb2;
	padding:0 0 2px;
	background:#dadde0 0 -1000px repeat-x url('Calendar/sprite.gif');
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Office2010Silver
{
	border-color:#868686;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

.RadCalendarMonthView_Office2010Silver #rcMView_Feb,
.RadCalendarMonthView_Office2010Silver #rcMView_Apr,
.RadCalendarMonthView_Office2010Silver #rcMView_Jun,
.RadCalendarMonthView_Office2010Silver #rcMView_Aug,
.RadCalendarMonthView_Office2010Silver #rcMView_Oct,
.RadCalendarMonthView_Office2010Silver #rcMView_Dec
{
	border-right:1px solid #9ebfdb;
}

.RadCalendarMonthView_Office2010Silver a
{
	color:#000;
}

.RadCalendarMonthView_Office2010Silver .rcSelected a
{
	border-color:#c28b31 #c29a42 #c2a34c;
	background:#feed76 0 -1800px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMonthView_Office2010Silver #rcMView_PrevY a,
.RadCalendarMonthView_Office2010Silver #rcMView_NextY a
{
	width:15px;
	height:13px;
	overflow:hidden;
	background-image:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendarMonthView_Office2010Silver #rcMView_PrevY a
{
	background-position:3px -200px;
}

.RadCalendarMonthView_Office2010Silver #rcMView_NextY a
{
	background-position:4px -500px;
}

.RadCalendarMonthView_Office2010Silver .rcButtons
{
	padding:5px 7px 3px;
}

.RadCalendarMonthView_Office2010Silver input
{
	border-color:#a4abb2;
	padding:1px 0 0;
	background:#dbdde1 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#3b3b3b;
	font:12px "segoe ui",arial,sans-serif;
}

/*IE7 performance issue*/
/*.RadCalendarMonthView_Office2010Silver input:hover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background-color:#ffe18a;
	background-position:0 -2350px;
	color:#000;
}*/

/*time view*/

table.RadCalendarTimeView_Office2010Silver
{
	border-color:#9199a4;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Office2010Silver th
{
	border-bottom:1px solid #9eb6ce;
	padding:0 0 1px;
	background:#dadde0 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#3b3b3b;
	line-height:23px;
}

table.RadCalendarTimeView_Office2010Silver td
{
	border-color:#9199a4;
}

.RadCalendarTimeView_Office2010Silver a
{
	color:#000;
}

.RadCalendarTimeView_Office2010Silver td.rcSelected a
{
	border-color:#c28b31 #c29a42 #c2a34c;
	background:#feed76 0 -1800px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarTimeView_Office2010Silver td.rcHover a
{
	border-color:#f7c840;
	background:#fff3c8 0 -1900px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarTimeView_Office2010Silver .rcFooter
{
	border-color:#688caf;
}

/*pickers*/

.RadPicker_Office2010Silver .rcCalPopup,
.RadPicker_Office2010Silver .rcTimePopup
{
	background-image:url('Calendar/sprite.gif');
}

.RadPicker_Office2010Silver .rcCalPopup,
.RadPicker_Office2010Silver a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Office2010Silver a.rcCalPopup:hover,
.RadPicker_Office2010Silver a.rcCalPopup:focus,
.RadPicker_Office2010Silver a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Office2010Silver .rcTimePopup,
.RadPicker_Office2010Silver a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Office2010Silver a.rcTimePopup:hover,
.RadPicker_Office2010Silver a.rcTimePopup:focus,
.RadPicker_Office2010Silver a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_Office2010Silver .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar a.rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar a.rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Office2010Silver .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -250px;
}