/* <RadMenu / Office2010Silver> */
.RadMenu_Office2010Silver .rmRootGroup,
.RadMenu_Office2010Silver a.rmLink,
.RadMenu_Office2010Silver .rmText,
.RadMenu_Office2010Silver .rmLeftArrow,
.RadMenu_Office2010Silver .rmRightArrow,
.RadMenu_Office2010Silver .rmTopArrow,
.RadMenu_Office2010Silver .rmBottomArrow {
  background-image: url('Menu/rmSprite.png');
  background-color: transparent; }

.RadMenu_Office2010Silver .rmRootGroup {
  border: 1px solid #a4abb2;
  background-repeat: repeat-x;
  background-position: 0 -408px;
  background-color: #edeff2; }

/* <Root items> */
.RadMenu_Office2010Silver,
.RadMenu_Office2010Silver a.rmLink {
  font: normal 12px/23px "Segoe UI", Arial, sans-serif;
  color: #3b3b3b;
  text-decoration: none; }

.RadMenu_Office2010Silver a.rmLink,
.RadMenu_Office2010Silver .rmText {
  background-position: 0 1050px;
  background-repeat: no-repeat; }

.RadMenu_Office2010Silver a.rmLink:hover,
.RadMenu_Office2010Silver a.rmFocused,
.RadMenu_Office2010Silver a.rmSelected {
  color: #000;
  background-position: 0 -72px; }

.RadMenu_Office2010Silver a.rmLink:hover .rmText,
.RadMenu_Office2010Silver a.rmFocused .rmText,
.RadMenu_Office2010Silver a.rmSelected .rmText {
  background-position: 100% -96px; }

.RadMenu_Office2010Silver a.rmExpanded,
.RadMenu_Office2010Silver a.rmExpanded:hover {
  color: #000;
  background-position: 0 -120px; }

.RadMenu_Office2010Silver a.rmExpanded .rmText,
.RadMenu_Office2010Silver a.rmExpanded:hover .rmText {
  background-position: 100% -144px; }

.RadMenu_Office2010Silver a.rmDisabled,
.RadMenu_Office2010Silver a.rmDisabled:hover {
  color: #a4abb2; }

.RadMenu_Office2010Silver a.rmDisabled:hover,
.RadMenu_Office2010Silver a.rmDisabled:hover .rmText {
  background: none; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_Office2010Silver .rmGroup,
.RadMenu_Office2010Silver .rmMultiColumn,
.RadMenu_Office2010Silver .rmGroup .rmVertical {
  border: 1px solid #9aa0a6;
  background: white url('Menu/rmVSprite.png') repeat-y -1px 0; }

.RadMenu_Office2010Silver .rmTopFix,
.RadMenu_Office2010Silver .rmBottomFix,
.RadMenu_Office2010Silver .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Office2010Silver_Context.rmRoundedCorners ul.rmHorizontal .rmFirst {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -4px 0; }

* html .rmRoundedCorners_Office2010Silver .rmGroup .rmItem,
* html .rmRoundedCorners_Office2010Silver ul.rmHorizontal .rmFirst {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -4px 0; }

.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrap .rmVertical
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Office2010Silver .rmHorizontal .rmItem,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_Office2010Silver .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_Office2010Silver .rmBottomLeft,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2010Silver_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Office2010Silver .rmRoundedCorners ul.rmGroup,
.RadMenu_Office2010Silver .rmRoundedCorners .rmMultiColumn {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer,
* html .rmRoundedCorners_Office2010Silver .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Office2010Silver ul.rmGroup {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Office2010Silver .rmTopRight,
.RadMenu_Office2010Silver .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Office2010Silver .rmTopFix,
.RadMenu_Office2010Silver .rmBottomFix,
.RadMenu_Office2010Silver .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Office2010Silver .rmGroup .rmFirst {
  border-color: #9aa0a6; }

.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Office2010Silver .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_Office2010Silver li.rmTopFix,
.RadMenu_Office2010Silver li.rmBottomFix {
  background-position: -5px 0; }

.RadMenu_Office2010Silver_rtl .rmBottomLeft,
.RadMenu_Office2010Silver_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Office2010Silver_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2010Silver .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Office2010Silver_Context_rtl ul.rmGroup,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer {
  background-image: url('Menu/rmRoundedLeft_rtl.png'); }

.RadMenu_Office2010Silver_rtl .rmTopRight,
.RadMenu_Office2010Silver_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_Office2010Silver_rtl li.rmTopFix,
.RadMenu_Office2010Silver_rtl li.rmBottomFix,
.RadMenu_Office2010Silver_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Office2010Silver_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_Office2010Silver .rmSlide .rmScrollWrap {
  background-image: none; }

.RadMenu_Office2010Silver_rtl .rmGroup,
.RadMenu_Office2010Silver_rtl .rmMultiColumn,
.RadMenu_Office2010Silver_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Office2010Silver .rmRootGroup .rmHorizontal {
  background-image: none; }

.RadMenu_Office2010Silver .rmScrollWrap .rmVertical {
  border: 0; }

.RadMenu_Office2010Silver .rmGroup .rmFirst,
.RadMenu_Office2010Silver .rmGroup .rmLast,
.RadMenu_Office2010Silver .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Office2010Silver_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Office2010Silver .rmScrollWrapContainer li.rmItem {
  background: none; }

.RadMenu_Office2010Silver .rmGroup .rmLast {
  padding-bottom: 1px; }

.RadMenu_Office2010Silver .rmGroup a.rmLink:hover,
.RadMenu_Office2010Silver .rmGroup a.rmFocused,
.RadMenu_Office2010Silver .rmGroup a.rmSelected,
.RadMenu_Office2010Silver .rmGroup a.rmExpanded {
  background-position: 0 -168px; }

.RadMenu_Office2010Silver .rmGroup a.rmLink:hover .rmText,
.RadMenu_Office2010Silver .rmGroup a.rmFocused .rmText,
.RadMenu_Office2010Silver .rmGroup a.rmSelected .rmText,
.RadMenu_Office2010Silver .rmGroup a.rmExpanded .rmText {
  background-position: 100% -192px; }

/* <expand arrows> */
.RadMenu_Office2010Silver .rmVertical .rmExpandRight,
.RadMenu_Office2010Silver_Context .rmGroup .rmExpandRight,
.RadMenu_Office2010Silver .rmGroup .rmExpandDown {
  background-position: 100% -216px; }

.RadMenu_Office2010Silver .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2010Silver .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Office2010Silver .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Office2010Silver .rmVertical a.rmSelected .rmExpandLeft {
  background-image: url('Menu/rmRootExpand.png'); }

.RadMenu_Office2010Silver .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmFocused .rmExpandRight {
  background-position: 100% -2px; }

.RadMenu_Office2010Silver .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Office2010Silver .rmVertical a.rmExpanded:hover .rmExpandRight {
  background-position: 100% -29px; }

.RadMenu_Office2010Silver .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Office2010Silver .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Office2010Silver .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Office2010Silver .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Office2010Silver .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Office2010Silver .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Office2010Silver .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Office2010Silver .rmGroup a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -240px; }

.RadMenu_Office2010Silver .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Office2010Silver_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Office2010Silver_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Office2010Silver .rmGroup a.rmDisabled:hover .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -216px; }

/* </expand arrows> */
/* <rtl> */
.RadMenu_Office2010Silver_rtl a.rmLink:hover,
.RadMenu_Office2010Silver_rtl a.rmFocused,
.RadMenu_Office2010Silver_rtl a.rmSelected {
  background-position: 100% -96px; }

.RadMenu_Office2010Silver_rtl a.rmLink:hover .rmText,
.RadMenu_Office2010Silver_rtl a.rmFocused .rmText,
.RadMenu_Office2010Silver_rtl a.rmSelected .rmText {
  background-position: 0 -72px; }

.RadMenu_Office2010Silver_rtl a.rmExpanded,
.RadMenu_Office2010Silver_rtl a.rmExpanded:hover {
  background-position: 100% -144px; }

.RadMenu_Office2010Silver_rtl a.rmExpanded .rmText,
.RadMenu_Office2010Silver_rtl a.rmExpanded:hover .rmText {
  background-position: 0 -120px; }

.RadMenu_Office2010Silver_rtl .rmGroup a.rmLink:hover,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmFocused,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmSelected,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmExpanded {
  background-position: 100% -264px; }

.RadMenu_Office2010Silver_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmExpanded .rmText {
  background-position: 0 -288px; }

.RadMenu_Office2010Silver_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Office2010Silver_rtl .rmRootGroup .rmExpandLeft {
  background-position: 0 -312px; }

.RadMenu_Office2010Silver_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2010Silver_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Office2010Silver_rtl a.rmFocused .rmExpandLeft {
  background-position: 0 -2px; }

.RadMenu_Office2010Silver_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Office2010Silver_rtl a.rmExpanded:hover .rmExpandLeft {
  background-position: 0 -29px; }

.RadMenu_Office2010Silver_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Office2010Silver_rtl .rmGroup a.rmExpanded .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -336px; }

.RadMenu_Office2010Silver_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Office2010Silver_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </rtl> */
/* </Submenu items> */
/* <Submenu offsets (Office2010Silver - specific, overlapping submenus)> */
.RadMenu_Office2010Silver .rmSlide {
  margin: -3px 0 0 1px; }

.RadMenu_Office2010Silver .rmVertical .rmSlide,
.RadMenu_Office2010Silver .rmSlide .rmSlide,
.RadMenu_Office2010Silver_Context .rmGroup .rmSlide {
  margin: 0 0 0 -5px; }

.RadMenu_Office2010Silver_rtl .rmSlide {
  margin: -3px 0 0 -1px; }

.RadMenu_Office2010Silver_rtl .rmVertical .rmSlide,
.RadMenu_Office2010Silver_rtl .rmSlide .rmSlide,
.RadMenu_Office2010Silver_Context_rtl .rmGroup .rmSlide {
  margin: 0 0 0 5px; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Office2010Silver .rmLeftArrow,
.RadMenu_Office2010Silver .rmRightArrow {
  background-color: #ffffff; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Office2010Silver .rmLeftArrow,
.RadMenu_Office2010Silver .rmRightArrow {
  background-color: #f3f5f6; }

.RadMenu_Office2010Silver .rmLeftArrow {
  background-position: -8px -312px;
  border-right: 1px solid #9aa0a6; }

.RadMenu_Office2010Silver .rmRightArrow {
  background-position: -482px -216px;
  border-left: 1px solid #9aa0a6; }

.RadMenu_Office2010Silver .rmTopArrow,
.RadMenu_Office2010Silver .rmBottomArrow,
.RadMenu_Office2010Silver .rmGroup .rmLeftArrow,
.RadMenu_Office2010Silver .rmGroup .rmRightArrow {
  background-color: #ffffff; }

.RadMenu_Office2010Silver .rmTopArrow {
  background-position: 50% -367px;
  border-bottom: 1px solid #9aa0a6; }

.RadMenu_Office2010Silver .rmBottomArrow {
  background-position: 50% -391px;
  border-top: 1px solid #9aa0a6; }

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_Office2010Silver .rmVertical .rmSeparator .rmText,
.RadMenu_Office2010Silver .rmHorizontal .rmVertical .rmSeparator .rmText {
  background-position: 0 -406px; }

.RadMenu_Office2010Silver .rmHorizontal .rmSeparator .rmText,
.RadMenu_Office2010Silver .rmVertical .rmHorizontal .rmSeparator .rmText {
  background-position: 0 -386px; }

/* </Separators> */
/* </RadMenu / Office2010Silver> */

