.RadSlider_Office2010Silver {
  /* horizontal slider */
  /* end horizontal slider */
  /* vertical slider */
  /* end vertical slider */
  /* horizontal slider - TrackPosition=Top/Bottom */
  /* vertical slider - TrackPosition=Left/Right */
  /* horizontal slider - TrackPosition=Center */
  /* vertical slider - TrackPosition=Center */ }
  .RadSlider_Office2010Silver .rslTrack {
    border-color: #9aa0a6; }
  .RadSlider_Office2010Silver .rslTop a.rslDraghandle {
    background-image: url('Slider/DragHandleDown.gif'); }
  .RadSlider_Office2010Silver .rslHorizontal a.rslHandle {
    background-image: url('Slider/Handles.gif'); }
  .RadSlider_Office2010Silver .rslHorizontal a.rslDraghandle {
    background-image: url('Slider/DragHandle.gif'); }
  .RadSlider_Office2010Silver .rslHorizontal .rslTrack {
    background: url('Slider/TrackBgr.gif') repeat-x; }
  .RadSlider_Office2010Silver .rslHorizontal .rslSelectedregion {
    background: url('Slider/SelectedRegionHorizontalBgr.gif') right top no-repeat; }
  .RadSlider_Office2010Silver .rslHorizontal .rslItem {
    background-image: url('Slider/ItemHorizontalBgr.gif'); }
  .RadSlider_Office2010Silver .rslVertical a.rslHandle {
    background-image: url('Slider/HandlesVertical.gif'); }
  .RadSlider_Office2010Silver .rslVertical .rslTrack {
    background: url('Slider/TrackVerticalBgr.gif') repeat-y; }
  .RadSlider_Office2010Silver .rslVertical .rslSelectedregion {
    background: url('Slider/SelectedRegionVerticalBgr.gif') left bottom no-repeat; }
  .RadSlider_Office2010Silver .rslVertical a.rslDraghandle {
    background: url('Slider/DragVerticalHandle.gif') no-repeat; }
  .RadSlider_Office2010Silver .rslVertical .rslItem {
    background-image: url('Slider/ItemVerticalBgr.gif'); }
  .RadSlider_Office2010Silver .rslLeft a.rslDraghandle {
    background: url('Slider/DragVerticalHandleRight.gif') no-repeat; }
  .RadSlider_Office2010Silver .rslItem,
  .RadSlider_Office2010Silver .rslLargeTick span {
    color: #3b3b3b; }
  .RadSlider_Office2010Silver .rslItemsWrapper .rslItemSelected {
    color: #3b3b3b; }
  .RadSlider_Office2010Silver .rslTop .rslSmallTick,
  .RadSlider_Office2010Silver .rslBottom .rslSmallTick {
    background-image: url('Slider/SmallChangeHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslTop .rslLargeTick,
  .RadSlider_Office2010Silver .rslBottom .rslLargeTick {
    background-image: url('Slider/LargeChangeHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslLeft .rslSmallTick,
  .RadSlider_Office2010Silver .rslRight .rslSmallTick {
    background-image: url('Slider/SmallChangeVertical.gif'); }
  .RadSlider_Office2010Silver .rslLeft .rslLargeTick,
  .RadSlider_Office2010Silver .rslRight .rslLargeTick {
    background-image: url('Slider/LargelChangeVertical.gif'); }
  .RadSlider_Office2010Silver .rslMiddle .rslSmallTick {
    background-image: url('Slider/SmallChangeMiddleHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslLargeTick {
    background-image: url('Slider/LargeChangeMiddleHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslCenter .rslSmallTick {
    background-image: url('Slider/SmallChangeCenterVertical.gif'); }
  .RadSlider_Office2010Silver .rslCenter .rslLargeTick {
    background-image: url('Slider/LargelChangeCenterVertical.gif'); }

