﻿
.btnStyle {
    display: inline !important;
    color: #ffffff !important;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    height: 23px !important;
    float: left !important;
    text-decoration: none !important;
    background: #2fa1db !important;
    cursor: pointer !important;
    border: none !important;
}

    .btnStyle over {
        display: inline !important;
        color: #ffffff !important;
        font-family: "Open Sans", Roboto, Arial !important;
        font-size: 9pt !important;
        font-weight: normal !important;
        float: left !important;
        text-decoration: none !important;
        background: #2293cd !important;
        cursor: pointer !important;
        border: none !important;
    }

.btnUP {
    background-image: url(Images/up.png);
}

.divVersion {
    position: absolute;
    font-family: "Open Sans", Roboto, Arial !important;
    font-size: 8pt;
    background-color: #f1f1f1;
    width: 200px;
    height: 100px;
    padding: 10px;
    color: black;
    left: 330px;
    top: 80px;
    display: none;
    border-width: thin;
    border-top: #567497 2px solid;
    border-right: #567497 2px solid;
    border-left: #567497 2px solid;
    border-bottom: #567497 2px solid;
    z-index: 999;
}
