﻿
.show_hide {
    display: none;
}

.lidiv {
    width: 200px;
    height: 60px;
    border-bottom: 1px dotted darkgray;
    padding-bottom: 5px;
}

#hdrdiv {
    color: CaptionText;
    background-color: White;
    text-align: left;
    font-size: 14px;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-weight: bold;
    width: 321px;
    height: 19px;
    position: fixed;
    border-bottom: 1px solid lightgray;
}

.divnotices {
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    color: #5e696d !important;
    font-size: 12px !important;
    background-color: White;
    text-align: left;
    border-bottom: 1px solid #DBDBDB;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 1.8;
}

.divEmergencynotices {
    color: #333333;
    background-color: White;
    text-align: left;
    font-size: 10pt;
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    border-bottom: 1px solid #DBDBDB;
    width: 425px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 5px;
}

a {
    color: Blue;
}

#cr {
    background-color: #0072c6;
    color: White;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 2px;
    font-size: 11px;
    text-align: center;
    top: 0px;
    left: 22px;
    position: absolute;
    width: 10px;
    height: 10px;
    padding-bottom: 5px;
}

.msgpanel {
    position: absolute;
    top: 68px;
    right: 14px;
    bottom: 50px;
    overflow: auto;
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
}

img {
    border: 0px;
}

#imgico {
    background-image: url(../images/msg-1.png);
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 10px;
}




#divnew {
    width: 300px;
    overflow-x: hidden;
}

#divold {
    width: 300px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: lightgray;
    -webkit-border-radius: 0px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 0px;
    background: #666 url(../Images/scrollbar_thumb_bg.png) no-repeat center;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 0px;
    background: #666 url(../Images/scrollbar_thumb_bg.png) no-repeat center;
    cursor: pointer;
}

.messageheading {
    color: #333333;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-top: 19px;
    text-align: left;
    width: 237px;
}

.showgreen {
    color: Green;
    cursor: pointer;
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 30px;
    padding-top: 10px;
    text-decoration: underline;
}

    .showgreen:hover {
        color: Black;
        text-decoration: underline;
    }

.showred {
    color: Red;
    cursor: pointer;
    font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 8pt;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: underline;
}

    .showred:hover {
        color: Black;
        text-decoration: underline;
    }


.apsxlblcnt {
    padding-left: 50px;
}

.dxtc-content {
    border: 1px solid lightgray !important;
}

.dxtc-rightIndent {
    border-bottom: 1px solid lightgray !important;
}

.dxtc-tab {
    border: 1px solid lightgray !important;
}

.dxtcLite_Aqua > .dxtc-stripContainer .dxtc-activeTab, .dxtcLite_Aqua.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead, .dxtcLite_Aqua.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab {
    border-left: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
    border-top: 3px solid #6186B3 !important;
}

.dxtc-tab {
    background-color: #f4f2f2 !important;
    background-image: none !important;
}

.dxtcLite_Aqua {
    background-color: White !important;
}

.ASPXHLink {
    padding-left: 5px;
}

.PopupClass {
    background-color: #006699;
    border: 1px solid #006699;
    color: White;
     font-family: "Open Sans", Roboto, Arial, sans-serif !important;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 12px;
}
